[2020-08-04 14:57] kingaa commented on #121
@bogaotory:

Whoops, yes, you are right.

Perhaps I should say "only just before".

You misunderstand: `ivp(0.2,lag=13)` causes the perturbation to be applied only once, just before the observation at `time[13]`.  If you wanted perturbations to begin at that time and continue afterward, your expression would do that.

Yes.  Use `traces`.  This gives particle movements against IF2 iteration.

If yo

[2020-08-04 15:12] bogaotory commented on #121
Ah, I see. That makes sense since `ivp(0)` simply keeps the parameter at the initial guess. Somehow I didn't make that connection in my head. Great, thanks very much for your help!

[2020-08-04 15:21] #121 closed, assigned to nobody

[2020-08-04 15:22] kingaa commented on #121
And thanks for reporting the typo.  It's fixed in the release going out in a few minutes.

[2020-08-07 21:47] luismieryteran opened #122 "Error: in ‘simulate’: Mistaken array variable declaration in pomp, maybe?"
Hi there,

I am new to the pomp package and to C, potentially deadly combinations. I'm trying to set up a disease transmission model with an explicit serial interval in it. To force it to be Markovian, I truncate the serial interval at 5 days (for now) and make the state variable an array of length 5. Each step of the Markov process outputs the new 5 days worth of incidence given the previous 5 da

[2020-08-10 17:27] kingaa commented on #122
Thanks @luismieryteran, for such a carefully prepared question.  There were just a few small errors in your C code.  See the following:
[code]

This runs for me and should for you.  A couple of pointers:
1. Remember: he semicolon `;` is needed to end a line in C.
2. Read up on the `const` declaration in C and cf. your error messages.

Am closing this issue, but feel free to reopen if more discussi

[2020-08-10 17:27] #122 closed, assigned to kingaa

[2020-08-11 15:46] munozav opened #123 "Parallelized pomp object"
Dear Professor King,

Thank you very much again for your valuable program, this time I contact you because I am dealing with parallelisation problems on a Windows 10 computer. I followed the previous issues and I was able to run the program in parallel by creating a Pomp object with cfile and then parallelising the trajectory.

However, at the moment I am running a kind of SIR model where I need t

[2020-08-11 16:32] kingaa commented on #123
Have you tried creating an array of pomp objects outside of the parallel loop, differing in terms of the covariates?  Each one of the parallel jobs could select its own pomp object from the array.

Alternatively, if there are not too many covariates, you could pass a comprehensive covariate table and control which covariates are actually used by means of a parameter.

I would be remiss were I not

[2020-08-11 20:11] munozav commented on #123
Thanks for your prompt reply, professor, and I totally agree with you about the inefficiency of the Windows system, but unfortunately my only option is a Windows computer.

I tried to create a list with the pomp objects outside the parallel loop, but it doesn't work for all cases. Then I created pomp objects for each case k and gave them a specific k name. For example
[code]
 and then in the paral

[2020-08-11 21:02] kingaa commented on #123
If I understand you correct @munozav, you had partial success when you created the pomp objects outside of the parallel loop.  Can you be more specific about what worked and what didn't?

With respect to creating the pomp objects in parallel, you are recreating the conditions for the initial failure.  You should be able to create the pomp objects according for each case if you do it serially, i.e.

[2020-08-11 22:17] munozav commented on #123
Dear Professor King, sorry for my bad English, what I tried to explain to you was that when I created the pomp objects in parallel, out of the k cases, not all of them failed to produce the pomp object which was then successfully passed to the trajectory function in parallel.
But I am not able to determine why certain cases were successful, I couldn't find a pattern in the execution, it seems like

[2020-08-11 22:22] kingaa commented on #123
Your English was fine: I understood you correctly.  The random failure happens when Windows tries to compile codes in parallel.  I don't understand precisely why.

Did creating the pomp object in series, saving it to a list, and then running the trajectory function in parallel work for you?

[2020-08-12 09:04] munozav commented on #123
Yes, It works, and everything was thanks to you!!!!
Infinitely thanks for all!!!! have a nice day!!

[2020-08-12 09:04] #123 closed, assigned to nobody

[2020-09-11 12:03] tillweigt opened #124 "How can I prevent parameters getting negative in pmcmc?"
I'm fitting a standard sv model.

I get negative parameters for the sd of the transition equation.

I use uniform priors with positive support for this parameter.

How can I prevent the parameter from getting negtiave?

[2020-09-11 12:16] kingaa commented on #124
I suggest either writing a proposal that eschews negative s.d.s or reparameterizing (but you'll have to adjust the prior to match).

[2020-09-11 12:30] tillweigt commented on #124
Thank you for your fast answer.

I thought that dprior would do that as a negative proposal would lead to
negative infinity.

But it does not work that way.

Proposals in pmcmc are always normal. Thus, I do not see how to do it this
way.

Reparameterizing would be possible, but a bit tedious.

Ok, thank you. I thought there would be an easy setting with dprior or
something like that.

[2020-09-11 12:39] kingaa commented on #124
Perhaps I responded *too* fast!  I'm afraid I'm not familiar with "sv" models.  Perhaps that's just jargon I don't recognize....  Can you say a bit more about the model for the uninitiated?  In particular, what is the prior distribution?

If your dprior gives zero probability to negative values, then those proposals should be always rejected.  Are you saying that you are observing them being accep

[2020-09-11 13:02] tillweigt commented on #124
Hi again,

thank you for your fast reply.

Right now it works. Sorry. I really did not write you directly.

Here is the minimal example.

By the way, I do have another question.

Is it possible to start with a vector or a matrix of state particles. I
only foun the possibility to define a distribution.

Now, I wrote my own rinit function with metaprogramming. This works. I just
wondered, if there i

[2020-09-11 13:28] kingaa commented on #124
Thanks for the MWE: it makes everything much clearer.

You ask about initializing with a given matrix of state particles.  May I ask out of curiosity, why do you wish to do this?

In effect, you are making the initial values of the state particles part of your prior, so perhaps a more principled approach would be to conceptualize the prior as consisting of a mixture of Dirac delta functions at the

[2020-09-11 14:23] tillweigt commented on #124
We are working in a live environment.

The workflow is pmcmc, then pfilter for some datapoints, then again pmcmc,
then pfilter for some datapoints, and so on.

Every time a new datapoint comes in, we apply one step of pfilter using the
last state particles. That's why we do not need something stochastic as the
old particles were just resampled.

I do not understand your matrix solution. The proble

[2020-09-11 14:43] kingaa commented on #124
that `params` (in the pomp object) has to be a named vector. So I can not pass a
matrix to `params`. Otherwise it would be easy.

No, but **R** functions can access objects in the environment in which they were created.  So you could create a matrix to hold your states, then access this within your rinit function (which would not then depend on parameters, I suppose).

[code]

Recall from the docu

[2020-09-11 14:55] tillweigt commented on #124
Okay, that's possible. We solved it now with some metaprogramming without
going to the parent environment.

Thank you for the dprior definition.

[2020-09-11 15:53] kingaa commented on #124
I am closing this now.  Feel free to re-open if more discussion is warranted.

[2020-09-11 15:53] #124 closed, assigned to kingaa

[2020-09-12 08:12] tillweigt commented on #124
Thank you very much for your help

Am Fr., 11. Sept. 2020 um 17:54 Uhr schrieb Aaron A King <
notifications@github.com>:

[2020-10-19 13:54] Yalthoba1407 opened #125 "Error: in ‘pmcmc’: in ‘pfilter’:"
I  tried to fit the sir model via pomp package and I got this error
[code]

the error comes as
[code]

[2020-10-19 15:28] kingaa commented on #125
[FAQ 1.4](https://kingaa.github.io/pomp/FAQ.html#i-am-running-a-piece-of-pomp-code-i-found-on-the-web-but-i-get-errors.-what-is-going-on)

[2020-10-19 15:30] #125 closed, assigned to nobody

[2020-10-29 16:31] mayagroner opened #126 "rmeas and dmeas for random population samples (not incidence) data"
I’m hoping that you may be able to provide some advice about how to set up my measurement model. My datasets do not include incidence data as shown in most of the papers I have looked. Instead, I have time series data for 3 randomly selected sets of 60 fish that were tested for infection presence/absence. We also have estimates of the total population size at each timepoint. The disease is very sl

[2020-10-29 18:14] kingaa commented on #126
It sounds like it should be possible to do this.  If I understand you correctly, you have samples of fish and your presence/absence assay is a direct estimator of prevalence of infection.  For example, suppose you have a sample of size n and you observe k infected fish in the sample.  Assuming the test is perfect, the sample size n is much smaller than the full population size, and that infection

[2020-10-29 18:21] mayagroner commented on #126
Yes. You are correct. We have estimates of infection prevalence and the binomial sampling design makes sense.  The sample size is ~5-6 orders of magnitude lower than the population size (depending on the year, these populations are highly variable across years, something that we think may be contributing to the infection dynamics). Typically we sample the population three times at three locations

[2020-10-29 18:32] kingaa commented on #126
How do you think about the random effect of sampling event?  How are the fish caught in one net more or less similar to fish caught in different nets, or not at all?

Also, you mentioned that you have data on the population size itself.  What are the errors associated with those data?

You can see that the questions I'm asking are designed to help you focus on modeling the measurement error.  You

[2020-10-29 18:45] mayagroner commented on #126
We  see some variation in age among the fish caught in each sampling event and we know there is variation in prevalence across age groups. (Eventually, I think an age-structured disease model may be necessary, but I think a basic SI model is a good place to start).  There may be other sources of variation that we have not assessed (e.g., condition of fish- perhaps healthier fish aggregate towards

[2020-10-29 21:03] kingaa commented on #126
What would you think, then, about starting with a Binomial model for the prevalence -> sample positive connection, and a normal or lognormal model for the population estimate error?  I don't know much about stock assessments....

However, perhaps we should be worried if we use anything other than a Poisson model for fish.  ;-)

[2020-10-29 22:19] mayagroner commented on #126
That sounds like a good start! Thank you for the help and the joke.

[2020-10-30 12:51] AWalkInClouds opened #127 "Warning ：install.packages("panelPomp")"
I tried to  install.packages("panelPomp")  and I got this warning:
    Warning in install.packages :
  package ‘panelPomp’ is not available for this version of R

A version of this package for your version of R might be available elsewhere,
see the ideas at
https://cran.r-project.org/doc/manuals/r-patched/R-admin.html#Installing-packages

R version 4.0.3 (2020-10-10)
pomp  version 3.1
macOS Catali

[2020-10-30 13:01] kingaa commented on #127
Not sure what you're asking.  **pomp** provides a suite of low-level tools for inference.  You can use these to sample from the posterior, and then simulate the process.  What more do you want?

[2020-10-30 20:28] mayagroner commented on #126
Would this be the right way to code that? For the data, `popdata` is the population size data, `sigmadata` is standard deviation of the population size data, `positive` are the disease positive samples, and `negative` are the disease negative samples.

I have several lik terms in si_dmeas. Should these be named lika, likb, likc, likd? I'm not sure how to tell the model to maximize the likelihood a

[2020-10-30 20:56] kingaa commented on #126
Have a look at the following.
[code]

A few things to note:
1. I create two local double-precision variables, `lik1` and `lik2` to temporarily hold two components of the likelihood. These get filled with likelihood or log-likelihood as requested (according to the `give_log` flag). Accordingly, the `lik` is set equal to the product or the sum, respectively.
3. I'm assuming the latent number of infe

[2020-10-31 05:07] fintzij opened #128 "Big discrepancy between euler and gillespie/ode sample paths"
I am trying to code up an SEIR model in pomp and am seeing a rather large discrepancy in the distribution of sample paths that I generate when simulating with the Euler-multinomial stepper compared with both gillespie simulation and the deterministic ODE skeleton. I've attached some code below, which is largely based on examples in the pomp documentation. I'm fairly certain that the gillespie/ode

[2020-10-31 15:53] kingaa commented on #128
You raise several interesting issues.  Among them are:
1. What is the relationship between the Euler and the Gillespie simulators?
2. What is the relationship between stochastic simulations and a deterministic skeleton?
3. What is the role of exact simulations in data analysis?

Perhaps there are others that you would like to discuss as well.

On the first issue: the Gillespie algorithm is an exac

[2020-10-31 16:01] kingaa commented on #127
Please don't change the topic of an issue: it is confusing.  It is better to close the issue and open a new one.

[2020-10-31 16:02] kingaa commented on #127
As for your trouble installing **panelPomp**, why not bring that up on the **panelPomp** site?  I am not the maintainer of that package.  The error you are getting is because that package is not available on CRAN.  It is available elsewhere.

[2020-10-31 16:02] #127 closed, assigned to nobody

[2020-10-31 18:39] fintzij commented on #128
Hi Aaron,

Thanks so much for the quick and thorough explanation!!!! Very much appreciated, and especially on a weekend :-D

I'm surprised the Euler time step made such a huge difference! I had initially coded up this model for use in inference, and was getting very poor coverage rates in simulations for key parameters like R0. Hence, the original motivation for comparing the Euler and Gillespie s

[2020-11-01 18:39] kingaa commented on #128
Musings:

1. "Outsize", relative to what?
2. "Variance around the mean", on what scale?  Cf. Jensen's inequality.

[2020-11-01 19:42] fintzij commented on #128
Ah fair.

Re 1: I was surprised that too coarse a time step has an effect that essentially results in trajectories that we would expect under a much higher basic reproduction number (comparing the green and orange/purple bands in the plot you posted). This doesn't just appear in forward simulation. In coverage simulations, where exact outbreak paths are simulated from a Markov jump process using t

[2020-11-02 12:06] kingaa commented on #128
Fair enough.  If you take the continuous-time Markov process to be the truth, then the discretization introduces error, sure enough.  I just think it's worth questioning what seems to be the widely held assumption that the continuous-time process, or the ODE limit, is a good choice of foundation on which to build expectations about real epidemics.  In particular, it seems to be fairly generally th

[2020-11-02 12:08] kingaa commented on #126
Closing this now, but feel free to re-open if more discussion is warranted.

[2020-11-02 15:42] fintzij commented on #128
Oh, yeah agreed. A time-homogeneous process is unambiguously a terrible generative model for real world applications. I'd add that the homogeneity isn't just a problem because the unobserved population transmission process becomes more heterogeneous as the population size increases. From a statistical perspective, I think we should be really worried that heterogeneities in our our surveillance pro

[2020-11-02 16:24] kingaa commented on #128
Excellent points, well made.  I've appreciated mulling these things over with you.  Who knows, maybe this will even be useful to someone else reading this exchange somewhere down the line!

[2020-11-02 16:24] #128 closed, assigned to kingaa

[2020-11-06 00:51] mayagroner commented on #126
Thank you again for your help. I have a simple model coded using the dmeas and rmeas code you suggested, but I am getting some errors when I try to construct the pomp object. I've gone over it several times and I am not sure where the error is, but I have posted the code and error message below.  The data that go with the code are positive (# positives), sample size (# number tested for disease),

[2020-11-06 12:05] kingaa commented on #126
The error you got is just due to a name conflict between your parameter `beta` and the beta function, which is defined in `Rmath.h` and [documented in the **R** extensions manual](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Mathematical-functions).  I'd suggest renaming your parameter.  I usually use `Beta`, for example.  This one should go into the FAQ.

Debugging is an iterative

[2020-11-10 23:35] mayagroner commented on #126
Thank you very much! I think much of my confusion was associated with what can and cannot be declared within a Csnippet. I am going through the code now to understand how my errors are related to specific error messages.

One follow-up question is regarding the simulate function. I read through and addressed the suggestions in faq 4.5 (e.g., my covarariates tables extends from t(0) to several time

[2020-11-11 17:01] kingaa commented on #126
There are quite a number of interesting issues that come up in this context.  These range from simple matters to do with the code to more delicate issues to do with the way you think about the data.

Have a look at the following codes, which we can discuss.

[code]
I'm assuming a log-normal model for the errors in population-size estimates and recruitment.

[code]
In your model, recruitment and it

[2020-11-11 17:03] kingaa commented on #126
The big issue that deserves to be addressed is whether the demographic stochasticity you assume (by using Euler-multinomial distributions with deterministic rates for the infection and death processes) is really sufficient to explain the data.

[2020-11-17 23:15] mayagroner commented on #126
Thank you so much for helping me to get this running.  I think it may make sense to try using running the model with and without demographic stochasticity. This is a dynamic system and many of the sources of natural mortality fluctuate across years (e.g., predation, resource availability); these leads me to believe that an SDE will ultimately work better. As a first step, I have coded a determinis

[2020-11-18 00:19] mayagroner commented on #126
I should add to this that I have tried fixing mu at a more plausible value and in those cases the estimates for the disease mortality are about an order of magniture higher than I would expect based on our experimental work.

[2020-11-18 15:31] kingaa commented on #126
I think your idea of using SDE makes a lot of sense in this case.  For the reasons you mention, the stochasticity is not likely to be small.  Rather than view this as *removing demographic stochasticity*, it's a question of *adding environmental stochasticity*.  The two are certainly not mutually exclusive.

Probably the best way forward is to write SDE for the counting processes that track infect

[2020-11-18 17:47] slwu89 opened #129 "more detail on delays in blowflies1 and blowflies2?"
I'm interested in implementing models with delays, as was shown in the blowflies example(s): https://github.com/kingaa/pomp/blob/aaaf7413c4362734d667a11220be1ceda91affd7/R/blowflies.R#L95

This method only works for `discrete_time` models? Is there any way to model delays for `euler` based process models? Is there an official method to incorporate delays?

[2020-11-20 18:17] kingaa commented on #129
As the name implies, **pomp** assumes Markovian structure.  In particular, the latent state process must be Markov.  Of course, this is not necessarily incompatible with dependence on delayed variables.  If one can use the usual tricks to enfold the delayed variables into the state, one can make a Markov process out of one that has delays.  In the discrete-time case, this is particularly easy.  It

[2020-11-20 21:38] kingaa commented on #126
The issue I mentioned just above, to do with the recruitment, is the following.  If we situate our dynamical system in continuous time (as we do when we use `euler`), then we need to describe the random number of recruits that arrive within an arbitrary time-interval.  That is, if _R(t<sub>1</sub>,t<sub>2</sub>)_ is the random number of recruits arriving between times _t<sub>1</sub>_ and _t<sub>2<

[2020-11-21 16:20] slwu89 commented on #129
Thanks for the explanation @kingaa, I also looked through the closed issues and saw someone asking about a lag-2 Markov chain. I think this is good to close!

[2020-11-23 21:17] #129 closed, assigned to kingaa

[2020-11-30 21:25] mayagroner commented on #126
Thank you. That is working and the model is now giving realistic values for natural mortality. I see that you also included additional stochasticity in these lines:
[code]
Do you usually use `sigma=1` in the `rgammawn()` function?

[2020-11-30 23:49] kingaa commented on #126
No.  Typically, there is an additional parameter (or two in this case) to estimate.  I hesitated to go any farther.

[2020-12-01 00:17] mayagroner commented on #126
In the measles example in part 5 of your SISMID course, you have included `sigmaSE` as a parameter to estimate in your process model. Would you recommend taking this approach?
[code]
In that case `rgammawn()` is not included in the `reulermultinom()` function, and `W` is a variable that is tracked over time:
[code]

[2020-12-01 19:24] mayagroner commented on #126
I have tried including extrademographic stochasticity in the natural mortality rate (mu). I think that this is probably the parameter that has the greatest variance.
[code]

[2020-12-01 19:52] mayagroner commented on #126
There were a few mistakes in the code above (e.g., I forgot to take out the white noise from the `reulermultinom()` function in the process model. With extrademographic stochasticity around 'mu', the simulations are a lot closer to the data, although the population size estimates have a huge range. (`sigmaSE` is estimated at ~2 in the local search of parameter space that I conducted).
[code]

![im

[2020-12-02 00:12] mayagroner commented on #126
I have tried running my model in parallel, but I am getting a similar error message as that of Issue #96. I have specified `cdir=".", cfile="measSI"` outside of the parallel call here:

[code]

When I explore the local parameter space in parallel code (below), I get the following error message (note that all other relevant code is in the previous message).
[code]

[2020-12-02 12:36] kingaa commented on #126
The inclusion of the `partrans` argument triggers a C snippet build.  For some reason I do not yet understand, C snippet builds in parallel codes on Windows machines fail. To work around this, include the `partrans` argument *outside* of the `foreach` loop.

[2020-12-02 12:42] kingaa commented on #126
Not seeing any questions, I am going to close this issue now.  Feel free to reopen if more discussion is warranted.

[2020-12-06 07:26] Wurzelqueen opened #130 "SEIR model pomp package"
I try to model a SEIR for UK to evaluate the implemented containment measures and found some code of @kingaa with the pomp package here: https://kingaa.github.io/clim-dis/parest/parest.html I tried to transfer this to my case which adds one stage (E) and three more variables. In the end i want to do a least squared estimation to find the optimal beta hat.

[code]

As result i got this traceback:
[

[2020-12-07 18:50] kingaa commented on #130
Why not use the trajectory matching functionality built into **pomp**?

[2020-12-08 06:34] mayagroner commented on #126
When I do a global search of parameter space, I am getting 'illegal' parameter values despite having transformed my parameters.   Based on the error, I think that the issue may be related to the addition of white noise to the mortality rate; the problem doesn't occur if I run the model without the extrademographic stochasticity, though it is also possible that the model with the ED stochasticity i

[2020-12-08 14:23] kingaa commented on #126
Looks like you have at least one realization for which S = I = 0.  In this case, the population is extinct.  That's incompatible with the data, so it deserves a likelihood of zero, but it gets a likelihood of `NaN`, which causes the error.  In other words, when I = S = 0, I/(S+I) is `NaN` and `dbinom(positive, samplesize, I/(S+I), give_log)` gives `NaN` as well.  If you trap for S+I=0 and return 0

[2021-01-03 21:52] bbolker opened #131 "debugging statements in Csnippets?"
I'm trying to help out [this person on StackOverflow](https://stackoverflow.com/questions/65554258/r-function-loglik-returning-inf/65555154#65555154), and am curious (it's not really burning, I think they can diagnose/solve their problem without it) how/whether it's possible to put a `printf` or `Rprintf` (or some equivalent) within a Csnippet?

In the meantime, for debugging purposes they can use

[2021-01-04 02:49] kingaa commented on #131
Hi Ben! Good to hear from you! Happy 2021 to you too!

It's as straightforward as can be to put an `Rprintf` into a C snippet.  The snippets are just embedded into a file according to a template and then compiled via `R CMD SHLIB` and linked.  So any part of **R**'s [C API](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#The-R-API) is available.  There is at least one [example in Issu

[2021-01-04 13:46] kingaa commented on #131
Added [FAQ 7.1](https://kingaa.github.io/pomp/FAQ.html#debug-c-snippets).  Comments/suggestions very welcome.

[2021-01-04 14:26] bbolker commented on #131
Yeah, I did try `Rprintf` , but I forgot to put in a newline, so the code seemed to hang ... ? (Because something about output buffering ...)

[2021-01-04 14:34] kingaa commented on #131
Interesting.  That's never happened to me.  To get a MWE, would I just leave off the newline?

[2021-01-04 14:40] bbolker commented on #131
Seems to be a bad interaction with emacs. Run with `R CMD BATCH --vanilla`, this does fine.

[code]

[2021-01-04 14:53] kingaa commented on #131
Yeah, could be.  I just did the following in a standalone **R** session, and it runs fine.  In an ESS session, however, it seems to cause emacs trouble (the extra layer of buffering, maybe?).

[code]

[2021-01-04 14:55] kingaa commented on #131
BTW, it's good advice to the StackOverflow poster to avoid the workaround in things like
[code]
The **pomp** codes know how to handle the likelihood = 0 case correctly.  So trapping this just hides the actual problem, which is that the model is incompatible with the data.

[2021-01-05 14:03] #131 closed, assigned to nobody

[2021-01-12 18:59] #130 closed, assigned to nobody

[2021-01-12 22:55] mayagroner commented on #126
Hello Aaron. I am converting my simple SI model to an age-structured model which focuses on ages three through six plus (herring recruit to the mature population at age three, and I am lumping individuals 6 and older). I am getting `NaN` for the populations in my simulations. I believe this is due to the way I have modeled transitions between age classes. I would like to structure these transition

[2021-01-13 12:50] kingaa commented on #126
Hi @mayagroner, looking over the code, the only thing that jumps out is the fact that you have not allocated enough space for the local arrays `rate` and `trans`.  It looks like you need 12 elements for each: `double rate[12], trans[12];`.  I could look into it more carefully, but would need parameter values to simulate and filter....

[2021-01-13 19:30] mayagroner commented on #126
Thank you @kingaa. I made the change you suggested but I am still having the same issue. It would be helpful if you could take a more careful look. I've pasted the updated code along with the simulation starting values.
[code]

[2021-01-14 13:00] kingaa commented on #126
Aren't the units of your balance equations incorrect?
[code]
`Delta` has units of 1/time, so the units in the various terms are inconsistent.  I think you are trying to move *everyone* from one age class to another at the specified time.  So `Delta` should be either 1 or 0 depending on the clock time.

Also, note that after the first of the above equations is executed, the value of `S3` has change

[2021-01-14 13:48] kingaa commented on #126
Also, your lognormal measurement model is incorrectly specified.

Also, you have non-integer sample sizes in your covariate table.

[2021-02-03 21:03] ksm5k opened #133 "error, 'simulate' function"
[code]

is what I run.

I receive the following error:
[code]

I ran `? simulate` and looked at the documentation, and I do not see this argument listed. I don't have any variables `n` in my earlier code.

What should I do?

[2021-02-04 03:01] kingaa commented on #133
Do you have a parameter called `n`?

If you need more help, you’ll have to follow FAQ 1.1.

[2021-02-25 03:50] kingaa commented on #133
I am closing this issue.  Please reopen if necessary.

[2021-02-25 03:50] #133 closed, assigned to nobody

[2021-03-15 13:44] SwethaLal opened #136 "How to use ddgamma(x,shape,scale) in rprocess of Csnippets?"
I was trying to use the discrete gamma distribution in an rprocess step and it showed me the error:
[code]
It looks like gamma distribution is defined and can be used here, whereas discrete gamma distribution is not to be found.

The R code I wrote contained the following.
mu is the mean and var is the variance of the discrete gamma distribution and k and r gives the shape and rate respectively fo

[2021-03-15 15:27] kingaa commented on #136
With a C snippet, you can access any C function, provided you can link to it.  By default, **pomp** gives you access to the **R** C API, which includes many distribution functions, but not all.  In particular, the discrete Gamma distribution is not provided.  I do not know whether any add-on packages provide a C interface for this function.

I was not familiar with this distribution, but I read (i

[2021-03-15 15:27] #136 closed, assigned to kingaa

[2021-03-22 11:42] Spatial-R opened #137 "Can I fit surveillance data using zero-inflated Poisson or negative binomial distributions?"
Recently, i try to use the pomp package to fit the surveillance data. The problem is that there is nearly 50% points (77/150) with zero value due to the spare sampling intensity. Therefore, i guess that the zero inflated Poisson or negative binomial distribution is more suitable for my data to calculate the likelihood. I have searched the Rcpp document, however, there is no function to realize thi

[2021-03-22 11:55] kingaa commented on #137
There may not be a C interface to the specific distribution you want.  You can either (1) find a package with a C interface that implements this distribution or (2) implement the distribution functions you need in C yourself.  In the case of zero-inflated distributions, the second choice is probably the easiest.  A zero-inflated distribution is just a mixture distribution.  Thus, for example, supp

[2021-03-23 02:09] Spatial-R commented on #137
Thanks for your kindly help. I followed your guidance and writed the dmeas and rmeas part using the following codes:
[code]
I assumed that both the `total_a` and `total_b`  are supposed to  follow a zero-inflated Poisson distribution. However, when running the model, there is an error:  `Error:` in ‘mif2’: ‘dmeasure’ returns illegal `value.` Since there is no error when using the overdispersed bin

[2021-03-23 12:48] kingaa commented on #137
The dmeasure snippet needs to fill `lik` with either the likelihood or the log likelihood, according to the needs of the calling algorithm (which in principle you cannot control).  See [the documentation](https://kingaa.github.io/pomp/manual/dmeasure_spec.html).  The code you give doesn't meet this requirement.  Moreover, you are asking `dpois` to give you the log likelihood, then you are multiply

[2021-03-23 13:12] kingaa commented on #126
Am closing this issue.  Feel free to reopen if more discussion is warranted.

[2021-03-23 13:12] #126 closed, assigned to nobody

[2021-03-24 13:39] Spatial-R commented on #137
Thanks! I can run the pomp model now. It seems that the result from the global searching is not well good. I will check the data and model structure again, eg, other distributions in the measure part.

[2021-03-24 13:55] kingaa commented on #137
I will close this issue now.  Feel free to reopen if more discussion is warranted.

[2021-03-24 13:55] #137 closed, assigned to kingaa

[2021-03-31 04:57] MiguelFudolig opened #139 "Compatibility with R 3.6.3?"
Hello,

I tried installing pomp again after not using it for a long time and it says that pomp is not yet available for 3.6.3. Will the package be updated soon so it can work on 3.6.3? My only option right now is to work with 3.5 and use version 1 of pomp, which entails editing the syntax for the codes.

Thank you and I appreciate your response!

Warning message:
[code]

[2021-03-31 05:12] #139 closed, assigned to nobody

[2021-03-31 05:14] MiguelFudolig commented on #139
Just installed 4.0 instead. Sorry for the bother!

[2021-04-06 20:45] mayaxm opened #140 "[help wanted]Measles example MLEs"
Hello, from the measles example, after the pomp model m1, there is one step load the CSV file, my question is how to get this "mles" CSV file (how did this CSV file got generated?) for those parameters? Is there any way to extract those parameters' values from m1? I was trying to test pomp package get daily transmission rate from Covid-19 data (we have daily time, cases, deaths, hospitalization da

[2021-04-07 03:54] JinjiPang commented on #103
I have exactly the same problem, is this problem solved or not?

[code]

[2021-04-07 16:08] kingaa commented on #103
This is not the same problem at all.  Read your error message:
[code]
The variable `S_?tra0` is undefined (and is not even legal C).

[2021-04-07 16:10] kingaa commented on #140
The MLEs in question were computed as part of our analysis of measles data.  We estimated the parameters.  You will need to estimate parameters.  That is what **pomp** is for.

[2021-04-07 16:10] #140 closed, assigned to kingaa

[2021-04-07 22:41] mayaxm commented on #140
Thank you so much for your response Dr. King! There is one question not clear to me is that: which function we use from pomp to estimate parameters? where we got this CSV file? Thank you again!
read.csv(text="
town,loglik,loglik.sd,mu,delay,sigma,gamma,rho,R0,amplitude,alpha,iota,cohort,psi,S_0,E_0,I_0,R_0,sigmaSE
Bedwellty,-1125.1,0.14,0.02,4,57.9,146,0.311,24.7,0.16,0.937,0.0396,0.351,0.951,0.03

[2021-04-07 22:56] kingaa commented on #140
**pomp** is designed to assist you with estimating parameters.  That is its function, as a package.  There are many functions in it to help.  I suggest you begin with some of the tutorials, perhaps the short course on Simulation Based Inference.

[2021-04-17 16:38] tbrown122387 opened #141 "looking for more information on `bsmc2()`"
I'm just looking for more information on `bsmc2()`. The [documentation](http://kingaa.github.io/pomp/manual/bsmc2.html) reads

How are states being proposed? Bootstrap style using the state transition?

[2021-04-17 16:41] tbrown122387 commented on #141
It looks like the user gets to specify this with `rprocess`. I'll close the issue. Thanks.

[2021-04-17 16:42] #141 closed, assigned to nobody

[2021-05-13 20:59] gokhale616 commented on #111
Hi Dr. @kingaa ,

I have been faced with a problem similar to the one posted here.  I am working with a trajectory matching problem and thus have rely on the `trajectory()` workhorse for my analysis.

Problem: I wish to generate a pulse of individuals entering into a state variable at a time t > t0.

Looking around, it became clear that pomp doesn't play nicely with all of the features available i

[2021-05-14 19:43] kingaa commented on #111
@gokhale616: You are correct that **pomp**, though it uses **deSolve**, does not attempt to provide all the functionality of the latter.  However, **pomp** does support models that are time-inhomogeneous (i.e., non-autonomous), so one can do the job.  However, when one has a non-smooth time-dependence (as you do) and one uses the sophisticated integrators in **deSolve** (which in effect assume smo

[2021-05-18 15:06] gokhale616 commented on #111
This made a lot of sense @kingaa.

Both the 1st  and 3rd method were quite straight forward to implement and as you mention both of them introduce a slight non-determinism into the system trajectories.

Thanks lot for a quick response!

[2021-06-21 23:36] catherinebyrne opened #149 "Trajectory Fitting issue"
Hello,

I am trying to work through a pomp model vignette that involves fitting ecological data to a system of ODEs.

https://github.com/kingaa/pomp/issues/51

I'm really struggling with the trajectory matching part as the function traj.match that is used in this model I believe is depreciated. In the example I'm referring to, the code is:
[code]
How should this be written now? I think the functio

[2021-06-22 20:37] kingaa commented on #149
The workflow as of **pomp** version 2 is to construct an objective function that is then optimized using any general-purpose optimization tool.  The optimization function created is *stateful* in that it remembers the point at which it was last evaluated.

For example, the following fits four parameters from an SIR model to simulated data (the model and data are those from the [example included in

[2021-06-23 21:28] kingaa commented on #149
I've tried to streamline your code down to focus on the essentials.  Since you are doing trajectory matching, your `rproc` is neither here nor there.  I don't have `dat3`, so I can't verify if this works properly.  If the thread continues, please upload that (or something that acts like it; it isn't necessary to include the *actual* data) with your reply.

[code]

Note that the `dmeas` as you had

[2021-06-23 21:34] kingaa commented on #149
One thing does occur to me: you define `Vs_r`,  `Vb_r`, and  `background` as latent states, but you do not provide any derivatives.  I suppose you are assuming that, left unspecified, these derivatives are effectively zero.  **This is not a safe assumption**.  In general, uninitialized memory locations contain undefined values.  I would suggest either:
[code]
which ensures that these state variabl

[2021-06-25 13:11] kingaa opened #151 "Error I'm getting for pfilter function"
<sup>Originally posted by **MiguelFudolig** June 24, 2021</sup>

I am trying to use POMP to perform iterated filtering to get an MLE for the parameters of a modified SIR model that I have developed. I am currently following the short course on iterated filtering (http://kingaa.github.io/short-course/mif/mif.html) and I have been getting the following error:

[code]

I was successful in using the p

[2021-06-25 13:22] kingaa commented on #151
@MiguelFudolig: I've moved this to Issues, where it seems to belong better.

It seems that the parallel workers are not seeing the object you defined as `sir`, but instead are finding a function of the same name, [perhaps the one defined in the **pomp** package itself](https://kingaa.github.io/pomp/manual/sir.html).  The easiest fix would be to give the object you create some other name.  Alternat

[2021-06-25 13:25] kingaa commented on #111
Am closing this now.  Feel free to reopen if more discussion is warranted.

[2021-06-25 13:25] #111 closed, assigned to kingaa

[2021-06-25 16:30] MiguelFudolig commented on #151
Replacing the pomp object name worked perfectly. The `pfilter` function now works. Thank you very much!

[2021-06-25 19:11] #151 closed, assigned to kingaa

[2021-06-25 23:42] catherinebyrne commented on #149
Your responses have been very helpful! I have the model working!  Another issue has arisen though. So far I have been fitting to data capturing Vs and Vb over time (measured daily). However, I also have data capturing T, but this is not measured as often (every 4 days). Is there a way to include all the data when doing the fitting?

I tried to follow what was written in https://kingaa.github.io/po

[2021-06-27 14:46] kingaa commented on #149
I don't immediately see anything wrong with your code.  Do you see error messages?  On what basis do you conclude that `N_T` is being entirely ignored?

[2021-06-27 14:59] kingaa commented on #149
I also note that your data variables `N_Vs` and `N_Vb` are not integers, as your model assumes.  What are these variables?  Why have you selected a Poisson measurement model?

[2021-06-27 18:42] catherinebyrne commented on #149
Yes, you are right that N_Vs and N_Vb are not integers. We are infecting mice with a luciferase-tagged virus that emits light, and putting these mice in a bioimager. The values represent the amount of light emitted by the virus in units of photons/s. For simplicity, I'm assuming that each virus emits 1 photon/s.  There is also some background signal in this measurement which I am also trying to ac

[2021-06-27 19:07] kingaa commented on #149
The Poisson is a discrete distribution: It is defined only on the non-negative integers.  I think it would be wise were you to give some more thought to the measurement model.  For example: what are the errors you expect to see on these measurements?  Do you think the error is better conceived of as additive or multiplicative?

The weight given to each distinct data stream is a function of the dis

[2021-07-06 12:42] kingaa opened #152 "Error: in ‘bsmc2’: ‘dmeasure’ with log=TRUE returns illegal value"
Recently, some colleagues (from an economic background)  working  on vineyard dieback came to me with the goal of extracting signals from data they have. Looking at their model, I thought POMP would be suitable as opposed to STAN (they planned to use). Because I have never used POMP myself, I tried to play with it myself. However, when I tried to use a Bayesian sequential monte carlo method on sim

[2021-07-06 12:47] kingaa commented on #152
It appears that the problem is to do with the fact that you sometimes have `I <  I_1`, in contradiction to your assumption that `I_1 ~ Binomial(I,rho_I)`.  This is evident in the error message, which prints the values of the state variables and the data (and also the parameters).  To diagnose this, I ran your codes and noticed the messages coming from the `dmeas` snippet.  I modified that snippet

[2021-07-06 14:39] kingaa commented on #152
Thanks for your quick reply. It works now.

[2021-07-06 14:39] #152 closed, assigned to kingaa

[2021-07-20 19:36] mehrdadfazli opened #153 "Global Search failing bc of one particle"
I ran into this problem while globally searching for the best parameters. When I choose (say) 300 random points in a hypercube (using design functions in pomp) and let the mif maximizes the log likelihood, if one parameter of one particle diverges (e.x. goes to infinity) the entire process fails with error which can ruin a lot of cpu power. I was wondering if there is a way in pomp that skip those

[2021-07-20 19:53] kingaa commented on #153
Are you using `foreach`?  I ask because `foreach` has the `.errorhandling` option, which can be configured to either filter errors out or to pass them along, if either of those is preferable to the default behavior, which is to stop if a single error is encountered.

[2021-07-23 19:13] mehrdadfazli commented on #153
Yes I was using "foreach" and your suggestion solved the issue. Thanks a lot!

[2021-07-23 19:14] #153 closed, assigned to kingaa

[2021-08-09 12:43] kingaa commented on #149
I'm closing this issue now, but feel free to re-open if more discussion is warranted.

[2021-08-09 12:43] #149 closed, assigned to kingaa

[2021-09-22 04:46] mehrdadfazli opened #157 "Measurement model for multi-observed variables/states"
I wanted to ask for your suggestion as to what is the most effective way of defining a measurement model for more than one observable. Currently, what I am doing is to add the likelihoods like `lik = lik_X + lik_Y`. However, this gives rise to an issue which is that the scales of `X` and `Y` are very much different. So, the likelihood and consequently the parameter estimation would be dominated by

[2021-09-22 11:38] kingaa commented on #157
@mehrdadfazli: these are good questions.

With respect to your first question: The relative weight that is given to each of the observables is determined by the breadth (e.g., the variance) of the measurement distribution.  You have unlimited ability to adjust this by adjusting your measurement model.  In particular, if the measurement model is scaled appropriately, the fact that the observables h

[2021-09-22 17:35] mehrdadfazli commented on #157
Thank you for your clarifying remarks. I now see how variance plays a role in governing the likelihood. However, do you suggest fixing the variance of the variables? As the model might not be able to strike a balance between the two and favors one variable more in estimation (after all its goal is to maximize the `log lik`).
Following is my code (and the link to the data). I appreciate your insigh

[2021-09-22 18:43] kingaa commented on #157
The question of how to weight the variables is no different from any other question about the model.  If your measurement model has adjustable parameters that control the variance of the error distribution, then one can estimate these parameters, by maximum likelihood for example, just as one would the other parameters.

It *is* worth thinking about where in the data the information about these pa

[2021-09-22 18:47] kingaa commented on #157
I notice that, in your measurement model, you are assuming that the variance of the measurement error scales linearly with the mean.  What is your rationale?

[2021-09-22 23:41] mehrdadfazli commented on #157
Well, it was a first guess trying to make sure we have enough variability in the model. But now that I am thinking maybe it was not a good idea (for V at least) and maybe that is why V has a dominant `log lik`. I will try to set the variance to a single parameter.

Thanks a lot

[2021-09-23 01:30] kingaa commented on #157
That might be good.  It is very often the case, however, that the variance scales with the mean, either linearly (as you have assumed) or quadratically.

In order to maximize the likelihood by iterated filtering, it is first necessary to be able to filter.  If you ensure that your model has enough measurement error that it is able to filter, then the `mif2` algorithm can always reduce the variabil

[2021-09-23 16:23] mehrdadfazli commented on #157
Something I experienced with my model (not exactly the one posted) was that filtering was working fine and gave me a reasonable likelihood. But when I applied iterated filtering it would fail (with `Inf` or `NaN` value for `lik` and/or some parameters). Sometimes, reducing the `rw.sd` could solve the issue. That is why I ended up with very small values of `rw.sd` for some parameters.

[2021-09-23 17:53] kingaa commented on #157
Are you transforming the parameters when applying `mif2`?  If you don't, then when `mif2` proposes, for example, negative transmission rates, the model produces nonsense, no?

[2021-09-23 20:58] mehrdadfazli commented on #157
I do transform parameters to avoid negative values. But, since there is no upper bound sometimes some of the parameters explode which results in an illegal value for the likelihood.
[code]

[2021-09-24 12:38] kingaa commented on #157
Interesting.  Which parameters explode?

[2021-09-29 19:11] mehrdadfazli commented on #157
It was not for this specific model. I will open another ticket if that happens again. Thank you so much for your prompt responses.

[2021-09-29 19:57] kingaa commented on #157
I will close this issue, then.  Feel free to reopen if more discussion would be useful.

[2021-09-29 19:57] #157 closed, assigned to kingaa

[2021-11-01 08:25] Curley-l opened #164 "How to simulate the time-varying parameter model by pomp package?"
I refer to the pdf of "INTRODUCTION TO POMP BY EXAMPLE" to simulate a time-varying parameter model with two explanatory variables, but the "simulate“ function doesn't work.

The state equation is:
alpha_t = alpha_t-1 + sigma_1， sigma_1~N(0,1)
beta1_t = beta1_t-1 + sigma_2， sigma_2~N(0,1)
beta2_t = beta2_t-1 + sigma_3， sigma_3~N(0,1)

The measurement equation is: y = alpha_t +x1_t*beta1_t + x2_t *

[2021-11-01 11:52] kingaa commented on #164
See [FAQ 1.4](https://kingaa.github.io/pomp/FAQ.html#old-code).

The interwebs are full of old and outdated information.  A more reliable source for information regarding **pomp** is the [**pomp** website](https://kingaa.github.io/pomp/).  In particular, the [documentation page](https://kingaa.github.io/pomp/docs.html).

I am not sure what you mean by "the TVP model", but one can certainly incorpo

[2021-11-01 12:07] kingaa commented on #164
@justly129: Might you be looking for something as simple as the following?

[code]

I don't have any data or covariates, so I simply fabricated them for illustration purposes.

[2021-11-16 03:21] stevenhuyi opened #166 "encounter problems when conducting trajectory fitting"
I am trying to use an SEIR model in pomp to fit my observed seiries of HFMD data. I encounter an error when constructing the skeleton argument and my codes are as follows:
[code]
here comes the error:
[code]
As the births in the covariate dataframe is the annual accumulated number of the born, births * dt should be the number of individuals entering the susceptible at each dt step. What type is th

[2021-11-16 12:55] kingaa commented on #166
@stevenhuyi: thanks for the detailed report.

The error message arises because the `dt` variable you reference is not defined in the context in which the C snippet is executed, except as a function (the probability density function for the Student t-distribution, definitely not what you had in mind, no?).  This explains the error: C doesn't know how to multiply (`binary *`) a number (`'double'`) a

[2021-11-16 13:54] stevenhuyi commented on #166
Thanks for your instant reply, @kingaa. I think I should reply to your second question first. As my equations showed, I should specify a vectorfield in skeletion part. Actually, I didn't know exactly when to specify a vectorfield and when to a map at the beginning although I was sure that my equation is a differential one. Now, I think it should be specified as a vectorfield. Would you please also

[2021-11-16 15:20] kingaa commented on #166
This is one thing that is not complicated!  The generator of a continuous-time dynamical system is a vectorfield; a map generates a discrete-time dynamical system.

When you specify the skeleton as a vectorfield and ask for a trajectory, **pomp** calls an ODE integrator from the **deSolve** package.  This routine decides internally how to translate your specification of the *rate* of various event

[2021-11-17 01:37] stevenhuyi commented on #166
I am wondering where `dt` is defined, is it defined automatically within rprocess?

if so, what's the point of specifying `delta.t` in `euler(stepfun,delta.t))` ?

Finally, I changed my codes as follows to estimate the parameters, however, it turned out some problems. I thought if it is the subjective starting value for parameters causing the problem. Would you help me out. Thanks very much.

[cod

[2021-11-17 03:38] kingaa commented on #166
Yes, the step size is chosen by the **pomp** function that is evaluating your rprocess snippet.

As the [documentation](https://kingaa.github.io/manuals/pomp/html/rprocess_spec.html) states, this is the *maximum* allowed value of the stepsize.  Smaller steps will be taken if an integer number of steps of the specified size do not fit perfectly in the needed interval.

[2021-11-17 13:16] stevenhuyi commented on #166
Thanks for your explainations, @kingaa, and they are very helpful. However, the  results of my trajectory fitting are as follows which are very strange.
[code]
I did not estimate `mu`, `delta`, and `gamma`, but they changed. Estimates of `S_0` and `R_0` are not reasonable. There also seems  a problem of convergence. Thanks for your patience.

[2021-11-17 13:39] kingaa commented on #166
Did you notice any warning messages?  I did when I ran your code.  You should be aware that, in some parameter regimes, your model may be stiff, which makes integration hard.  I don't have the time to teach you about all of these things.  You can read about numerical solution of ODE (the **deSolve** manual may be a good place to start).  Also, you should be aware that nonlinear optimization is a h

[2021-11-22 03:57] Curley-l commented on #164
Hi there,

I am new to the pomp package and to C, potentially deadly combinations. And I would like to ask a question related to the covariables in the pomp.

The following is the model formula I would like to build through the pomp package:
![image](https://user-images.githubusercontent.com/50195218/142798400-9ab1628a-f7ba-4e5e-a722-e42178d16516.png)

The code of the model is here:
[code]
But I f

[2021-11-22 09:20] Curley-l commented on #164
Refer to the question from https://github.com/kingaa/pomp/issues/102
I get the simulated data from the following code, by adding the " #define covar(K) (__covars[__covindex[K]])" to introduce the covariable into ”rmeasure“ Csnippet.
I am not sure if this is correct~~
[code]

But I still have a question that, the problem in this link (https://github.com/kingaa/pomp/issues/102) has K variables in th

[2021-11-22 13:26] kingaa commented on #164
I'm afraid I don't quite understand your question.  In the formulae you posted above, I see an x_t, but I do not see x1.  What is x1?

When you use `covar = covariate_table(...)`, the covariates defined there must be named and will be available, by name, in all the C snippets (except those for the rprior, dprior, and partrans basic components).  Best practice is to specify `covariate_table` using

[2021-11-22 13:31] kingaa commented on #164
Also, I note that your code might not be doing what you think it is: consider the lines:
[code]
and
[code]
Are you missing brackets (`{}`) in your for-loops?

[2021-11-22 13:34] Curley-l commented on #164
Thank you for your prompt reply!
I use x1 in the code to represent xt in the formula.

`covariate_table(t=seq(0,T), x1 = as.matrix(X[,1:4]), times="t")`

This means that if I name the covariate x1, I don’t need to define the covar when I write code using Csnippet in rmeasure? Can it be quoted directly?

[2021-11-22 13:35] kingaa commented on #164
But it looks like x_t is a vector, correct?

[2021-11-22 13:38] kingaa commented on #164
The code may run, but does it run correctly?  In the third line of
[code]
`i` is always equal to `lags`.  In C, whitespace is not syntactic.

[2021-11-22 13:45] Curley-l commented on #164
Yep, the x_t is a vector. For example, x_t is a 1*4-dimensional vector, I need to first calculate the weight of each element in x_t through the following equation：
![image](https://user-images.githubusercontent.com/50195218/142871725-d2d3d91b-0273-4aad-b405-00ec75e2582b.png)

And then multiply the corresponding weight by x_t to get a 1*1 dimensional result.
Finally, at every moment t, a result cor

[2021-11-22 14:25] kingaa commented on #164
![image](https://user-images.githubusercontent.com/50195218/142871725-d2d3d91b-0273-4aad-b405-00ec75e2582b.png)

Finally, at every moment t, a result corresponds to a beta.

We can make this easy, or we can make it general.  Since you have a 4-vector to multiply, I suggest just writing out the sum, which will have four terms.  In each term, you can refer to the component of your x-vector *by name*

[2021-11-22 14:26] #164 closed, assigned to kingaa

[2021-11-22 14:45] Curley-l commented on #164
Actually the j in the code is equal to i. I just use a different notation.

And the theta1 and theta2 in the follow formula are subject to a random process， so I need to write it into the rmeasure function.  I don't know wether I understand correctly.

![image](https://user-images.githubusercontent.com/50195218/142881041-5b45499c-8dd3-42d7-a60a-bd8705f0b917.png)

[2021-11-22 14:50] kingaa commented on #164
I see.  If your intention is to communicate, then it seems you would want to use a notation that others can understand.  Not only does the ratio in Eq. 1 not make any sense, it is not at all clear that x is a vector.  Again, I suggest you get the mathematics right before you go any farther.

[2021-11-22 15:35] Curley-l commented on #164
Thank you for your time and reply. I will get the mathematics right and then translate it into pomp correctly.

[2021-12-06 01:57] mehrdadfazli opened #167 "MIF unable to fit to the data"
Hi,

I am working on fitting an SEIR model to my data. I have two observed variables (`V` and `Y`) and I add up their log-likelihoods to get the total likelihood. The model works pretty smoothly. I can get reasonable simulations with some good guesses and particle filtering works fine too. I did a search over 2400 parameters sets (with 400 mif interactions and decreasing cooling factor). However,

[2021-12-06 13:00] kingaa commented on #167
@mehrdadfazli: thanks for the very carefully prepared Issue.  I have looked over your code and do not see any obvious problems with it.  I suppose `sdmm` is some covariate, which you assume modulates the transmission rate?  I see you are assuming that the incubation period and the infectious period are known (6 d & 8 d, respectively).  Curiously, you are interested in estimating the birth rate fro

[2021-12-06 16:14] mehrdadfazli commented on #167
Thank you for your prompt response Dr. King.
Regarding the first part of your question, we are not assuming actual birth or death. The birth rate here is taken to be the number of individuals that come to the S pool (ex. people who have been practicing staying at home so far but cannot keep it up for some reason and enter the S pool).

In the case of `Y` I do not think we necessarily need overdisp

[2021-12-06 16:52] kingaa commented on #167
Excellent.  Thanks for the clarification.  So we have established that the model makes sense as an expression of the questions you are asking and that the implementation is an accurate reflection of the model.  Now let us try to figure out why the MLE seems so strange to you.  I agree, it does seem puzzling that the simulations at the starting parameter at least have the same shape as the data, an

[2021-12-19 23:14] mehrdadfazli commented on #167
Thank you Dr. King for your thorough explanation and sorry for my late reply. I have tweaked my model a little bit. First of all, I included both covariates in transmission rate (previously `events` was included in the birth rate). Also, to make the model focus more on `Y` and penalize parameters that yield simulations that are far from `Y` I got rid of the overdispersion in `Y` and I used Poisson

[2021-12-20 22:38] kingaa commented on #167
This is very helpful.  Now, as you say, we can see that the model can fit one of the data sets well, but not the other.

It is possible that there is some region of parameter space lurking somewhere within which the model fits much better, but I doubt it.  It seems, rather that the model is constrained in some way that prevents it from fitting both data sets.  Which is interesting.

It looks as th

[2021-12-23 20:01] mehrdadfazli commented on #167
Thank you so much Dr. King for your help. It turns out I mistakenly multiplied the number of infections by the *reporting rate* (to get the reported cases) twice! The results were close to the data all this time. I also set `rho_Y` to a free parameter. Both of the models (with fixed or free `rho_Y`) are satisfactory now.

Not scaled:
![image](https://user-images.githubusercontent.com/43502750/1472

[2021-12-28 02:43] kingaa commented on #167
Glad to have helped.  I'll close this issue now, but feel free to reopen if more discussion is warranted.

[2021-12-28 02:43] #167 closed, assigned to kingaa

[2022-04-17 08:20] stevenhuyi commented on #166
Hi, @kingaa . Thanks very much for you advice on estimating parameters in the non-linear dynamic system.  I've read a lot of literature on this topic and pomp. Now, I‘m still working on my data. This time I use the `mif2` function instead to carry out the parameter estimation as follows:
[code]
Although the overall fitting is relatively well the diagnostic test indicated that the 5% quantile, acf[

[2022-04-18 16:54] kingaa commented on #166
@stevenhuyi: you ask a number of interesting questions.

From the most general perspective, one can always seek to improve the match between model and data.  Whether it is worthwhile to do so depends on your purposes, which we have not discussed.  From a narrower perspective, what does the discrepancy between model prediction and data, as revealed in these three summary statistics, tell us?

The l

[2022-05-02 14:56] holaanna commented on #152
I am facing the same issue but with a log likelihood of Nan (likelihood=-Inf) in the model. This error appears in both bmsc2 and pmcmc. Is it not another bug? It supposes to reject such moves I think.

[2022-05-02 17:44] kingaa commented on #152
Seems more likely that the bug is in your code, since likelihoods should never be negative.  See also [FAQ 4.1](https://kingaa.github.io/pomp/FAQ.html#illegal-dmeasure).

[2022-05-07 07:14] Spatial-R opened #169 "Can we fit the time-series with the weighted likelihood?"
I wanted to ask for your suggestion as to what is the most effective way of fitting the surevillance data.
Currently, I want to use the mathematical model to fit the long-term time-series data. However, the vast majority of time points are in the non-epidemic period, when the number of monitored cases is at a low value. Thus, the model seems to focus on fitting these low values, and the fit of the

[2022-05-10 13:07] kingaa commented on #166
I am closing this issue for now.  Feel free to reopen should more discussion be warranted.

[2022-05-10 13:37] kingaa commented on #169
The question of "weighting" the data is equivalent to the question of what form the measurement model takes.  The larger the variance of the measurement model, the smaller the weight that is associated with the data.  In other words, if you don't believe that the low values in the data are precise measurements, this should be reflected in your measurement model as a large variance, which in turn w

[2022-05-13 03:06] Spatial-R commented on #169
Thanks！I will try the newest version of pomp and reset the measurement model.

[2022-05-13 09:30] kingaa commented on #169
I will close this issue for now.  Feel free to re-open if more discussion is warranted.

[2022-05-13 09:30] #169 closed, assigned to kingaa

[2022-06-25 05:08] stevenhuyi commented on #166
@kingaa thanks for your patience and explanations.

The primary goal of my experiment is investigate whether the intensity of the hand foot and mouth disease (HFMD) incidence (shown in `ind_case.scv` file) is driven by the two components of climatic variable (which are the result of principal component analysis). Considering your suggestion of "how constraints on the model are preventing it from d

[2022-06-25 15:52] kingaa commented on #166
@stevenhuyi: Unfortunately, I have limited time available to help you reason about your model and your data.  You are much more intimately familiar with them than I am.  My advice to you is twofold:

First, keep in mind that no model will ever be perfect.  If you set yourself the goal of finding a model for which diagnostic statistics $X_1, \dots, X_n$ are consistent with the data and doing so wit

[2022-06-26 14:04] stevenhuyi commented on #166
@kingaa Thanks for your instant and detailed reply every time.

Got it. I used to focus too much on those probe statistics and always hope they are all good. This time, I've comapre  the model simulations with data as follows:
<img width="723" alt="0" src="https://user-images.githubusercontent.com/39373773/175817493-052fb938-3386-44ec-9859-76b47182836a.png">
it seems that if the simulations can be

[2022-06-26 14:10] kingaa commented on #166
Very good observation.  As you say, perhaps your seasonality predictors are not as good as you had hoped.

One suggestion: supplement the envelope plot you made above with a plot showing the data and 10 or so random simulations.  This can reveal things missed by the envelope plot.

[2022-07-05 20:21] kingaa commented on #166
Closing this issue now.  Feel free to re-open if more discussion is warranted.

[2022-07-05 20:21] #166 closed, assigned to kingaa

[2022-07-18 16:00] catherinebyrne opened #175 "Implementing a time delay in pomp"
Is there any way to write a system of ODEs in pomp with a time delay in one of the equations? Are there any examples online where you do this?

[2022-07-18 17:39] kingaa commented on #175
Hello @catherinebyrne!

A key restriction in **pomp** is that the latent state process be Markov *of finite order*.  That is, the state must be a point in $\mathbb{R}^n$ for some $n<\infty$.

If we have a dynamical system governed by equations of the form $$\frac{dx}{dt} = f(t,x(t),x(t-\tau)),\qquad x\in\mathbb{R}^n$$ where $\tau>0$ is a delay, then in general, the dimension of the dynamical syste

[2022-07-18 17:39] #175 closed, assigned to nobody

[2022-10-14 19:07] trh3 opened #177 "Using R's internal sample function in CSnippet"
Dr. King,

I'm hoping that this is a fairly simple question to answer, but I'm trying to set up some ordinal measurement state space models in pomp, and am running into trouble figuring out how to integrate R's internal `sample` function. More specifically, I really don't know which of the functions related to `sample` to use. I'm fairly new to using R's internal C functions, so I'm likely missing

[2022-10-17 16:01] kingaa commented on #177
Have you looked at the [documentation on the C API](https://cran.r-project.org/doc/manuals/R-exts.html#The-R-API)?  In particular, do you know that there *is* a C entry point for `sample`?  If you don't find the answer there, do include the code and I can try to help you figure it out.

[2022-10-17 19:57] trh3 commented on #177
Aha, I was looking at the R source code and trying to pull functions from there, rather than looking at the actual documentation, thanks for pointing me to that! That said, there doesn't seem to be an entry point for `sample`, none described in the documentation at least (though again, I could be missing something). I did manage to use `rmultinom` and then check the sampled vector, which is workin

[2022-10-18 12:17] kingaa commented on #177
Yes, this will work for sampling with replacement, but I believe it may not be very efficient.  Looking into the innards of the `rmultinom` function, you see that [it requires repeated calls to a binomial sampler](https://github.com/wch/r-source/blob/trunk/src/nmath/rmultinom.c#L89), each of which requires a minimum of one `runif`.  In principle, to draw a single random sample from a set of choice

[2022-10-18 14:26] trh3 commented on #177
I thought the multinomial sampler might not be very efficient! The structure of this model makes it amenable to the `runif` call/ check against cumulative distributions. I'll modify and post that code here for reference.

[2022-10-18 16:18] trh3 commented on #177
If `p1` is an array of cumulative probabilities ordered descending with a 0 appended (in this case, 6 categories, array length of 7), then one can sample from the set of choices as follows:
[code]

[2022-10-18 16:30] kingaa commented on #177
See also [the code for `nosort_resamp` in **pomp**](https://github.com/kingaa/pomp/blob/master/src/resample.c#L25).

[2022-10-20 16:04] trh3 commented on #177
Fantastic thank you! This has been very helpful!

[2022-10-20 16:04] #177 closed, assigned to nobody