[2015-07-06 13:53] kingaa opened #1 "it don't work!"
I plugged it in but it done broke.

[2015-07-06 16:45] kingaa commented on #1
Dang.

[2015-07-06 16:45] #1 closed, assigned to kingaa

[2015-07-08 12:19] Spatial-R opened #2 "Demo(sir) don't work"
The **demo(sir)** cann't work well in my compute. Error messages are:

Error in (function (name = NULL, dir = NULL, statenames, paramnames, covarnames,  :
    cannot compile shared-object library        ‘C:/Users/dell/AppData/Local/Temp/RtmpSEv0Pr/pompB0D5B1C24832.dll’
     In addition: Warning message:
     running command '"D:/R-3.2.1/bin/R" PKG_CFLAGS=" -ID:/R-3.2.1/library/pomp/include" CMD

[2015-07-08 12:25] kingaa commented on #2
You are running `pomp` under Windows.  Have you installed [Rtools](http://cran.r-project.org/bin/windows/Rtools) as mentioned in the installation instructions?

[2015-07-08 12:46] Spatial-R commented on #2
Yes, Rtools have been installed successfully!

[2015-07-08 13:00] kingaa commented on #2
And you still have the error?

[2015-07-08 13:02] Spatial-R commented on #2
YES. The **demo(rw2)** work well, however, the **demo(sir)** don't work!

[2015-07-08 13:10] kingaa commented on #2
Please try the test code below and send me the results.

cat("#include <R.h>
     void hello (void) {
     Rprintf(\"hello world!\n\");
     }",
    file="hello.c")
system("R CMD SHLIB hello.c")
dyn.load(paste0("hello",.Platform$dynlib.ext))
.C("hello",PACKAGE="hello")

On Wed, Jul 8, 2015 at 9:02 AM, Bing Zhang notifications@github.com wrote:

##

Aaron A. King, Ph.D.
Ecology & Evolutionary Biolo

[2015-07-10 01:08] kingaa commented on #2
To run the sir demo, one needs the ability to compile C code and dynamically link it to an R session.  See the installation instructions on the package website.

[2015-07-10 01:08] #2 closed, assigned to kingaa

[2015-07-10 14:49] Spatial-R commented on #2
I have solved the problem by reinstalled the Rtools and make sure  that the path was added correctly. In the process of installing Rtools, it will promt whether to add the path automaticly. Thanks Kingaa!

[2015-09-29 20:57] dvassilev2 opened #3 "Error plotting results from mif2()"
Hi,
I'm getting an error when trying to plot diagnostic charts after running mif2(). It's quite possible that it's me doing something wrong but it's not at all obvious from the error. So if it turns out not to be a bug, it would be nice to get an error message that allows me to fix the issue myself.

mif2() runs without any warnings and the estimated parameter values make sense.

[code]

The effec

[2015-09-29 21:20] kingaa commented on #3
Yes, would you please send a replicable example.  I will see, too, what can be done about making the error message more informative.

[2015-09-29 23:35] dvassilev2 commented on #3
I emailed the code + data to your umich.edu address.

[2015-09-30 13:58] kingaa commented on #3
This is a bug.  In the case of a scalar state variable, the 'filter.mean' method was dropping the singleton dimension of the filter.mean array, in conflict with the assumption of the plotting method.  This has been fixed in version 1.2.1.2, which I'll commit to github now.  If you install this version and get another error, please let me know!

Thanks for your very efficient bug report!

[2015-09-30 13:58] #3 closed, assigned to kingaa

[2015-09-30 15:43] dvassilev2 commented on #3
You are welcome and thank you for the quick fix!

On Wed, Sep 30, 2015 at 6:58 AM, Aaron A King notifications@github.com
wrote:

[2015-10-30 16:31] martinezmicaela opened #5 "time varying random walk standard deviations"
The developer version of pomp 0.44-1 has time varying random walk standard deviations. It would be great if this feature were integrated into the next release version.

-Micaela

[2015-10-30 17:00] kingaa commented on #5
pomp is now at version 1.2.1.5, some 540 commits and 32 months newer than version 0.44-1.  The functionality requested has been present via the 'mif2' function since version 0.69-5 (July 2015).  See '?mif2' and the tutorials for information.

[2015-10-30 17:00] #5 closed, assigned to kingaa

[2015-11-19 07:18] dtsh2 opened #7 "statenames error with R version 3.2.2"
I get the following error message using the R 3.2.2 version, but not the R 3.0.3 version:

"Error in paste(statenames, ".0", sep = "") : argument "statenames" is missing, with no default
Error: ‘simulate’ error"

Attached is the relevant section of R code (r_code.txt) and the C code. I tried to load up the .R and .c files but got an 'Unfortunately, we don’t support that file type.' message when I

[2015-11-19 09:20] kingaa commented on #7
Thanks for bringing this to my attention.  As it stands, I can't quite see what the problem might be, because I can't get the codes to compile.  When I do

[code]

(having renamed your C source file), I get

[code]

Have you checked to see if this file compiles on your system?

Also, when I do

[code]

(having renamed your R code file), I get

[code]

Which is a syntax error.  I notice that I woul

[2015-11-19 09:45] dtsh2 commented on #7
I just emailed the .c, .dll, data, and .R code. Hopefully that does the job.

[2015-11-19 09:49] kingaa commented on #7
I don't think the DLL you sent can possibly correspond to the C code, because the latter won't compile.  When you switched to R 3.2.2 and the new version of pomp, did you recompile the DLL?

[2015-11-19 10:17] kingaa commented on #7
The issue with the DLL is still troubling me, but the immediate source of the error is clear now.  Try changing your call to the `pomp` constructor to the following:

[code]

The issue is that your `initializer` function needs to know the names of the state variables.  At some point many versions ago, `statenames` became an argument to `pomp` and thus not something that is passed to `initializer`.

[2015-11-19 18:31] tilling opened #8 "Cannot run mif2 on BBS example"
Has anyone ever run mif2 on the BBS example? pfilter works, but not mif2.
The error message is
[code]
which might have to do with the fact that the variable S is almost entirely missing.

If anyone has actually run this before, I would be grateful to see the code.

[2015-11-19 18:44] kingaa commented on #8
[code]

Perhaps the problem you encountered was to do with failure to specify `transform=TRUE`.  The default behavior, which adds the random-walk perturbations on the natural scale, results therefore, from time to time, in negative values of the parameters, hence undefined likelihood.  See also [FAQ 4.1](https://kingaa.github.io/pomp/FAQ.html#non-finite-dmeasure).

[2015-11-19 18:44] #8 closed, assigned to kingaa

[2015-11-23 03:10] dtsh2 commented on #7
You are right in all cases - 1) the code revisions you put there work, so
thanks. That solves my initial problem. 2) the .dll is an issue. I hadn't
tried recompiling this or if I had I don't recall getting the error.

I will close this issue and take a look at the .c file and see if I can
resolve the compiling issue myself. In the meantime, apologies for the
delayed reply and for not keeping up wi

[2015-11-23 03:11] #7 closed, assigned to kingaa

[2015-11-23 13:19] kingaa commented on #7
As you revisit the C code, one word of advice.  I recommend that you use the `Csnippet` facility now provided by **pomp**.  It _should_ make the coding somewhat easier, as it obviates the need for the function and macro declarations.  See the [tutorials](http://kingaa.github.io/pomp/vignettes) for examples, and let me know if you run into problems.  It's through users like you that we build up the

[2016-02-08 11:27] mc30 opened #9 "Problem with compiling C snippets on Windows"
I have a problem running pomp on my Windows (7, x64) machine. I have installed: pomp 1.2.2.1, R 3.2.3 and Rtools 3.3 (also tried 3.2).

Some of the C snippets do compile, but one of them doesn't. I get:
[code]
The problem is that I have
[code]
in this file instead of
[code]
that I have for other generated .C files.

Any ideas why this might be happening?

[2016-02-08 12:11] kingaa commented on #9
Hmm, interesting and strange that the failure occurs only for one Csnippet. Could you post the code that produces the error?

[2016-02-08 12:18] mc30 commented on #9
Here's the code:

[code]

I get the error while trying to run the last command (i.e. inside simulate() function).

[2016-02-08 12:27] kingaa commented on #9
Curiouser and curiouser...

The error doesn't show up when the codes are compiled, but when 'simulate' is run.  What is the error you get, precisely?  The error you mention in your original post must come during the compilation (i.e., in the call to 'pomp').  Have you tried re-running all the codes in a fresh session?

[2016-02-08 12:43] mc30 commented on #9
It seems to work now... All the generated .C files have the absolute path to "pomp.h". So I can't reproduce the error I used to get.

Thanks for your help anyway!

[2016-02-08 13:02] #9 closed, assigned to kingaa

[2016-02-25 11:26] BlackEdder opened #10 "Fit multiple time series"
This is not really an issue, but more a request for some pointers. All the examples I found deal with the situation were you have one long time series. In contrast I have a large number of short time series. Is it possible to fit data such as that to a model? The data model does not seem to allow one to pass multiple time series. (The time series are independent of each other, but of course depend

[2016-02-25 12:49] kingaa commented on #10
Your question can be answered on at least two levels.  On the formal level, pomp can certainly accommodate multivariate time series.  There is one example of this in the documentation (ou2), and we have used this capacity several times in our own research.  Formally speaking, there is nothing to stop you treating all your time series at once.

On the practical level, however, when the number of ti

[2016-02-25 13:25] BlackEdder commented on #10
Thank you for the thorough answer. The example seems to be exactly what I want, so I will have a careful look at it.

[2016-02-28 17:34] #10 closed, assigned to kingaa

[2016-03-01 15:00] kingaa commented on #10
See also the new [FAQ 3.2](https://kingaa.github.io/pomp/FAQ.html#multivariate-data-pomp).

[2016-03-01 16:46] christelpei opened #11 "Multitype epidemic models - state/parameter vectors or matrices"
I am interested in multi-type epidemic models in which the states (statenames) will for example have to be subdivided into age groups. It would therefore be helpful to have vectors with the numbers of susceptible hosts in certain age classes S[0]…S[n](as well as infected etc.). Is there a way to formalize this within pomp or do I have to define states S0, S1,…,Sn manually?

Having this in mind, is

[2016-03-01 16:48] christelpei opened #12 "File handling and access of (multidimensional) arrays within Csnippets"
Is it possible to read data from file in the Csnippets, in particular for initialization or parameter choice – and how do I mask quotation marks in the file handles?
Is it otherwise possible to read a parameter matrix (e.g. a contact matrix) within in R and use it within the Csnippets (and how do I deal with the different offset in array indices starting from 0 or 1 in C and R, respectively)?

[2016-03-01 17:15] kingaa commented on #11
With respect to the first question, this is exactly [FAQ 3.1](https://kingaa.github.io/pomp/FAQ.html#vector-in-csnippet).  Have a look there.  Essentially, one has to give the name of the first element to `statenames` and to ensure (by way of the `initializer`) that your elements are contiguous.

With respect to the second question, it is neither necessary nor a good idea to do file IO within a `C

[2016-03-01 17:21] kingaa commented on #12
See the response to Issue #11.

[2016-03-01 17:21] #12 closed, assigned to kingaa

[2016-03-03 13:36] Jochen2222 opened #13 "Rprintf in Csnippet"
I'm trying to estimate parameters in a multi-vairate epidemic model via the mif2 algorithm. Unfortunately there is often an error message that the dmeasure returns non-finite values during the mif2 process. In your documentation it says that using Rprintf in the dmeasure Csnippet can help debug the error.
If I use the Rprintf statement in my Csnippet code there is always an error message during th

[2016-03-03 13:40] christelpei commented on #11
Thanks a lot for the fast response and for pointing me to the helpful FAQs that I had overlooked. I think I have moved a step forward for the vector of state variables (though I will still have to test out how to deal best with its components) , but I am still struggeling with the parameters

I need to have access to a contact matrix to parameterize the model which I already have transformed to a

[2016-03-03 14:22] kingaa commented on #13
What is the error message you are getting when you try to build the `pomp` object with the `Rprintf` statement in it?  It would be most helpful if you could provide a simple example that produces the error.

[2016-03-03 14:25] kingaa commented on #11
I think it may be easier than you are imagining.  Can you provide your code in a form that can be run?   I will edit it to show you a solution.  (Please provide a full set of codes that I can run.  If you want to replace any sensitive data with fake data, that's fine.)

[2016-03-04 08:40] Jochen2222 commented on #13
oh, sorry about that.
the dmeasure Csnippet looks like:

[code]

...so obviously I'd like to get the value of the likelihood and the error message I get is:

[code]

[2016-03-04 11:40] kingaa commented on #13
Very good, thanks.  Try

[code]

Note the escape characters in the `Rprintf` format argument are needed because the whole snippet is a text string.

The thought here is that, by printing the values of the parameters associated with non-finite values of the likelihood, you'll get some insight into what is going wrong.  My guess is that your standard deviations are going negative.  If this turns out

[2016-03-06 10:45] Jochen2222 commented on #13
Thanks a lot. It worked. The issue is that some states go beyond any limit. But thanks to you I know where the issue is, thanks.

[2016-03-06 18:14] kingaa commented on #13
Glad to have been able to help!

[2016-03-08 16:44] christelpei commented on #11
Thanks again for this helpful adivse - carefully preparing the code in a form to provide it to you made me notice a few inconsistencies that I had not seen before - and it worked! :-)

However, I encountered another rather peculiar problem with the following code (usage of your bsflu data does not make an awfully lot of sense - it is just to fill the constructor):

[code]

This code will fill X1..

[2016-03-08 23:21] kingaa commented on #11
Excellent!  Now I can really see where we are.  Check out the following

[code]

The issue appeared to be that you were not resetting `lambda[i]` at each time step.  The consequence was that the force of infection accumulated through time, eventually resulting in the arithmetic errors you were seeing.

The codes above fix this, and also show off a couple of nifty C features:
-  use macros to make

[2016-03-09 12:07] kingaa commented on #11
To go back to an earlier question: how does one fill a `userdata` slot?  Consider the following amendments to the codes just above.

[code]

Note that `contact_matrix` is passed as a named argument to `pomp`.  This results in the message:
`
In ‘pomp’: the following unrecognized argument(s) will be stored for use by user-defined functions: ‘contact_matrix’
`
as the matrix is added to the `userdata`

[2016-03-10 10:50] Jochen2222 commented on #13
Hey, I wasn't sure if I need to open a new topic or continue this one.
Thanks to you I was able to get all the states and likelihoods in every time step due to the Rprintf command.
At some point all my particles go zero which means some of my states go beyond any limit after that and an error message occurs that dmeasure returns non-finite values.
So I read I can choose a tolerance limit via "tol"

[2016-03-10 13:05] kingaa commented on #13
Not sure what you mean by "all particles go to zero".  What becomes zero?  If the likelihood of the particles is becoming very small, that is because those particles are incompatible with the data.  This, in itself, is not a cause for concern.  What happens when you run 'pfilter'?

[2016-03-10 14:08] Jochen2222 commented on #13
I mean the likelihood of all particles becomes zero at some point and after that the states start to grow to (+/-) infinity so that the algorithm stops with an error. That means I'm not able to run pfilter with mle-parameter values. With my initial parameter guess the pfilter works fine

[2016-03-10 14:19] kingaa commented on #13
I am confused, because if what you claim is correct, then the likelihood at your initial parameter guess is higher than the parameters you get after running `mif2`.  If this is really happening (I note that you don't say whether you've actually tried running `pfilter` at your initial guess), then it is almost certainly a bug either in your code or in mine.

If in `pfilter` all particles have likel

[2016-03-11 10:53] Jochen2222 commented on #13
Yes, I'm seeing the warning about "filtering failure". The thing is if I'm running mif2 there is the error message "Error : ‘mif2.pfilter’ error: ‘dmeasure’ returns non-finite value" and if I'm running mif2 a second time with the same initial guess mif2 seems sometimes to work with just the "filtering failure" warning message mentioned above!?

If I'm running pfilter the likelihood with my initial

[2016-03-11 14:22] christelpei commented on #11
Thanks for your detailled feedback! I have indeed been sloppy in assuming lambda[i] might as a local variable by default be reset to zero after each time step. Still, I find it a bit surprising that lambda[i] accumulated if I include the printf or directly assign int n = 5. Otherwise, it becomes NaN.

Also thanks for the code that is now working fine and consistently and for explaining userdata sl

[2016-03-14 01:53] kingaa commented on #11
In **pomp**, the _parameters_ are always double-precision floating-point numbers.  If you want to pass integer-valued parameters, you need to recast them in your C snippets.  You can also pass integers using the `userdata` slot, by simply giving pomp those arguments as integers, then accessing them via `get_pomp_userdata_int`.  The prototype is:

[code]

as defined in `pomp.h`.

Here's an example

[2016-03-14 02:19] kingaa commented on #13
I wasn't able to run your code.  I get error

[code]

Because I can't run it, I can only guess as to what the problems might be.  Just looking over your code, I note a number of elements that may not be what you intend.
1. You attempt to estimate 34 parameters (`length(estpars)`), yet you only transform 13 of these.  If, in its search of parameter space, `mif2` proposes negative values for some of

[2016-03-14 12:19] Jochen2222 commented on #13
Ok, so I provide you with the data matrix 'FIPS_einzeln' and the covariate matrix 'covar' in the attachment.
I changed the transformation so that the only parameters allowed negative values are these inside the exp-function and I adjusted the process model according to your comments:

[code]

The issues still exist. If I'm running mif2 the 'dmeasure' returns non-finite value but the pfilter works

[2016-03-14 12:25] tpa8395 opened #14 "Summarizing the posterior distribution"
When using pmcmc for estimation, I note that the package outputs parameter estimates which can be extracted using the coef function. Does the software calculate these estimates using all pmcmc samples in a chain? Is there a way to specify burn-in? Does the package calculate standard deviations or credible intervals for parameters?

[2016-03-14 14:41] kingaa commented on #13
I believe I see what the difficulty was.  There were several related issues.

In the following, I have modified your process model line `M[0]=N0+((lambda-N0)*(2/tau)*dW)*dt` to  `M[0]=N0+(lambda-N0)*(2/tau)*dW`.  The former is proportional to `dt^2`; the latter, to `dt`.

Two aspects of your codes are in contradiction.  You log transform the `bet` parameter, yet in your initial guess, you sometime

[2016-03-14 14:41] #13 closed, assigned to kingaa

[2016-03-14 15:05] Jochen2222 commented on #13
Thanks a lot for your help!

[2016-03-14 15:55] kingaa commented on #14
When applied to the result of a `pmcmc` calculation, `coef` returns the current (final) state of the chain and so is not so useful for inference purposes.  Using `conv.rec`, you can extract an `mcmc` object (defined in package **coda**) containing the full history of the MCMC chain .  This can be windowed, thinned, etc., like any other **coda** `mcmc` object.  Given such an object, **coda** also p

[2016-03-14 19:46] tpa8395 commented on #14
Thanks for your timely and clear response. I will look at the new documentation and provide some feedback.

[2016-03-14 19:46] #14 closed, assigned to kingaa

[2016-03-15 11:18] kingaa commented on #14
Please have a look at the documentation in version 1.3.4.1.  Any suggestions for improvements would be appreciated!

[2016-04-09 15:19] umbertopicchini opened #16 "problem in compiling after defining dmeasure"
Hi

I can compile the examples provided in the package so my machine should be set ok.

I have some compilation issue once I define a dmeasure.

Here follows a minimal example, which works OK. Then I insert the problematic line.

[code]

So the above is all fine. However after I add a dmeasure to the pomp object, that's when I get a compilation error.

`nlingauss <- pomp(nlingauss,dmeasure=dmeas,s

[2016-04-09 16:02] kingaa commented on #16
It's necessary to tell `pomp` about any parameter names _at compile time_.  These are not stored in the `pomp` object.

Thus:

[code]

compiles without problem, as does:

[code]

which compiles all the codes at once.

Does this solve the problem?

[2016-04-09 22:10] umbertopicchini commented on #16
Thank you so much for addressing the issue so rapidly on a Saturday.
Yes this solves completely the problem.
I am going to experiment further with the package. Hope you don't mind if I come back with questions.

[2016-04-11 12:59] kingaa commented on #16
Not at all.

[2016-04-11 12:59] #16 closed, assigned to kingaa

[2016-04-11 14:57] Spatial-R opened #17 "How to shorten the simulation time on the basis of credible results"
I have run a simulation using the parallel computation (doMC package) on a cloud server (Intel Xeon CPU,Cores:16), however, it haven't be finished for nearly four days. The dataset in the simulation is the weekly case for two years. The Np and Nmif argument in mif function is 2000 and 100(I don't know whether it is enough to get the credible result), respectively. How could i make the simulation f

[2016-04-11 15:39] kingaa commented on #17
There are numerous reasons why your computations might be taking so long.  Because you [provide no code](http://kingaa.github.io/pomp/FAQ.html#how-can-i-submit-an-effective-request-for-help), I am left to guess as to the causes, which is a waste of my time and yours.  Here are a few questions that pop into my head:
- have you used Csnippets to speed up your code?  This can give ~100X performance i

[2016-04-12 12:01] Spatial-R commented on #17
Sorry! The codes and dataset are [here](https://github.com/Spatial-R/Dynamic-Model-for-Infectious-Disease/tree/master/Example). And i thanks for your kindly response.

[2016-04-12 18:21] kingaa commented on #17
I slightly modified your codes (just to simplify them really, see below) and run the following in 2.2 min on my 40-core Xeon E5-2650 2.3GHz machine.  I'm doing 100 mif iterations with 1000 particles think this is about 1/10 the time it would take were I to follow you in doing 200 mif iterations with 5000 particles each.  [Computing time is roughly proportional to the product of mif iterations and

[2016-04-15 15:31] Spatial-R commented on #17
Thanks!  I have changed the structure of the pomp model based on the codes above and come across another question:
Error : in ‘pfilter’: ‘dmeasure’ returns non-finite value
I guess there are negative or non-integer state variables in the simulations. Therefore,   i want to make sure the result of item (`pm10 * pam3pm10+ temp *pam3temp`) in the rprocess is no-negative, where the pm10 and temp are c

[2016-04-15 19:21] kingaa commented on #17
Note that I did not change the structure of your model codes.  Nor am I competent to do so: I don't know what you're doing or why.  I suggest you contemplate the structure of your model and see if there are constraints on the parameters, beyond those that you have implemented already, that make sense.

[2016-04-15 19:21] #17 closed, assigned to kingaa

[2016-04-28 07:07] umbertopicchini opened #18 "resampling frequency"
Hi
in the documentation it is clearly stated that the currently implemented particle filter resamples particles at each time point. I was wondering if there exist an experimental version of pomp (e.g. a version intended for future release) that allow users to control the resampling frequency, e.g. resample only when the ESS goes below a certain threshold.

[2016-04-28 10:52] kingaa commented on #18
Such an experimental version does not exist, but I'd welcome contributions in such a direction.  The codes that would need to be modified are quite compact, mostly contained in the 'pfilter.c' file and in 'pfilter.R'.  Would you be interested in contributing?

[2016-04-28 12:50] umbertopicchini commented on #18
Thanks, but (sadly) I am not a C nor R programmer

On 28/04/2016 12:52, Aaron A King wrote:

[2016-05-04 09:57] Jochen2222 opened #19 "Transform parametervector"
Is it possible to write a Csnippet for parameter transformation in case the parameter is a vector?
For example the parameter is rho_S=(rho_S_1,...rho_S_17). My approach so far for the "fromEstimationScale" is:

[code]

[2016-05-11 15:48] kingaa commented on #19
It is possible, as the codes below show.  Were you getting an error before?

[code]

[2016-05-11 15:50] #18 closed, assigned to kingaa

[2016-05-12 06:19] Jochen2222 commented on #19
I get a lot of warning messages like:

So the question is when do I use "const double \* " instead of just "double\* " ?
My simplified code is:

[code]

[code]

states_names<-c(sprintf("N1_%d",1:Anz),sprintf("N2_%d",1:Anz),sprintf("N3_%d",1:Anz))
estpars<-c(sprintf("bet_%d",1:Anz),sprintf("alpha_%d",1:Anz))

init<-c(as.numeric(States[1,c(5:10)]))
names(init)<-c(sprintf("N1_%d.0",1:Anz),sprintf("N2

[2016-05-12 06:49] kingaa commented on #19
This is really a C issue.  Because in these functions, you are not allowed to change the inputs, only the outputs, the former are declared [`const`](https://en.wikipedia.org/wiki/Const_%28computer_programming%29).  Read any C reference (e.g., [this one](http://en.cppreference.com/w/c/language/const)) or check out, e.g., [this stackexchange question](http://programmers.stackexchange.com/questions/2

[2016-05-12 06:49] #19 closed, assigned to kingaa

[2016-05-26 20:05] alejob opened #20 "Using R function instead of CSnippet"
Hi, I'm trying to replicate this tutorial http://kingaa.github.io/pomp/vignettes/getting_started.html, but instead of use CSnippet I want to use R function. I have not found any example of this. I want to do this to call an external binary from R (with system()) and to understand better the pomp's implementation.

So, I've replaced this function in the tutorial:

[code]

for this

[code]

and then

[2016-05-26 21:28] kingaa commented on #20
The reason you see `Csnippet` featured prominently in the documentation and very little on the **R** function option is that one can experience up to 100-fold speed-ups using compiled code. One might imagine that this advantage is balanced by the fact that it is, for most people, easier to write **R** code than **C**  code.  It is, however, difficult to anticipate all the variants one can come up

[2016-05-27 17:12] alejob commented on #20
First of all, thanks for the quick answer and recommendations.

 Well, I didn't want to bore you explaining what I'm trying to do in the first post, but if you are curious, I'll tell you. We are developing a program in my lab called [PISKa](https://github.com/naxo100/PISKa)([documentation](https://github.com/alejob/PISKa/wiki)), based on [KaSim](https://github.com/Kappa-Dev/KaSim), this program ma

[2016-05-31 17:41] kingaa commented on #20
Interesting.  In principle, it seems a good plan.  A lot will depend on the computational expense associated with your simulations.  The effective methods implemented by **pomp** are all based on Monte Carlo integration or Monte Carlo sampling, and hence require large number of simulations.  Just how many is "large" will of course depend, and the computational cost of each simulation will depend o

[2016-06-06 20:17] alejob commented on #20
Thanks for the answers ;)

 I'm closing this issue.

[2016-06-06 20:18] #20 closed, assigned to kingaa

[2016-06-07 11:57] christelpei opened #21 "zeronames functionality"
I find the zeronames argument of pomp very helpful, but I needed a little trial and error to find out how it works exactly:
From the documentation it was not immediately clear to me whether "setting to zero after each observation" refers to the time points given in the time series data frame or the simulation step (delta.t, dt). Given the former, it might be worthwhile to warn users of "missing va

[2016-06-09 16:53] kingaa commented on #21
Thanks for the excellent feedback.  You put your finger on what has long been a point of confusion for beginning pompistas.  However, you should know that the treatment of accumulator variables in **pomp**   is correct even if the observations are not uniformly spaced in time.

Your point about surprising effects associated with `t0` when using accumulator variables is also a good one.  If one wis

[2016-06-13 11:11] christelpei commented on #21
Thanks for this helpful advice and the encouragement that I am not alone with my confusion. I indeed found out that the accumulator variables collect all data between two observation points. However, In case of missing data in a time series, this is usually not what you want to compare to. Typically a data point is just missing, for example in a time series of yearly incidences a missing data poin

[2016-06-14 10:02] kingaa commented on #21
This looks great and I can tweak it a bit here and there.  Shall we try writing a few blurbs for the "Pimp my pomp" page?  I suggest we add three sections:
1. How to handle missing data?  In addition to illustrating the use of NAs in the data, we should point out that the proper likelihood to associate with missing data is 1.
2. How to deal with accumulator variables and `t0` much less than `t[1]`

[2016-06-14 14:46] christelpei commented on #21
Sounds great - although I feel not exactly like an expert...

I could start writing No. 1 but would like to hand over to you for the discussion on the proper likelihood as this goes deeper into the implementation of pomp that I hardly know in its full depth.

No. 2 is included in the above and I will be happy to write a suggestion.

I could also recycle code from above for No. 3, though I am not s

[2016-06-18 19:54] njuxcui opened #22 "pmcmc function could return Nan Nan Nan value for SIR model using the pomp"
I am using SIR model by the pomp. Former, I found the the pomp very useful. But these days, after I update my R studio, I am facing some problem for  "task 2 failed - "in ‘pmcmc’: error in ‘pfilter’: Error : in ‘pfilter’: ‘dmeasure’ returns non-finite value."(The weird thing is that sometime it could work out, but sometime it could not work out. But I used the same code.) So I add the print part t

[2016-06-19 16:01] kingaa commented on #22
Have you looked to see what is becoming of the parameters during your MCMC chain?  If some parameters that are assumed positive are actually being proposed to be negative, could this account for your problem?

[2016-06-19 19:23] njuxcui commented on #22
I found that some parameters that are assumed positive , but actually being proposed to be negative.

[code]

You could see in the output of the rprocess in the pomp during the pmcmc, after one step, the parameter that is assumed to be positive becomes negative. But that is quite weird, you could see that in the above code, I did the transformation(log and exp as the inverse). This should make sur

[2016-06-19 19:29] njuxcui commented on #22
One more thing, the prior I am now using for the pmcmc is:

[code]

Former, when I am not using this prior, the pomp `pmcmc` works well. But after I using this prior, problems come out. Any problem here?

[2016-06-20 04:04] njuxcui commented on #22
I have tried it several times, but it doesn't work out. So for my SIR model using the `pmcmc`, how could I make log transformation to the parameter and exp transformation to transform the parameter back to keep the parameter positive?

[2016-06-20 21:35] kingaa commented on #22
You are assuming that `pmcmc` makes use of the parameter transformations you provided.  This is not correct.  `pmcmc` does not transform the parameters at all.  One might think that it would be easy to provide such a facility.  However, to properly transform the parameters, one would have to transform the prior as well, or the proposal probability distribution, at least one of which will be non-tr

[2016-06-21 09:56] christelpei commented on #21
O.k. I will start writing some bits and pieces during this week - ideally including another issue: Is there a way to tell "simulate" to return a data frame with simulation results beyond the time frame given by time series (data), i.e. before t1 and after the last time point of observation for extrapolation (except for adding NAs?)

[2016-06-21 11:06] kingaa commented on #21
Great, thanks!

Sure, just specify the desired times in the `times` argument to `simulate`.

[2016-06-21 13:37] christelpei commented on #21
I have tried a few things in filling the times argument of simulate that I thought might be reasonable form the package manual (though without success)...apparently it is just:

[code]

for simulation of the years 1995-2050 (with t0<=1995)?! Proves the value of an easy example!

[2016-06-22 16:11] njuxcui commented on #22
That is the problem. I though it has done the log transform. The problem comes from that the parameter jump to the negative value and causes the error. Thank you for your help.

[2016-06-22 18:04] #22 closed, assigned to kingaa

[2016-06-28 23:35] ghost opened #23 "error with the initializer of pomp"
Hi, I am facing a problem with the initializer of the pomp. It give me the error of

[code]

The code I am using is:

[code]

When I just run the initializer function, I could get the return value

[code]

where S, I, R are the statenames of my pomp system, but it give the error

[code]

which means that the return value of the initializer has no name, but it has the name, what is the problem?

An

[2016-06-28 23:42] ghost commented on #23
Furthermore, former when I used the following parameterization, it works

[code]

however, after I changed the parameterization to above, it doesn't work. Where is the problem?

[2016-06-29 00:32] kingaa commented on #23
The error message tells me that `initializer` is supposed to return a named numeric vector.  Does it?

[code]

Which gives:

[code]

So, it appears that `rmultinom` returns a matrix, not a vector.  See `?rmultinom` to confirm this.  If I do instead

[code]

all is well.

In your second snippet of code above, note that your second `setNames(...)` call goes unevaluated due to the previous `return` c

[2016-06-29 00:33] #23 closed, assigned to kingaa

[2016-06-30 08:19] christelpei commented on #21
I have added a few bits and pieces on the ""Pimp my pomp" page but would leave the discussion of the proper use of likelihoods within pomp to you...Also strangely the links within the page do not seem to work.

[2016-07-01 14:42] kingaa commented on #21
Thanks!  That really got the ball rolling.  I've edited your two new sections quite a bit.  What do you think?  Would these have answered your question at the beginning?  Could they be clearer?  More complete?

[2016-07-01 19:40] ghost opened #24 "How to generate random normal variable in the C snippets"
Hi, I am new in programming in R using C code. I want to generate random normal variable in the C snippets in the pomp, former I could define my own generating function in C as:

[code]

How could I do this in the pomp, what I want is

[code]

I want to generate random normal variable in the sir.step function, how could I include < math.h >,  < stdlib.h > the two header? Or you know some better wa

[2016-07-02 13:27] kingaa commented on #24
**R**, being a statistical programming environment, is helpfully packed with lots of knowledge about probability distributions.  In particular, it has very accurate and efficient codes for computing with the most common standard distributions, including the normal distribution.  In an **R** session, do

[code]

to learn about the built-in facilities for the normal distribution.

In **pomp**, since

[2016-07-25 13:01] kingaa commented on #21
Any comments on my edits of your wiki page?  If not, I'd like to close this issue and move the wiki material to the FAQ....

[2016-07-26 10:30] christelpei commented on #21
Thanks for the new wiki page (and sorry for the delay on my side - after some travelling I am now back to pomp) - that would have helped me in the beginning and made me aware of some issues I was ignoring in the absence of error messages...
- it is helpful to see, that the likelhood has to explicitly take care of missing values, however, where is the "ISNA-function" defined?
- I would skip this li

[2016-07-26 12:04] kingaa commented on #21
Thanks for this.  You have been very helpful!
- it is helpful to see, that the likelhood has to explicitly take care of missing values, however, where is the "ISNA-function" defined?

- I would skip this line "subset(select=-cond.loglik) %>%" in the code, as it is instructive to also see the log-likelihood

- add "library(plyr)", otherwise "arrange" will not work

[2016-07-26 12:04] #21 closed, assigned to kingaa

[2016-08-04 21:44] theresasophia opened #25 "NaN output in mif2 algorithm"
The problem I am facing is that after running a local search with the mif2 algorithm the object mifs_local contains several entries where all fitted parameters are NaN (e.g. mif_local[[2]] in the  code below) whereas for others I get some output.  Surprisingly, this does not produce an error (why?), however I see an error when trying to evaluate the likelihood with pfilter that dmeasure returns no

[2016-08-05 13:15] kingaa commented on #25
@theresasophia, I believe I see what is happening.  You ask two questions.  In the following, I address the second one first.

### Computational complexity of particle filter and iterated filtering computations

Why does execution take longer than you would like? Notice that the latent state
process evolves over the interval [-6 yr, 8 yr] and that you are simulating it
using an Euler method with s

[2016-08-06 22:49] theresasophia commented on #25
Thank you very much for this great and detailed answer! This was very helpful for me.

I was surprised  how much the likelihood improved after changing the random-walk intensities, however as I understood there are no precise rules for how to choose this. Since I am planning to include other parameters into the estimation I wonder if you could share your experience of how to find the 'right' inten

[2016-08-07 14:41] kingaa commented on #25
You are right that I know of no precise rules for choosing the intensity
of `mif2` perturbations. Indeed, I doubt that there can be such rules:
the optimal choice is bound to depend on the model, the data, and the
state of the investigator's uncertainty. In this case, as you suggest, I
can talk about the thought process that went into the choices made
above. _This is not to say that these are opti

[2016-08-10 09:51] theresasophia commented on #25
Thank you very much for this really helpful answer. I appreciate the detail you provide very much and I am highly motivated to continue working on this.

[2016-08-12 11:08] kingaa commented on #25
I'm closing this issue now, but feel free to re-open if more conversation on the topic is warranted.

[2016-08-12 11:08] #25 closed, assigned to kingaa

[2016-08-12 14:36] christelpei commented on #24
I have a question that points in a similar direction: what do I do if I would like to include a distribution that is not in the R extensions?
I would like to use the Poisson Binomial Distribution as implemented in the R package poibin which I have installed and which is available in my R session. Apparently, I cannot use it in the Csnippet as described above. Is there a way to also use this code w

[2016-08-12 16:05] kingaa commented on #24
@christelpei:

Good question.  On general grounds, it is clear that you must either (1) link to the library in the other package (in your case **poibin**) or (2) take advantage of the open-source nature of **poibin**, copying the package's source code into your own.  The latter is probably preferable in this case, since **poibin** does not appear to be a particularly complicated package.  I don't

[2016-08-15 08:26] christelpei commented on #24
Trying to follow option (2), I have downloaded the package source into my working directory and tried both
`pomp(inc_b,times="year",t0=1990,..., globals = './poibin/R/funs.R')
) -> sir`
`pomp(inc_b,times="year",t0=1990,..., globals = "./poibin/R/funs.R")
) -> sir`
which did not really work (neither pasting the code instead of the file name).
From the reference manual I also suspect that I rather w

[2016-08-15 11:45] kingaa commented on #24
Those lines of yours will just include the literal line `./poibin/R/funs.R` into the C code.  As you surmise, you need to provide C code, not R code.  Moreover, you'll need to provide actual code, not merely a filename.

[As an informative exercise, try setting the `cdir` and `cfile` options in your call to `pomp`.  This will cause the C codes to be written in the file of your choice.  You can the

[2016-08-18 09:34] christelpei commented on #24
Well, probably discussing and rethinking the problem along the way had the most educational side effects. For my purposes a sum of Poisson distributions (with different means) will do the job comparably well and much easier (and probably much faster). Still, it is good to know how to include other code in the future! Thanks for both!

[2016-08-18 10:51] #24 closed, assigned to kingaa

[2016-09-06 09:19] kingaa commented on #25
On this topic, as of version 1.8.9.1, `mif2` no longer gives `NaN` in this case.  When all particles are lost, it now uses an unweighted mean to arrive at the point estimate.

[2016-10-11 21:01] Spatial-R opened #26 "double exp(double) in rprocess returns nan"
My problem is that i want to test the covariate effect on the FOI and reporting rate, therefore i use a **exp** function in the rprocess to make sure the FOI is non-negative and monotonic increasing. However, it returns nan during the simulation. I try to use the **pow** function to replace the **exp** function, but it still doesn't work. My session infomation:

 [Codes](https://github.com/Spatial

[2016-10-11 21:19] kingaa commented on #26
The `exp` function is part of the [standard C math library](https://en.wikipedia.org/wiki/C_mathematical_functions).  You can look there to see why you are getting `NaN`.  Presumably, it is because you are calling `exp(x)` with `x=NaN`.

[2016-10-11 22:34] Spatial-R commented on #26
Yes. I tested the value and found the error is because the x=nan. But i found a strange thing:
for example, `x=MT*bmt`, MT is the covariate with the range between -2 and 2. Why the parameter bmt will be valued as nan when using the **mif2** function?

[2016-10-12 00:21] kingaa commented on #26
You are estimating `bmt`, no?  `mif2` explores the range of `bmt`.  Have you done anything to make sure it remains valid?

[2016-10-12 01:51] Spatial-R commented on #26
Yes. i want to estimate the parameter **bmt**.  I utilise a global search and start the parameter randomly drawing from the box:

After running the mif function, there will be an error: *\* "in ‘pfilter’: ‘dmeasure’ returns non-finite value*\* , but not every time. If i change the box for the **bmt** value with 0-1, there will be no error, only with some warnings (1 filtering failure occurred) .

[2016-10-12 11:02] kingaa commented on #26
I thought you had established that the problem is not that `bmt` becomes negative but that it becomes non-finite.

Have you tried to use debugging tools to figure out why and where the parameter becomes non-finite?

Do you understand how `mif2` estimates parameters?  If not, I suggest you read some of the literature on the subject.  There are references in the documentation and tutorials on the we

[2016-10-25 18:50] theresasophia commented on #25
Sorry, to re-open this issue but am facing another problem for the model above.
I did as you suggested and performed a longer `mif2` search (`Nmif=200`) and also used more particles (`Np=4000`). Moreover, I proceeded to carry out a global search, where 20 different parameter constellations as starting values are drawn uniformly at random from this box. (Everything else as above.)

[code]

What I o

[2016-10-26 15:38] kingaa commented on #25
This is an interesting phenomenon that comes up fairly frequently and is worth thinking about.  Can you move it to a new thread so it can be more readily seen?

[2016-10-26 16:40] theresasophia opened #27 "Loglikelihood in mif2 search decreases before converging"
I performed a global `mif2` search with the model in detailed described in Issue 25. The result I observe confuses me, because for the first few iterations the loglikelihood increases quite much, however stabilises at a  value which is below the initially found region with higher loglikelihood. In order to see the phenomenon I am talking about, the plot below does not show the first 2 iterations (

[2016-10-26 16:41] theresasophia commented on #25
Sure. Thanks!

[2016-10-27 14:44] kingaa commented on #27
Thank you, @theresasophia, for bringing up this interesting issue.  My collaborators and I have observed this phenomenon on numerous occasions and believe we have something of an understanding of it.  Thanks to your clear and explicit demonstration of the issue, I will be able to rapidly turn this into a new FAQ, which should be of some help to others.

First, a question.  As you know, the `mif` l

[2016-10-27 14:46] #26 closed, assigned to kingaa

[2016-10-31 10:02] theresasophia commented on #27
Thanks a lot for this detailed and interesting answer.

I was guessing my problem might be related to the fact that the likelihood of the MM is different from them MOI, so it was very helpful to get your confirmation on this. I did as you suggested and evaluated `pfilter` at 20 iterations and you were indeed right- the logliklihood returned by `pfilter`  is way lower (approx -10350 units) than the

[2016-10-31 13:07] kingaa commented on #27
You're welcome!  I'm closing this issue now.  Feel free to re-open it if there is more to discuss.

[2016-10-31 13:08] #27 closed, assigned to kingaa

[2016-11-04 23:41] exproject opened #28 "Issue with abc.R test file."
Hi,

I'm running into issues with the abc test file.

Lines 101 and 102 produce this error:

[code]

But that appears to be because of line 58: abc3 <- continue(abc3,Nabc=700)

Once 58 is omitted the chains error goes away, but more warning messages start to follow from there

Lines 106-108:

[code]

Line 145:

[code]
Lines 149, 151, 155 and 161 with their own but similar errors :)

[code]
[code]

[2016-11-05 01:47] kingaa commented on #28
Thanks for the detailed explanation.  The purpose of the test files is to test the code.  Those errors you report are intentional: they're meant to trigger the error-handling portions of the code.  The test codes are really the farthest thing from tutorials and are probably the worst way to go about learning how to use `pomp`!  In fact, they're designed to do trivial things in lots of ways, most o

[2016-11-09 01:20] exproject commented on #28
Thanks for the info on that being an error handling test more than an example. I've looked around and I don't know if I'm missing anything, but are there any examples of an ABC model in the FAQs / vignettes?

[2016-11-09 12:09] kingaa commented on #28
Try the [JSS paper](http://kingaa.github.io/pomp/vignettes/pompjss.pdf).

[2016-11-17 13:16] kingaa commented on #27
This issue has been abstracted as [FAQ 5.2](https://kingaa.github.io/pomp/FAQ.html#decreasing-mif-likelihood).

[2016-12-15 10:02] christelpei opened #30 "Probe matching examples, probe.period"
I am using pomp's functionality to estimate parameters on summary statistics such as mean, standard deviation etc. where the probes seem to work fine. I have also tried probe.period but got error messages such as this one:
`Fehler: in 'probe.match.objfun': applying probes to simulated data: missing values in object`
I had already deleted "NA" in the original data for test purposes. Is it possible

[2016-12-15 10:27] seabbs opened #31 "Acceptance step in ABC algorithm"
I was reviewing the implementation of [Toni et al's](http://rsif.royalsocietypublishing.org/content/6/31/187) abc-mcmc algorithm and noticed that the acceptance step doesn't appear to include there M5. step. When the priors are uniform I see that alpha=1 and hence the probability of acceptance is 1, does this then mean that the POMP abc function can only be used with uniform priors?

I may be miss

[2016-12-15 14:10] kingaa commented on #31
Thanks for the very clear question. The ABC algorithm implemented in `pomp::abc` is the "Likelihood-free MCMC sampler" (Algorithm 3) of [Marin et al. (2012, *Stat. Comp.*)](http://doi.org/10.1007/s11222-011-9288-2) *in the special case that the proposal distribution is symmetric*.  In particular, `pomp::abc` allows the user to supply a proposal distribution (several common choices are also provide

[2016-12-15 14:16] seabbs commented on #31
Ah yes that clears that up,  thanks for the prompt response and thank you for the paper reference!

[2016-12-15 14:16] #31 closed, assigned to kingaa

[2016-12-15 15:33] kingaa commented on #30
Hi @christelpei, good to hear from you.

I have done relatively little using probe matching to fit models. The approach I tend to recommend uses probes as diagnostic tools, especially useful for detecting model misspecification.  However, your question is an important one.

With respect to your question about `probe.period`, it is worth noting that this probe is not terribly robust, inasmuch as it

[2016-12-15 15:36] kingaa commented on #31
P.S. Thanks for the question.  Among other things, you caused me to realize that the Marin paper is missing from the help page.  I've edit the help page to correct this oversight.

[2016-12-22 12:52] kingaa commented on #30
I'm going to close this issue now, but feel free to reopen if you have further questions!

[2016-12-22 12:59] christelpei commented on #30
Thanks for the detailled feedback!
I find the probe matching tool very helpful to get a feeling of whether a model can reproduce the mean and variability seen in the observed data. As I go along and learn, I will be happy to contribute my insights to the tutorial - but for me it is still some way to go.

For example, I wonder about the scales: both probe.match and probe.mean/sd/... have a variable

[2017-01-10 11:00] LUOSDU opened #32 "How to demonstrate the result properly?"
Thanks for a great package which helps me a lot on the research!
After running a few `mif2` code, I think I have find the highest loglik.

1.  Can I determine that the set of parameters value with highest log likelihood is the best result?
2. Why don't paper such as _He , 2010_ emphasize the confidence interval for parameters?
3. How to demonstrate the result properly? Which figures should I put i

[2017-01-11 08:45] Jochen2222 opened #33 "Can I convert a named vector or list with random-walk perturbations to rw.sd function?"
Hi,
I'm trying to estimate parameters using mif2. Due to an update (I guess) you need to specify random-walk perturbations with the rw.sd function. Before, a named vector worked fine.
My question is if there is a way to convert a named vector to the rw.sd function since my model has got too many parameters to write them all down individually like rw.sd (a=0.01, b=0.01,...)?
Thanks
Jochen

[2017-01-11 12:05] kingaa commented on #33
How about the following, where `x` is your named vector?
[code]
`x` is now in a format acceptable to `mif2`.

How have you been treating initial value parameters?

[2017-01-11 12:23] kingaa commented on #30
I don't understand the question here.  Can you not pass `parscale` to `optim` by simply including it in the list of arguments?

It's worth pointing out that you can get better control over the optimization by following a slightly different route:

1. First construct an objective function using `probe.match.objfun`.
2. Then pass this function to an optimization routine just as you would any other o

[2017-01-11 12:47] kingaa commented on #32
These are very general questions.  Let me give you some very general responses.

1. The sense in which maximum likelihood (ML) parameters can be regarded as "best" is described by the ML theory.  There are many expositions of this theory.  See, e.g., Pawitan, Y., In All Likelihood: Statistical Modelling and Inference Using Likelihood,Oxford University Press, 2001.

2. Our preferred method for esti

[2017-01-11 12:47] #32 closed, assigned to kingaa

[2017-01-11 12:49] kingaa commented on #30
Since this issue has diverged a bit from its title, I'm going to close it.  Let's try to keep the title of each issue accurately descriptive of the content!  Feel free to open another issue!

[2017-01-11 12:49] #30 closed, assigned to kingaa

[2017-01-11 13:32] Jochen2222 commented on #33
Thanks for your quick response. Your suggestion works fine.
The initial value parameters are pooled in a named vector which seems to work in mif2.
Thanks a lot for your help!

[2017-01-11 18:44] kingaa commented on #33
Hmm, I worry about what "seems to work" might actually mean.  You might want to check that those initial value parameters are really being treated as such, i.e., that they are only being perturbed at the appropriate times.

BTW, it is possible to pass the `rw.sd` as a matrix, which may be better for your purposes.  This should be an `npar` x `ntimes` matrix with rownames, where the `(i,j)`-th entr

[2017-01-11 18:44] #33 closed, assigned to kingaa

[2017-02-01 02:11] FATliver opened #35 "Why ‘dmeasure’ returns non-finite value？"
Thank you for your time at first!
The fist code I used had no problem. Everything was fine during the calculation. The code and data are:
[code]
[code]
[SD00.txt](https://github.com/kingaa/pomp/files/743693/SD00.txt)
However, when I implement another parameter like the second code, and I only change the
`init <- Csnippet("
                 S = 97890000*(ProRate);I = 250; H = 26;R = 97890000*(0.5);

[2017-02-01 09:42] kingaa commented on #35
Have you read [FAQ 4.1](http://kingaa.github.io/pomp/FAQ.html#non-finite-dmeasure)?

You've already determined that your state variable `H` is becoming `NaN`. This can only happen in the process-model simulator (your `rproc`).  Why not examine why this is happening?

[2017-02-04 04:00] #35 closed, assigned to kingaa

[2017-03-13 16:22] christelpei commented on #28
Thanks for the link to the paper that was also very helpful for me to get started with ABC!
Still, I would be very happy if more examples should show up on this issue as I was learning myself by trial and (many) errors. It took me for example a while to notice that the epsilon parameter is very model dependent and if too small nothing will happen (well, obvious after I understood). Currently I am

[2017-04-04 13:59] kingaa commented on #28
Hi Christel,

Apologies for taking so long to get back to you.
Yes, if you leave parameters out of the proposal, they will stay at their predetermined value.
With respect to the question of priors, **pomp** is very flexible.  In particular, you can put a prior on a parameter, or not (which is mathematically equivalent to putting a degenerate, i.e., Dirac delta, prior on that parameter).  You can e

[2017-04-12 13:34] christelpei commented on #28
Thanks for the detailed feedback that helps me to find the best way "to treat a parameter as fixed" - or more generally to define more complex joint priors. Could I realize the Dirac delta prior on a parameter by setting the SD in the proposal vector to zero (seems to work) or equivalently to set identical lower and upper bounds in the example from the Journal of Statistical Software paper (sectio

[2017-05-08 15:21] christelpei opened #36 "What happens in case of a filtering failure?"
I am doing inference with pmcmc and see repeated filtering failures. The manual says that this corresponds to the situation in which the log likelihood is below the parameter tol for all particles (is it actually the likelihood as the default value of tol is 1e-17 not -17?)).
Unfortunately, I have not found what happens at this point - does the simulation just continue until particles (hopefully)

[2017-05-09 07:41] kingaa commented on #36
@christelpei: thanks for the good question.

As you say, a filtering failure occurs when the conditional likelihood of *every* particle is below the tolerance `tol`, which has the default value 1e-17.

When a failure occurs, there is no resampling, and the particle filter simply presses on.  In effect, the datum at the failing time point is taken to contain no information.  The likelihood assigned

[2017-05-10 11:53] christelpei opened #37 "Issues with parallel computing"
Although I understand that this is probably not really within the realm of your package I wonder whether you had similar problems - and maybe even have found a solution?! In your JSS paper (and supplementary code provided) you give examples how to parallelize computations. I have adapted this along the lines
[code]
for which I get an error message as described here:
https://bugs.r-project.org/bugz

[2017-05-12 09:05] christelpei commented on #36
Thanks for the feedback - I have played around with mvn.rw.adaptive but will probably have to work on the model to get better convergence/less filtering failures. It would however be helpful for me to better understand the warnings I get:

Warnmeldungen:
1: in 'pfilter': 8 filtering failures occurred.
2: in 'pfilter': 6 filtering failures occurred.
3: in 'pfilter': 14 filtering failures occurred.

[2017-05-15 07:30] kingaa commented on #36
Yes, each individual filtering failure is the failure of any of the particles to be compatible with the data at one time point, where compatibility is defined in terms of a likelihood threshold.

One thing you can do is try to determine where the filtering failures are occurring and whether they are occurring at particular places in the time series.  With a single `pfilter` run, you can extract th

[2017-05-15 07:43] kingaa commented on #37
I don't see the error message you are getting from the first code.
Some things to try:

1. Wrap each call to `pmcmc` inside a `try` statement, and remove the `.combine` argument, so that you can see if the individual parallel runs are giving errors, or if the errors are arising from the parallelization itself.
1. Try returning less information from each run.  The `pmcmc` object returned by each in

[2017-05-15 07:45] kingaa commented on #28
Try posting some code (for a simple problem).  I can show you what I mean.  Open another issue when you do so, so that the issue title is related to the question.  The issue you raise is unrelated to the original post.

[2017-05-15 07:47] #28 closed, assigned to kingaa

[2017-05-21 16:09] Spatial-R commented on #33
In my opinion, `x <- do.call(rw.sd,as.list(x))` to define the value of rw.sd may be unsuitable because this setting can not work on the initial parameter value which only need the random walk at the first time-point(ivp).
In my situation,  a function to do the MIF2 with the paramnames in pomp varied by the analysis purposes was created. I follow your step to create a matrix which is npar x ntimes

[2017-05-24 14:45] emmaSaulnier opened #38 "rbinom returns nan when using mif2 function"
I'm trying to infer epidemiological parameters from incidence time-series using you mif2 function and I do not understand why the rbinom function of my step function sometimes returns nan values when I am using the mif2 function whereas it works fine when I only ran simulations using the simulate function.
Here is a part of my code:

[code]

The first lines returned by the Rprintf calls are:
[code

[2017-06-01 16:04] kingaa commented on #38
Hi Emma,

`rbinom` will return a NaN if the `size` parameter is ever anything other than a non-negative integer.  Check to make sure it will be so even at arbitrary parameter values.  `mif2` (and any other likelihood maximization algorithm) will vary the parameters as it searches for the MLE.  If ever one of the tested parameter sets leads to negative `size` or non-integer `size`, the resulting bi

[2017-06-05 10:34] #36 closed, assigned to kingaa

[2017-06-13 18:37] tkoutangni opened #39 "Failing to fit an SCIRS epidemic model with pomp package: Could the problem be my Csnippets?"
I'm using the pomp package to simulate and fit a stochastic model for the first time and running into some errors, which i'm unable to solve based on your previous answers.
The model is an SCIRS ( Susceptible - Carrier  - Ill - Recovered) model with birth, natural death, and disease related death. Carriers are asymptomatic and can either clear infection then have a temporary immunity. or become il

[2017-06-15 12:57] kingaa commented on #39
@tkoutangni:

First, thanks for your very well explained and detailed report. Your thoroughness makes it so easy for me to begin to investigate the problem.  The inclusion of the diagram is especially impressive!

The `pfilter` error message you show indicates that the state variables are all `NaN` quite early in the simulation, i.e., after just a few (but more than one) Euler step.  This suggests

[2017-06-19 08:11] christelpei commented on #37
Thanks for the helpful suggestions! The individual runs appear to run fine (point 1), fewer Nmcmc iterations would not really be an opition in my case, maybe thinning the traces before combing the parallel runs (point 2), though I have not tried it. Point 3 finally did the job, i.e. the following code worked as it should:

[code]

Though I have not been digging into the causes why doParallel works

[2017-06-19 09:07] tkoutangni commented on #39
@kingaa Thanks so much for your quick feedback and help. It actually fixed the problem of negative compartment occupancy and the `pfilter` error.  I may get back to you if more discussion is needed. Thanks again.

[2017-06-19 11:28] kingaa commented on #37
Well, that's interesting.  I hadn't seen such a clear-cut example of success under one parallel backend and failure under another.  It would be instructive, and probably helpful, to bring this up with the **doMC** developers!

As an aside, regarding point 2 above, one could reduce the size of the object returned by each parallel job without reducing MCMC iterations by, for example, extracting the

[2017-06-19 11:28] #37 closed, assigned to kingaa

[2017-06-19 11:29] #38 closed, assigned to kingaa

[2017-06-27 22:41] noamross opened #40 "Fitting a mixed model on replicate time series"
I am looking for any documentation or examples of how one might use **pomp** to fit a mixed model over multiple time series.  I have time series data for a livestock disease outbreaks on multiple farms, and would like to fit the same model simultaneously across all of them, estimating key epidemiological parameters (contact rate, etc.) as draws from a common distribution. This can be done with Sta

[2017-07-10 16:00] ayoubsbitti opened #41 "How Could we add A seasonal state?"
In state space model we could probably be interested in adding a seasonal state, for example :
[code]
with S the number of seasons.
Where eps(t) , u(t) , w(t) are errors following a normal distribution with mean 0 and a given variance.

Please How can I specify rprocess   and rmeasure for  this case?
Thanks in advance.
note that the seasonal components could be modeled with  by vectors of size S :

[2017-07-10 16:48] kingaa commented on #40
Interesting problem.  The [**panelPomp** package](http://cbreto.github.io/panelPomp/), under development by Carles Breto, builds on **pomp** to tackle this kind of problem.  Specifically, it is possible to formulate a mixed model such as you describe.  I encourage you to contact @cbreto for more information.

[2017-07-10 16:48] #40 closed, assigned to kingaa

[2017-07-10 16:59] kingaa commented on #41
There's an example of a seasonal model in the [JSS paper](https://kingaa.github.io/pomp/vignettes/pompjss.pdf), many others in applications papers we've published (e.g., [Martinez-Bakker et al 2015](http://doi.org/10.1371/journal.pbio.1002172), [Lavine et al 2013](http://doi.org/10.1371/journal.pone.0072086), [He et al 2010](http://doi.org/10.1098/rsif.2009.0151)), and some codes that can be cribb

[2017-07-10 16:59] #41 closed, assigned to kingaa

[2017-07-10 21:14] cbreto commented on #40
Thanks Aaron! I’ll push the contacts example to the panelPomp github repo. This should help illustrate the capability of panelPomp to specify mixed models much better than the current panelGompertz example. Best for the first SBEID session and getting all those users installing pomp in such a diverse array of machine!

Best,
carles

[2017-08-07 11:02] kingaa opened #44 "pomp example request"
I was attempting to use your pomp R package and was wondering if you had any example code for something like a linear Gaussian state space model.

I'm a little confused as to what goes where and was having trouble getting started: for example, with

[code]

I wanted to use rnorm to simulate an AR(1) simple random walk process which has Gaussian noise with mean 0 and var 1 but I'm unsure how to spe

[2017-08-07 11:08] kingaa commented on #44
Although you can certainly do this in **pomp**, there are better ways of going about it.  Specifically, because exact methods are available for linear, Gaussian state-space models, there is no call for the computationally much less efficient Monte Carlo approaches implemented in **pomp**.  Check out packages **KFAS**, **FKF**, and **dlm** and have a look at the [CRAN Task View on Time Series Analy

[2017-08-08 15:18] tomessilva opened #45 "Missing packages in "Getting started" vignette"
This vignette depends on several packages besides "pomp": from what I could determine, at least "ggplot2", "magrittr", "foreach", "iterators" and "coda" (but perhaps more?). From these packages, only "coda" is being specifically loaded in the vignette.

Perhaps these packages should be explicitly loaded in the vignette (via library() or require()), to make it easier for people to follow the vignet

[2017-08-09 09:07] tomessilva opened #46 "Warning: "in 'table_lookup': extrapolating at ...""
First of all, thanks for maintaining such useful package. My experience with it has been positive, and the quantity and quality of documentation is quite good.

I have a question, though: when running trajectory matching, I'm always getting these specific warnings which are somewhat descriptive (i.e. i understand what's wrong), but a bit mysterious as well (i.e. i don't understand why it's happeni

[2017-08-09 11:39] kingaa commented on #46
**pomp** incorporates time-varying covariates via a lookup table.  Whenever your model needs the value of a covariate at a particular time, it uses the lookup table provided (via the `covar` and `tcovar` options of `pomp`), linearly interpolating if necessary.  It can happen that the required computation depends on values of the covariates *outside* the time interval covered by the lookup table.

[2017-08-09 11:40] #44 closed, assigned to kingaa

[2017-08-09 11:42] kingaa commented on #45
Done.

[2017-08-09 11:42] #45 closed, assigned to kingaa

[2017-08-09 16:39] tomessilva commented on #46
Yes, this part was clear from the documentation and the warning messages themselves.

I think I did things correctly here (covariates are defined, with no missing values, from the `t0` [t=0] to the time of the last observation [t=127]). I do have missing values in the observables, but I think those are being dealt with correctly (and those occur, obviously, within the period from `t0` to the time

[2017-08-09 16:46] kingaa commented on #46
This is now [FAQ 4.5](http://kingaa.github.io/pomp/FAQ.html#extrapolation-warnings).

[2017-08-09 16:46] #46 closed, assigned to kingaa

[2017-08-09 16:54] tomessilva opened #47 "FAQ: Issue 4.1"
The FAQ has been very helpful in interpreting and locating problems in my Csnippets.

One suggestion to improve Issue 4.1 of the FAQ is to add another common cause for problems in the `dmeasure` function: trying to modify the pre-declared `lik` variable without first initializing it to zero. I know it's a trivial C rookie error, but perhaps adding that line to the FAQ may help in the future at lea

[2017-08-09 17:40] kingaa commented on #47
Done.

[2017-08-09 17:40] #47 closed, assigned to kingaa

[2017-09-07 09:15] tkoutangni commented on #39
Dear @kingaa I'm reopening this issue, as i have a new problem with the stochastic pomp model. In fact i've realized that the state variables in the stochastic model do not sum up to the total initial population size. At a given time the state variable sums to less or above the total population.

The deterministic skeleton do not have this issue and the state variables sum to exactly to the total

[2017-09-08 17:58] kingaa commented on #39
Does your model actually predict that the population size should remain constant or only that the *expectation* of the population size should remain constant?  You have stochastic births and deaths, no?

[2017-09-09 17:14] tkoutangni commented on #39
Yes, my modèle actually predict that the population size should remain constant. At least this is what i'm expecting from my code. After playing with births and deaths rates, i realized that when i set the births and death rates to 0, then the predicted total population is constant at giving time t (meaning that predicted S+C+I+R always sums up to the actual modeled population size.
I assume birth

[2017-09-10 03:14] ardhendujy opened #49 "multivariate pomp"
I used your code for multivariate pomp given in faq. But I could not figure out how to provide skeleton to the pomp and how to write traj.match function.

[2017-09-10 13:03] ardhendujy opened #50 "Unused argument"
I have written following code for multivariate pomp using example given in faq. I tried to add a skeleton function. But I am getting an error unused argument.
[code]
[code]

[2017-09-10 17:14] kingaa commented on #39
You misunderstand your model.  Firstly, both births and deaths are stochastic in the above codes.  Secondly, if you have stochastic births and stochastic deaths, then they will only very very rarely exactly balance.  As you say, if you set the birth and death rates to zero, then the population size must remain the same.  Why do you imagine it is a good idea to keep the population size exactly cons

[2017-09-10 17:15] kingaa commented on #49
Ask a more specific question.  And read FAQ 1.1 before doing so.  Please.

[2017-09-10 17:15] #49 closed, assigned to kingaa

[2017-09-10 17:17] kingaa commented on #50
Your Csnippets are not valid C.  In particular, there is no `<-` operator in C and you do not call `return` in a Csnippet.

[2017-09-11 03:08] ardhendujy commented on #50
I replaced '<-' with '=' and removed return. still I am getting error.C:/Users/admin/AppData/Local/Temp/Rtmpm2brIa/3324/pomp_ffba4644cfe325907fe7718bc10f3c58.c:95:45: warning: variable 'I' set but not used [-Wunused-but-set-variable]
                                      double I;

[2017-09-11 11:34] kingaa commented on #50
Your codes above do not match the ones that are giving you the problem.  Please read the help documentation (i.e., `?pomp`) carefully and provide the codes that you are running that produce the error.  All this is explained in [FAQ 1.1](https://kingaa.github.io/pomp/FAQ.html#effective-request).  In particular,

The code you included was not the code that produced the warning you showed.

[2017-09-12 10:46] murallcl opened #51 "Fitting ecological data with multiple replicates per time point"
Thank you very much for this great package. I am interested in using it to fit ecological data that has various replicate measures per time point. Before trying the particle filtering I am running some examples using MLE. Instead of sending my exact example I think it would be easier to simply use an example you have in "Model-based Inference in Ecology and Epidemiology (a short course)". Please s

[2017-09-12 11:32] kingaa commented on #51
Since you don't include the full codes, it's not possible to know for sure, but you appear to have not specified the `times` properly.  In the data file you include, there are three observations per time point, on three separate lines.  Rearrange the data so that you have one line per time point, with four columns (time, obs 1, obs 2, obs 3).

Also, please read FAQ 1.1 and FAQ 3.2.  In particular,

[2017-09-12 17:35] murallcl commented on #51
Hi. Yes, rearranging the data into the format you suggested worked. I am now working on a multivariate version. When I have a working example I will post. Thank you.

[2017-09-15 04:38] ardhendujy opened #52 "problem in mif"
I have written following code. Where I am getting the errors:
[code]
Can you please help me?
[code]

[2017-09-15 04:38] #50 closed, assigned to kingaa

[2017-09-15 12:06] kingaa commented on #52
It looks as though there is an error in the `foreach` loop.  The "attempt to set an attribute on NULL" error is coming from some procedure trying to set an attribute on a result which does not exist.  Let's strip away some layers to determine what is going wrong.

First, `bake` is not needed here, is it?  Second, since the error is probably in the `foreach` loop, let's have a look at the results o

[2017-09-16 11:06] #52 closed, assigned to kingaa

[2017-09-16 11:07] ardhendujy opened #53 "printing in Csnippet"
How to give print command in Csnippet?

[2017-09-16 12:56] #53 closed, assigned to kingaa

[2017-09-18 12:22] kingaa commented on #39
I'm closing this issue now.  Feel free to reopen it, however, to continue to discuss the topic.

[2017-09-18 12:23] #39 closed, assigned to kingaa

[2017-09-24 04:07] e3bo opened #54 "obsnames not extracted from data when 1 row in data.frame"
I stumbled upon this problem today when working on tests for the C snippet plugin. Here's an example that shows the problem with pomp 1.15 from CRAN:

    create_example <- function(times = c(1,2), t0 = 0, mu = 0.001, N_0 = 1) {
      data <- data.frame(time = times, reports = NA)
      mmodel <- reports ~ pois(ct)
      rate.fun <- function(j, x, t, params, covars, ...) {
        switch(j, params

[2017-09-24 13:59] kingaa commented on #54
Good catch, @e3bo!  I've pushed the fix you provide as version 1.15.1.3.

[2017-09-24 13:59] #54 closed, assigned to kingaa

[2017-10-20 21:07] e3bo opened #56 "covar names missing after coercing pomp objects to data frame"
I ran into a little problem today when trying to simulate ensemble distributions at a single time point. It can be demonstrated by adding covariates to the pomp object in the #54:

    library(pomp)

    create_example <- function(times = c(1,2), t0 = 0, mu = 0.001, N_0 = 1,
                                    covar = data.frame(x = c(0, 1), time = c(0, 52))) {
      data <- data.frame(time = time

[2017-10-23 12:07] kingaa commented on #56
Thanks for this, @e3bo.  Although your fix is clean and goes to the root of the matter, I'm a bit reluctant to change the behavior of `lookup_in_table` in that way.  My concern is a small one. The main use-case for `lookup_in_table` in practice is in `init.state`, where the covariate at a single value is requested.  There will be a very slight cost to creating the more complex object in this case,

[2017-10-23 12:07] #56 closed, assigned to kingaa

[2017-10-23 16:54] kingaa commented on #51
I am closing this issue now.  Please do re-open it when you have a working example!

[2017-10-29 13:27] murallcl commented on #51
[example_fitting_LVcomptn.zip](https://github.com/kingaa/pomp/files/1425098/example_fitting_LVcomptn.zip)
Hi again,
Here is an example using the 2-species Lotka-Volterra competition model and some made-up data with multiple replicates per timepoint. In addition to having to transform the data as you suggested (in the csv file), I found you had to transform the data again (after running through pom

[2017-10-30 13:41] kingaa commented on #51
@liachica, thanks for a great example!  In it, you say that you are using maximum likelihood to estimate parameters.  This is a bit imprecise.  ML in the context of a deterministic process model and a stochastic measurement model is more precisely referred to as "trajectory matching".  I've edited your example in the following to show off better ways of accomplishing the same objective.  In partic

[2017-11-10 14:32] murallcl commented on #51
Sorry for the slow reply. Thanks for the updated and more elegant version of the example!! I didn't realise that you could put so many of the functions inside the pomp function. I guess one thing that would be good to include in the example is getting the confidence intervals for each parameter. I'm not sure how to include this given the way you have re-coded it.  For example, in ["introduction to

[2017-11-10 14:52] kingaa commented on #51
To construct a profile, one simply holds one set of parameters fixed at each point in some grid,and maximizes the likelihood over the remaining parameters.  Thus in the above example, which constructs a profile over the `b` parameter, we first make a grid of values for `b`:
[code]
Then, we construct a function that, for each value of `b`, will maximize the likelihood over the remaining parameters.

[2017-11-10 15:50] murallcl commented on #51
Ok thanks. Here's an example that might better show the trouble I'm having calling things. I use `r1` as the example, and I run it after `summary(fit)` in your code from above.

[code]

[2017-11-10 16:22] kingaa commented on #51
As before, rather than use `optim` directly, it's better to use `traj.match`.  You just have to leave `r1` out of the list of parameters to estimate (`est`).

Have a look at the ["Getting Started with **pomp**" vignette](http://kingaa.github.io/pomp/vignettes/getting_started.html#maximizing-the-likelihood-by-iterated-filtering) for an example (more complicated because the model is stochastic, but

[2017-11-30 04:50] mikeaalv opened #57 "Add better global optimization method for trajectory matching"
Is it possible to add some better optimization method in traj.match()? I would recommend add genetic algorithm or alike method to make it better on finding global optimum.
Thanks a lot.

[2017-11-30 12:27] kingaa commented on #57
@mikeaalv, check out `traj.match.objfun`.  This constructs an objective function that can be used in any **R** optimizer.  Note too, that even within `traj.match`, all the methods of the [**nloptr** package](https://cran.r-project.org/package=nloptr) are available to you.

Since the functionality you request exists, I'm going to close this issue.  Feel free to re-open it if I haven't fully address

[2017-11-30 14:58] mikeaalv commented on #57
thanks a lot. I will look into it.

[2017-11-30 15:26] mikeaalv opened #58 "Recommended optimization for traj.match"
For the function of `traj.match` to solve ODE with reporting error, what is the recommended way for optimization?

I have try Nelder-Mead, subplex and SANN. It is highly likely that subplex give me some error/complaining about initial value. I have try use Nelder-Mead or SANN--> Nelder-Mead. However, increasing sample size in parameter space will give me better result in log likelihood. This proba

[2017-11-30 16:05] mikeaalv commented on #57
Actually, I didn't find the correct to use nloptr in traj.match.

My code is:
[code]
However, it is complaining about not using right algorithm.
[code]

[2017-11-30 16:42] kingaa commented on #57
I've updated the documentation for `traj.match`.  See the latest release on the github site.  In particular, do `?traj.match` and look at the examples.
 The correct call is something like:
[code]
You will also need to specify a stopping criterion.  For details, read the documentation for **nloptr**, which will direct you in turn to the online documentation for the **NLopt** library.

[2017-11-30 17:14] mikeaalv commented on #57
Thanks a lot!

[2017-12-01 01:39] mikeaalv commented on #57
I have tried:
[code]
There is no error, but it is clear that no optimization has been run as coef(res)==param

[2017-12-01 11:59] kingaa commented on #57
Sorry, I don't know much about this specific algorithm.  Nor can I investigate further without knowing what your model and data (pomp object) looks like.  From reading the description, it sounds like MLSL is a very sensible algorithm.  Is it possible that none of the individual local optimizations are able to get started because they do not find a finite likelihood?

[2017-12-01 13:02] kingaa commented on #57
I've been looking more deeply into it, and this does appear to be a bug.  Specifically, the `ub` and `lb` options are meant to be passed directly to `nloptr::nloptr` and not via the `opts` argument, as **pomp** assumes.

I can fix this in the next release.  In the meantime, consider the following workaround:
[code]

[2017-12-01 14:38] mikeaalv commented on #57
Thanks a lot. The traj.match.objfun method did work, though I still have to fix problem on bad initial values.

[2017-12-02 15:52] mikeaalv commented on #57
Actually the differences between traj.match.objfun() and traj.match() kind of puzzled me.
res=traj.match(data,est=est,start=start,method=method)
objfun=traj.match.objfun(data,est=est)
res2=optim(objfun,par=start,method=method)
Will they get same result(res and res2)?
Will logLik(res)==res2$value?
Will objfun(coef(res)) == logLik(res)?

They turn out to be not same in my case? What is objfun return

[2017-12-08 00:18] mikeaalv opened #59 "running pomp on linux server"
I am running pomp on a linux server.
I find that after running pomp in one node, there would be difficulty in running the second one. The second one would be just taking long time in the pomp function without and error presented. If I stop that running. I will get error like:
[code]
I am not quite sure what happened here. Any possible way to run it on the same server on several nodes?

[2017-12-08 12:54] kingaa commented on #59
@mikeaalv, I'm not sure what you mean by "linux server".  From your allusion to multiple nodes, I surmise you may be working on a linux cluster.  Many folks run pomp on linux machines and on linux clusters all the time.  There can always be issues in the configuration of the computing environment (though these are usually minimal to non-existent under common linux configurations), and, when they o

[2017-12-08 17:19] mikeaalv commented on #59
Thanks a lot. I will try with your suggestions.

[2017-12-15 12:56] kingaa commented on #57
@mikeaalv: I believe that the bug is fixed on branch [iss57](https://github.com/kingaa/pomp/tree/iss57).  Would you be so good as to test your example with this branch to verify?

[2017-12-15 13:14] kingaa commented on #58
This is a very good question.  It is good because it has no simple answer.  The "no free lunch" theorem tells us that, for any optimization algorithm, there is an objective function such that that optimization algorithm performs worse than a brute-force grid search.  In the specific context of POMP models, likelihood surfaces are frequently inconveniently complex, with narrow, nonlinear ridges, cu

[2017-12-15 13:15] kingaa commented on #59
I am closing this issue.  Feel free to reopen if more discussion is warranted.

[2017-12-15 13:15] #59 closed, assigned to kingaa

[2017-12-15 20:16] mikeaalv commented on #57
That seems to me works for my example.

By the way, about my last question, Is objfun return loglike?

[2017-12-15 20:24] kingaa commented on #57
The objective function constructed by `traj.match.objfun` returns *minus* the log likelihood.

I will close this issue now and merge the iss57 branch with the master.

[2017-12-15 20:25] #57 closed, assigned to kingaa

[2017-12-15 20:33] mikeaalv commented on #57
Thanks a lot!

[2017-12-15 20:45] mikeaalv commented on #58
Thanks a lot for your wonderful education.

I didn't realize that `traj.match` can generally have worse situation than stochastic modeling. It seems to me that stochastic model are generally more "complex". What's generally happening there?

What I understand of your second graph and the optimization is that we want to find the "range" of global optimum and the surface nearby. Is that what you are

[2018-01-02 08:36] rubbislam opened #60 "How can I include a vector of covariates in dmeasure or rmeasure in a C snippet?"
Hi. I try to include some covariates that are vectors obviously to calculate the likelihood with some time lags. I've read FAQ 3.1 but in that example, but that example only mentions how to include vector states variables in `rprocess`.

I used similar trick to include the covariates in dmeasure and add covar in `pomp()` function, but I get error:
`error: variable-sized object may not be initializ

[2018-01-06 15:58] gcgibson opened #61 "Custom distributions: Dirichlet in C snippet"
I was wondering how I can include a custom distribution inside a C snippet? I was hoping to use a dirichlet distribution for the parameters of a State Space model and perform top level inference using PMCMC on a dirichlet.

Thanks!

[2018-01-06 17:42] kingaa commented on #61
You'll just need to include definitions for the operative bits (probably density calculations and/or samplers) in the C code.  You can include these inside the C snippets you write, or you can use the `global` argument to `pomp` (the pomp-object construction function) to make top-level function declarations.  In general, anything that you can do in C can be done in a C snippet.

[2018-01-06 17:46] kingaa commented on #60
@rubbislam: Sorry to take so long to respond.

Inclusion of vector covariates is indeed very similar to inclusion of vectors in states or observations, so you must be making some mistake.  Can you provide a minimal example of the problem?  Is the error arising when you call `pomp`, or when you do something with a constructed pomp object?

In responding, please read and follow the instructions in t

[2018-01-06 17:48] #58 closed, assigned to kingaa

[2018-01-06 18:27] gcgibson commented on #61
@kingaa Awesome! Can you give me an example? Sorry I am pretty dense with C. Would it not be easier to just run the model using gcc?

[2018-01-10 07:56] rubbislam commented on #60
@kingaa Thanks a lot.

I reviewed the code and FAQ 3.1 carefully and figured out what the problem was. I defined the names of the vectors as same as those of the covariates, which caused conflicts.

I'm closing this issue.

[2018-02-04 08:00] rubbislam commented on #60
I wonder how to use the values in former time of states and covariates in dmeasure. It seems `*x = &X` gets only the values of different states, but what if we need the vector of the specified state of all time?

Here is the code:

- rmeas: Y ~ rnorm(X, 2)
- dmeas: dnorm(X[t], X[t-1], A[t-1], give_log)
- rprocess: X[t] = rnorm(X[t-1],A[t-1])

[code]

And here're the session information:

[code]

T

[2018-02-06 13:22] kingaa commented on #60
@rubbislam:  Interesting question.  There is a reason that the states and observations at previous times are not accessible to you.  This has to do with the basic structure of a partially observed Markov process.  It is part of the definition of this class of models that the observations at a given time depend only on the state at that time.  Moreover, it is necessary that the latent state process

[2018-02-07 09:55] rubbislam commented on #60
I am trying to reproduce the results of [Rasmussen et al.](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1002136) using iterated filtering instead of particle MCMC, according to their published [code](http://sites.duke.edu/koelle/files/2013/08/pmcmcsourcecode.zip).

Actually, the results were reproduced by using extra .C file, combined with rprocess and dmeasure written in

[2018-02-08 13:15] kingaa commented on #61
Take a look at the examples in the 'pomp.h' header file.  There are several: for multinomial, beta-binomial, beta-negative binomial, and Euler-multinomial distributions.

As for "running the model using gcc", I'm not sure what you mean.  If you mean writing custom stand-alone code in C, I suspect not.

[2018-02-08 13:15] #61 closed, assigned to kingaa

[2018-02-08 13:17] kingaa commented on #51
I'm going to close this issue now, but feel free to reopen it if there is more to discuss.  Also, it would be great to have your example as a vignette in the documentation, to help other users with similar goals.

[2018-02-08 13:17] #51 closed, assigned to kingaa

[2018-03-23 13:25] rayleigh opened #62 "pomp.h file not found"
I've successfully installed `pomp` using `install.packages()` and `devtools()`. However, I get the following error when I try running pomp:

[code]

However, when I run the C test script, I get the following results:
[code]

If I try making the C file myself (rename the pomp.so file as libpomp.so), I get the following error:
[code]
From this and checking, `pomp.h` is in `/Library/Frameworks/R.fram

[2018-03-23 14:13] kingaa commented on #62
Thanks for posting the issue!  It appears that `R CMD SHLIB` is not able to find the `pomp.h` header.  One possibility is that this complication, not seen in OS X versions <=10.12, arises anew in 10.13 (High Sierra).  However, I have just tested the package on OS X 10.13 and everything checks out fine.   So a working hypothesis is that something is not quite right about your particular build.  Let

[2018-03-28 14:54] rayleigh commented on #62
Hi,

Thanks for responding and for your advice; I apologize for my delayed response. I looked at Github, but because this issue showed only one comment, it didn't seem as if you had responded until I clicked on the issue again today.

1) I get the following error:

[code]

2) It can be found here:

[code]

3) I get the following error:

[code]

4) I get the following output:

[code]

However, cfla

[2018-04-05 13:44] kingaa commented on #62
My turn to apologize.  I've been traveling.  This is very strange behavior, since the header file exists and is on the path, yet is not being found.  Are you here at UM?  If so, perhaps it would be most efficient were we to get together to debug this.  We could also do a video conference, if you prefer.

[2018-04-12 18:16] kingaa commented on #62
Great!  We found the problem.  The global user `Makevars` file (`~/.R/Makevars`) was setting the environment variable `PKG_CFLAGS`.  This overrode **pomp**'s setting of the same environment variable, which made it impossible for `R CMD SHLIB` to find the `pomp.h` header file.

The solution was to remove the `Makevars` file or to comment out the `PKG_CFLAGS` setting.  Once this is done, compilation

[2018-04-12 18:16] #62 closed, assigned to kingaa

[2018-04-16 11:44] #60 closed, assigned to kingaa

[2018-05-07 21:26] MarieAugerMethe opened #64 "Relaxing the Markov property"
Hello Aaron and all,

I’m completely new to POMP, so sorry if this is a silly novice question. I am writing a state-space model where the state at time t depends not only on the state at time t-1 but also on the state at time t-2.  I’ve been going through the tutorials and realized that the functions for the rprocess don’t specify the time of the state variable.  So for example, if I write:

[code

[2018-05-07 21:58] tomessilva commented on #64
There's a simple way of converting any order-1 Markov process to order-2...
you just have to expand the state:

epsilon ~ N(0, sigma)
x_t = x_{t-1} + rho*(x_{t-1} – y_{t-1}) + epsilon
y_t = x_{t-1}

Now your state is (x_t,y_t) and your transition function only depends on
the current state.

You can do this to have a Markov chain of arbitrary order... you just need
to carry more "history" in your s

[2018-05-07 22:29] MarieAugerMethe commented on #64
Thank you @tomessilva,

I was actually thinking about doing this, but when I tried it didn't quite work because of how I ordered variables. But you are right, if I keep track of things properly, it works.

[code]

Thanks!

[2018-05-07 22:29] #64 closed, assigned to kingaa

[2018-05-10 17:10] MarieAugerMethe opened #65 "Incorporating known states in the model"
Hello,

I'm sorry this could be again a newby question.

Let say I have perfect information of the state values for some time steps. For example, the state value (`state_x`) that I am predicting with the particle filter is the true location of an animal tagged with some tracking technology that gives imprecise observations (`obs_x`), but I know exactly where I captured the animal when I put the ta

[2018-05-11 21:56] kingaa commented on #65
@MarieAugerMethe,

It's an interesting question you ask.  There are two levels to it at least:
1. How do we get such a thing into **pomp**?
2. What can we do with it once we do?

For the first question, what about the idea of coding up the two kinds of observations as distinct data variables?  I.e., you would have your tracking data and your capture data as separate variables.  The measurement err

[2018-05-15 21:57] MarieAugerMethe commented on #65
@kingaa

Thank you! Based on your example (only very slightly modified), it looks like the particle filter at least works when the standard deviation of the captures is really small, but I get an error when it's set to 0.
[code]

The error I get when I use `sigma_capture = 0` is:

[code]

I feel like it's not surprising since a normal distribution with sd of 0 is a bit odd and the probability at t

[2018-05-17 12:01] kingaa commented on #65
That's exactly right. With s.d. = 0, the normal distribution is degenerate, hence likelihoods are either infinity or 0.  The filter can't handle this.  Taking the error distribution s.d. nonzero but small results in a non-degenerate, but highly peaked distribution, which might or might not cause practical problems for the filter.  These would show up as a need for an inconveniently large number of

[2018-05-17 12:23] kingaa commented on #65
Looking at your code a little more, I noticed an interesting thing.  The error you are getting is not there because of failure in the filter, it is there because in your *simulation* of the data, you use `sigma_capture=0`.  This has the effect of making the initial condition *exact*, for the capture data, which leads to infinite likelihood.  So it is a purely technical problem.  In particular, if

[2018-05-17 12:34] stevenhuyi opened #67 "problem with C snippets"
Hi, everyone
Recently, I get started to learn and use the pomp package in my research, but encounter a problem I'm struggling with, that is I am not able to use C sinppets.  I've done what's told in installation instructions and follow what are told in  FAQ 3, but it still cannot work. when running a pomp class with C sinppets, the following errors emerge:
[2](https://user-images.githubusercontent

[2018-05-17 13:16] kingaa commented on #67
@stevenhuyi

FAQ 3 doesn't deal with this problem.  Did you mean to refer to [FAQ 4.2](https://kingaa.github.io/pomp/FAQ.html#why-cant-i-run-csnippets)?

I assume you've tried the "hello world" script recommended in FAQ 4.2 and received the same failure-to-compile error.

This points to a problem with your installation of **Rtools**, the additional utilities that are needed to compile shared-objec

[2018-05-17 13:45] stevenhuyi commented on #67
Thanks a lot, Dr. King. It has been resolved. It works after ticking the “edit system PATH” box when reinstalling Rtools. It's my carelessness. Thanks again. @kingaa

[2018-05-17 13:51] #67 closed, assigned to kingaa

[2018-05-17 14:18] ionides commented on #65
To add to Aaron's suggestions, a situation where the measurement has no error is dealt with in
https://ionides.github.io/531w18/14/notes14.html
This is written from a slightly different perspective (a measurement with no error and an observation affecting the state dynamics are related model features, since a natural way to coerce the latter into the pomp framework is to include the observation in

[2018-05-18 22:59] MarieAugerMethe commented on #65
Thank you @kingaa and @ionides!

@kingaa I was surprised that we didn't get a infinite value for the likelihood for the time steps we have the capture data and the sd set to 0, but it's because the estimates from the particle filter are not exactly the same value as that of the capture value/state value.

[code]

I feel it means that the contribution of the capture information is null since when t

[2018-05-19 20:50] kingaa commented on #65
@MarieAugerMethe

You write

Actually, the key change that I made to your model was to set the initial time (`t0`, the time at which the initial conditions obtain) to 0.  It had been set at 1 in your original model.  Therefore, under the stochastic state process, there is diversity in the underlying state at the time (t = 1) of the first observation.  As you correctly observed, with `capture_sigma

[2018-05-23 04:07] MarieAugerMethe commented on #65
Thank you @kingaa !

Ok, I think the way forward is the slightly inflated sd. We want the ~~tracking~~ capture data at that point, because, in theory, it should help estimate the magnitude of the tracking measurement error. Then we don't have any problem with knowing the initial state at the time of the first observation. I'm still slightly confused about the initial condition situation, because I

[2018-05-23 14:30] kingaa commented on #65
@MarieAugerMethe, your understanding (quoted below) is correct.  The default initializer is deterministic.  You also correctly summarize the reason you get an error with `t0=1` and no error with `t0=0`.

As for your plan with `rmeasure` and `dmeasure`, obviously this is possible.  Just bear in mind that, since `rmeasure` and `dmeasure` will now be incompatible (i.e., they correspond to different m

[2018-05-23 14:32] kingaa commented on #65
I'm closing this issue now, but feel free to open it back up for more discussion if you like.  Cheers!

[2018-05-23 14:32] #65 closed, assigned to kingaa

[2018-05-28 23:24] MarieAugerMethe opened #68 "How to make a C library accessible to the Csnippet"
Hi again,

I'm trying to sample from a truncated normal distribution and found a C library that does just that. The source code is available at:
https://people.sc.fsu.edu/~jburkardt/c_src/truncated_normal/truncated_normal.c
https://people.sc.fsu.edu/~jburkardt/c_src/truncated_normal/truncated_normal.h

But I'm not sure how to make that C library available to my Csnippet.

I've tried a few things.

[2018-06-28 10:11] gokhale616 opened #70 "Error: in ‘trajectory’: error in ODE integrator: illegal input detected before taking any integration steps - see written message"
This issue is similar to the one discussed previously, but even after making the suggested changes I cannot seem to make the trajectory matching routine to work. Let me also add that I am fairly new to working with 'pomp' as much as I understand the overall concepts in its infrastructure, I am still picking on new details of its function every day -- It is very likely that the problem is very sill

[2018-06-28 16:05] kingaa commented on #68
@MarieAugerMethe:

Sorry to be so slow in replying. Here is an example I cobbled together to demonstrate two different ways of accomplishing this.

The first compiles the auxiliary C code into an object file, "truncated_normal.o", and then links this with the **pomp**-generated C snippet codes. Note the use of the `globals` argument, which puts the `#include` line into the C snippet file, and the

[2018-06-28 17:48] MarieAugerMethe commented on #68
@kingaa Fantastic, thank you! All three of these work.

I'm not sure I fully understand why the first option has to create the .o file and then the specific .so .c files for pomp... but it works. I'm also not fully clera on the thrid option... but I think it's just because I don't fully understand C.

I've created two completely artificial examples based on your two first examples that add more to

[2018-06-28 18:49] MarieAugerMethe opened #71 "Get seed from R environment in Csnippets"
@kingaa

After incorporating the C files as in issue #68 , I realised that I can't use the random generator for the truncated normal, because I think it requires a seed at each of the state time step...

So I got something to work where I included a modified function from that created by John Burkardt. But now I can't extract the seed from the R environment to get it to return consistent results.

[2018-06-28 22:14] kingaa commented on #70
@gokhale616:

You have a few misconceptions and mistakes that are easily remedied.

1. Since the Poisson distribution is a discrete distribution, your `rmeasure` and `dmeasure` functions can be written much more simply.
1. You have a mistake in the `dmeasure` function.  When your C snippets are executed with `give_log = 1`, you will return the log of the log of the likelihood, which is of course u

[2018-06-28 22:22] kingaa commented on #71
@MarieAugerMethe:

As you might imagine, there are many facilities in **R** for pseudorandom number generation (RNG).  If I were you, I'd think twice (and then maybe two more times) before deciding to bypass **R**'s excellent RNG in favor of my own.  In fact, the call to `rand()` in your codes isn't a necessary part of the algorithm, but just a holdover from the former life of this code in standal

[2018-06-28 22:25] #70 closed, assigned to kingaa

[2018-06-28 23:58] gokhale616 commented on #70
Dr. King,

Thank you so much for your timely feedback. This was much more than I had expected in help! Reading your comments and studying your code was very educational and many of my doubts regarding the requirements and specifications in pomp have been clarified.

I did not intend to send the tainted copy of the code! I had meant to post this other copy which had far fewer typos in it, for that

[2018-06-29 04:30] MarieAugerMethe commented on #71
@kingaa

Perfect! That's exactly what I was looking for. Here is the final version with `unif_rand()`.

[code]

[2018-06-29 04:30] #71 closed, assigned to kingaa

[2018-07-06 16:32] murallcl commented on #51
Hello again,
I am working on making this example use a pomp model and particle filtering and what I have so far produces some errors that I'm not sure how to fix.
The code I attach only fits to the means, since I wanted to see if that ran first before including all the replicates per time point.

The error that I get is after the optim function saying I haven't specified a dmeasure but I believe I

[2018-07-06 17:40] kingaa commented on #51
You've given me a very great deal to look at.  Please narrow it down to the pieces that are giving you trouble.

[2018-07-07 15:10] murallcl commented on #51
Yes indeed, sorry about that. I went back and in the process of cutting the fat I believe I fixed it.
I will check the likelihood surfaces and try it with the data with multiple replicates per time point.
The code is now:

[code]

[code]

giving estimates: r1 = 0.0282, r2 = 0.0979, a12 = 0.116, a21= 0.241

![n1_fit](https://user-images.githubusercontent.com/31885778/42412129-beb1b058-8206-11e8-88b

[2018-07-10 19:31] MarieAugerMethe opened #72 "Guidelines for choosing rw.sd values"
I'm not sure how to choose the values for the `rw.sd` argument in the `mif2` function. My understanding is that this choice might affect the performance of the iterative filtering and while I can choose some values arbitrarily, I was wondering whether there was any guidelines on the magnitude of the sd compared to the parameter value and when it's to our advantage to only change values before a ce

[2018-07-11 13:11] kingaa commented on #72
Good question, @MarieAugerMethe, and another excellent candidate for the FAQ!  To explain, it's necessary to give some background on how the algorithm works.  Even if you understand this already, the text here can be a rough draft of the FAQ entry that will result.  As ever, your feedback will help me help not only just you yourself, but other users too, by helping me improve the FAQ and other doc

[2018-07-11 17:10] MarieAugerMethe commented on #72
Thank you @kingaa!

Again what a fantastic answer. From the paper, I had a similar understanding of IF2, but your description clarifies many points for me and I had completely missed the information on the scale of the parameters. Just a few things to confirm (both are maybe slightly tangents, sorry).

This is more curiosity, my understanding is that the perturbation was the difference between IF2

[2018-07-11 18:06] kingaa commented on #72
No, both IF1 and IF2 use perturbations of the parameters, drawn down gradually.  In fact, these are quite similar between the two.  The chief differences between IF1 and IF2 are:

1. If IF2, the full population of particles surviving to the end of each particle-filter iteration is passed to the next iteration.  In IF1, a point estimate was derived using an approximation to the gradient of the log

[2018-07-11 18:44] MarieAugerMethe commented on #72
Ok, got it! Thanks @kingaa!

Here is some slight wording changes that I think simplifies the explanation (at least to me) and hopefully are still true. I have bolded the changes. One thing I'm not sure how to make clearer is that the pertubation occurs at the time steps of the model (so if I'm modeling the population size of a species every year, you would get different values for the weight of th

[2018-07-11 18:53] MarieAugerMethe commented on #72
~~FYI, I think maybe you said IF2 when you meant IF1 in your previous answer... Do you mean:
In **IF1,** a point estimate was derived using an approximation to the gradient of the log likelihood at the previous point.~~  Corrected now.

[2018-07-13 13:58] kingaa commented on #72
Yes, thanks for the correction.  I am re-opening this issue to remind me to use it in crafting an FAQ entry.

[2018-07-13 14:00] kingaa commented on #68
Am re-opening this to remind me to use this material in an FAQ entry.  Thanks again, @MarieAugerMethe!

[2018-07-14 14:16] cillia0502 opened #73 "how to write a rprocess"
hi,
i try to understand the manual , and use the package, and there is some problem i cannot solve.
in my model, i have an unobserved state process like h_{t+1}|h_t ~ N(a+b*h_t,sigma^2),
i write:
[code]
but it came out :
[code]
or can i just do not use Csnippet,
can i use `onestep.sim,`
and how?

[2018-07-14 16:06] kingaa commented on #73
Hi @cillia0502,

It looks like the error is clear enough: you have not told `pomp` what kind of variable `e` is.  It is "undeclared".  See `?pomp`.  Specifically, note the need to use `paramnames` and `statenames` when using C snippets.

Also, see FAQ 1.1 about submitting effective help requests.

[2018-07-16 06:22] cillia0502 commented on #73
hi again,
sorry to bother,
i solved last problem by adding "double", but it cames out:
[code]
just the same as i try to run the example:
[code]
is it something wrong with installation? i tried to download Rtools and R again.

[2018-07-16 12:55] kingaa commented on #73
The error you are getting is
```c:/Rtools/mingw_64/bin/gcc: No such file or directory```
A needed file, in this case the compiler itself, is not being found by your operating system.  When you reinstalled **Rtools**, did you follow the instructions perfectly?  Did you tick the box that adds the new tools to the system `PATH`?  If you did, perhaps you should try a different installation of **Rtools

[2018-07-16 13:02] cillia0502 commented on #73
thank you again， I will try to reinstall Rtools , I didn’t find FAQ 1.1 last time, i will follow it. Sorry.

[2018-07-27 19:43] MarieAugerMethe opened #74 "filter.mean vs filter.traj (with added Qs on prediction and smoothing)"
Sorry, I have yet again another question. I can't quite understand the difference between the `filter.mean` and the `filter.traj` functions/arguments of `pfilter`.

I'm asking because an important part of movement state-space models are the values of the states. I realize that I can get all of the particle states if I set `save.state = TRUE`, but I have a feeling that the `filter.mean` or `filter.

[2018-08-09 15:19] kingaa commented on #74
Very good question, @MarieAugerMethe!

The difference between `filter.mean` and `filter.traj` is related to the difference between filtering and smoothing.  Recall that the *filtering distribution* is defined to be the distribution of latent states, *X<sub>t</sub>*, given the  data up through time *t*.  That is,  *X<sub>t</sub> | y<sup>&ast;</sup><sub>1:t</sub>, t=1,...,T*.  By contrast, the *smoo

[2018-08-09 23:07] MarieAugerMethe commented on #74
Thank you @kingaa !

Extremely helpful!

Ok, I understand generally what you are saying, but I'm still confused by a few details.

Using a particle filter approach, if you wanted the:
- **predicted state:** you would want the mean of sampled particles for time t based on the observation at time t-1 (i.e. the weight of the particles), hence Xt | y*1:t-1, t=1,...,T
- **filtered state:** you would wa

[2018-08-10 11:18] kingaa commented on #74
@MarieAugerMethe, you ask:

First, let me clarify one thing about **pomp**'s particle filter, `pfilter`.  This is a very simple implementation of the particle filter (the "SIR" filter in the terminology of [Arulampalam et al. (2002)](https://doi.org/10.1109/78.978374)).  As such, at each stage, the particles should be considered to have equal weight.  More complex algorithms track the weights of p

[2018-08-10 14:30] kingaa commented on #74
@MarieAugerMethe:  In looking over the code to make sure I was giving you the correct answer, I discovered a bug.  In particular, `pfilter` (and, by extension, `pmcmc`) were using a weighted sample to get the filter trajectory, where they should have been doing an unweighted sample.  This is now fixed (as of version 1.18.7.1, due to be released later this morning).

Yet another benefit of your exc

[2018-08-10 16:48] MarieAugerMethe commented on #74
Thanks @kingaa !

Ok, got it. Now I'll just have to figure out how to deal with the bimodality ;)

Thanks!

[2018-08-19 16:45] gokhale616 commented on #11
@kingaa: I am trying to solve a very similar model with age-structure. But in my case, all I wish to do is generate deterministic trajectories

I think I have followed the instructions in defining the snippets as described in the query string above- mainly making sure of the contiguity of my state variables and macros definitions in the Csnippets.

However, 2 compilation errors are generated mainl

[2018-08-19 19:40] kingaa commented on #11
@gokhale616:

The issue is that you have not defined the D* variables.  Examine the codes below, which resolve the issue.  The chief difference is that I define the D variables.  Note also the use of `const`.

To understand what is happening, it is useful to examine the source code generated by **pomp** from your C snippets.  This is accomplished via the call to `spy` in the last line.

To answer

[2018-08-19 20:35] gokhale616 commented on #11
@kingaa Thank you very much for such a quick response. The use of the spy function clarifies a lot of things. Especially with the assignment and storage of variables within pomp.

With respect to the use of 'const' in the definition, the code does not use the qualifier during parameter declaration Eg. 'delta': is this because of its definition within the 'paramnames' argument of pomp, since the co

[2018-08-19 21:57] kingaa commented on #11
Read up on what the `const` declaration does in C.  In **pomp**, it prevents you from violating the mathematical definitions and assumptions of the POMP methods, which insist, for example, that parameters can't change in time and that `rmeasure` can't change the state variables, etc.

In the case of your `delta`, you are actually copying the value of this parameter into a new memory location.  Thu

[2018-09-06 23:51] eclee25 opened #76 "cannot compile shared library error"
Hello,

I am encountering `cannot compile shared-object library` errors in two independent installations of pomp. In both installations, I have executed the code described in FAQ 4.2 and the correct outputs were printed. It seems that the errors arose when I tried to examine diagnostic plots from my models.

In setup 1, I am running pomp v1.18.8.1 on a Windows machine with R v3.4.4. Below are the

[2018-09-07 00:28] kingaa commented on #76
In the first error, the compiler complains about not being able to find the 'pomp.h' header.  This is ordinarily not a problem, and the appearance of the '#include <pomp.h>' message makes me suspect something is strange about the code you are attempting to compile.  Can you send a reproducible example?

The second situation is even weirder, since you are on a linux box, but the code is searching i

[2018-09-07 14:16] eclee25 commented on #76
Thanks for the quick response. I'm realizing now that I had been playing around with putting an `include` statement in one of the Csnippets in response to my error in setup 1. That's why the error in setup 2 is so strange. I think setup 2 seems to be working now that this line is removed, but I'll try to make a simple reproducible example in setup 1.

[2018-09-07 15:00] adesupo opened #77 "Measles example"
while trying out the measles example, i keep getting the error message below. kindly clarify. thanks.

Error: in ‘pomp’: error in building shared-object library from C snippets: in ‘pompCBuilder’: compilation error: cannot compile shared-object library ‘C:/Users/user/AppData/Local/Temp/RtmpWMBohu/6992/pomp_d6bbffe75be784fe9c3cb1781052dfea.dll’: status = 1
compiler messages:
Warning messages:
1: ru

[2018-09-07 17:23] kingaa commented on #77
FAQ 4.2.  FAQ 1.1.

[2018-09-09 20:26] eclee25 commented on #76
I believe that there was indeed a problem with my pomp model that seems to have triggered these errors, and now everything appears to be working. Thanks for your help. Closing this issue.

[2018-09-09 20:26] #76 closed, assigned to kingaa

[2018-09-29 23:01] pakdamie opened #78 "Inconsistency between R-Desolve Model and Pomp Csnippet!"
I'm utilizing distributed delay differential equations to model some insect population dynamics. The image below represents my overall model here where I have individuals moving in and out of life-stages. I introduced the distributed delay by using the linear-chain trick. The external variables that would be driving this model would mainly be the daily temperatures which I have as a vector.

![ima

[2018-11-08 19:46] gavincotterill opened #79 "Removing a known number of individuals from a specific compartment?"
*edited: Found the answer to secondary issue of assigning start values for mif2 in 'pomp2'.

I have a 4-compartment model for a wildlife disease. All individuals are born susceptible (S), can become infected and infectious (I), then recover but remain test-positive (R1), and can eventually serorevert with retained immunity (R2). This subpopulation which I'm modeling had some individuals that were

[2019-01-07 13:33] minjuner opened #80 "pomp debug"
I‘m newer to  R,can R debug just like Python. For example,when i debug the pomp construct in the pomp package,it return a pomp object.Then i use the simulate function.and i step into it,but i didn't
figure out how it  works.
![image](https://user-images.githubusercontent.com/33392805/50772607-537df180-12c9-11e9-8d67-6db91c21732f.png)

[2019-01-22 14:32] kingaa commented on #80
Debugging S4 methods is slightly more complicated than debugging ordinary **R** functions.  Try
[code]
or
[code]

[2019-01-22 22:17] luccoffeng opened #81 "Stochastic simulation reproducibility with seed: only works when number of repeated sims and number of parameter sets is exactly the same"
Hi! Great work on pomp, I'm very excited to work with it! As I was checking reproducibility of my stochastic simulations with `pomp2::simulate()`, I noticed that I cannot reproduce a particular stochastic simulation on its own when the original was run as part of a batch generated by means of a single call to `simulate()` with `nsim > 1` and/or number of parameter sets >1. To demonstrate, I use th

[2019-01-22 22:18] luccoffeng commented on #81
To clarify: I can reproduce an entire batch of simulations!

[2019-01-23 19:05] kingaa commented on #81
I'm not sure what your expectation is.  For example, in your `test.seed` function, you supply a vector of seeds.  Do you anticipate there will be a mapping between these and the individual simulations?  In fact, only the first element of this vector is meaningful.

Also, you should note that the when more than one simulation is requested (nsim > 1 or number of parameter sets > 1), these are not pr

[2019-01-23 19:05] #77 closed, assigned to kingaa

[2019-01-23 19:06] #73 closed, assigned to kingaa

[2019-01-23 23:12] luccoffeng commented on #81
Thanks for the prompt response. I was checking reproducibility, and as a test, I wanted to reproduce a single stochastic simulation that was originally produced as part of a larger batch of repeated simulations (nsim > 1 and/or multiple parameter sets). Indeed I was anticipating that the seeds would be mapped to individual simulations and/or parameter sets. I did not receive a warning that only th

[2019-01-23 23:30] kingaa commented on #81
Perhaps it is worth putting in a warning when seeds of length > 1 are furnished.  I assume you understand that this in no way compromises reproducibility.

[2019-01-25 14:19] #81 closed, assigned to kingaa

[2019-01-28 04:20] danieljn19 opened #82 ""error in building shared-object library from C snippets""
Hi, I am having issues running a model with POMP that worked correctly months ago. I am getting the following error. Is there something that needs to be updated? Thanks!

Error: in ‘pomp’: error in building shared-object library from C snippets: in ‘Cbuilder’: compilation error: cannot compile shared-object library ‘/var/folders/rq/vc780bh916525yh64ph_01780000gn/T//RtmpcflSdl/22756/pomp_38c2578465

[2019-01-28 05:05] #82 closed, assigned to kingaa

[2019-01-28 05:07] danieljn19 opened #83 "Error: bad option for ‘covar’."
Hi, I receive the following error when I enter my model.pomp.object line. This is after updating my pomp package (pomp2).

in ‘pomp’: the unrecognized argument ‘tcovar’ is available for use by the POMP basic components.
Error: bad option for ‘covar’.

[2019-01-28 11:08] kingaa commented on #83
See the upgrade guide.  There is a section on [covariates](http://kingaa.github.io/pomp/vignettes/upgrade_guide.html#covariates).

[2019-01-28 11:08] #83 closed, assigned to kingaa

[2019-02-07 23:37] chvandorp commented on #68
Hi,
I have a similar question. I would like to use a c++ library instead of c. Is this at all possible?
Thanks!

[2019-02-08 15:02] kingaa commented on #68
But of course!

[2019-02-08 15:02] #68 closed, assigned to kingaa

[2019-02-12 17:14] kingaa commented on #80
I'm closing this issue now, but feel free to re-open if needed.

[2019-02-12 17:14] #80 closed, assigned to kingaa

[2019-02-12 17:15] kingaa commented on #78
@pakdamie, I won't have the time to read through your very thoroughly documented and carefully constructed, but extremely long and detailed, help request.  Sorry for that.

[2019-02-12 17:15] #78 closed, assigned to kingaa

[2019-02-14 16:31] marius190 opened #84 "How to implement a Multidimensional model in POMP to use enkf"
Hi,

I am not able to use enkf, because it looks like does not allow multi-dimensional Xt variables. I recieve an error saying "Error in c(0, 1) %*% x : non-conformable arguments"

Also when defining x.0 on the parameter vector is not possible to define it as a vector.

[code]

[2019-02-15 11:18] marius190 commented on #84
Finally I was able to run enkf(). It worked defing names for the state initial process adding "statenames = c("xk","xk_1")" when calling to pomp.

[2019-02-15 11:30] marius190 opened #85 "Is enkf() working well? There is no example on the documentation about enkf()"
Hi Kingaa,

I am using the enkf() to estimate some models with the aim to estimate more complex model for meteoroligical data assimilation problems. Do you think it works when having big models lets say 100 variables? And is any way to define this variables in one time, without being necesarry to define it manually givin name to each variable.

I have a problem that I can't figure out what happens

[2019-02-15 12:12] kingaa commented on #84
With reference to your first post, @marius190, I do not get the error you get when I run your code. I get

[code]

Note there are a number of problems and misconceptions in your attempt. First of all, note that the error is not a **pomp** error: it results from an attempt to multiply two incommensurate matrices. Second, note that you are in several places making the assumption that **pomp** will h

[2019-02-15 12:12] #84 closed, assigned to kingaa

[2019-02-15 12:30] kingaa commented on #85
Why is it that you expect something other than what you observe? For your simple problem, what is the exact theoretical expectation?

`enkf` is, by all present indications, working well. If you find evidence otherwise, I would be happy to see it so that I can fix the problem.

The reason there are no examples is that no one has yet contributed any examples. I would be happy to include contributed

[2019-02-15 12:31] #85 closed, assigned to kingaa

[2019-02-15 12:38] marius190 commented on #84
Thanks for the answer.

Yes, the error you get is different, because I've made a change when defining X.0 on the web code. To get the same error, it is necesary to change X.0 = matrix(c(1,0)) as X.0=1 on the code.

Yes, the code implements the problem I want to accomplishing. About matrix I don't know exactly where I am supposing that pomp handle matrix in a particular way. I am using matrix multi

[2019-02-15 12:56] marius190 commented on #85
I would expect the prediction (pred.mean()) would be something like that attached image. _enkf()_ is no taking into account the observation vector. You can give a "dumb" y vector, for example y=1:100 that the result would be the same. I suspect that the kalman gain is computed as 0: x^a=x^f+K(y-Hx^f)=x^f, f for forecast, a for analysis.

![results](https://user-images.githubusercontent.com/4763888

[2019-02-15 13:13] kingaa commented on #85
Yes, the Kalman gain in this case is 0.  This is because your state process is deterministic. There is no variance in the forecast.  M&iacute;ralo:

[code]

And thanks for working on posing your questions well: the extra effort is noted!

[2019-02-17 15:14] kingaa commented on #79
@gxvxn: apologies for being so very slow to reply.  You may have resolved this issue already, or moved on entirely, but your main question, about how to remove a known number of individuals from a stochastic compartment, is an interesting one.

In a certain sense, there is no inference problem here: the model is doing what it is supposed to do and negative numbers of infectives is one of the thing

[2019-02-25 04:59] natelee1019 commented on #76
Sorry I also encounter such problem when i was using pomp2 in R studio. I have installed the package successfully but unable to use their result

Code:
[code]
Error:
[code]

[2019-02-25 11:39] kingaa commented on #76
[FAQ 4.3](http://kingaa.github.io/pomp/FAQ.html#could-not-compile)

[2019-02-25 19:59] gavincotterill commented on #79
Hi Dr. King,

Thanks for your reply. I like your suggestion of treating the removals as data, and I think I can see how that would be worked in. I have moved on from this issue, although I may still have occasion to revisit this. The interim work-around I used (which seems to suit my purposes enough) was to treat removals as a rate, and from simulations at the MLE, double check that the median est

[2019-02-25 20:06] kingaa commented on #79
Sounds like a sensible compromise.  Closing this issue now, but feel free to reopen if necessary.

[2019-02-25 20:06] #79 closed, assigned to kingaa

[2019-02-27 01:57] natelee1019 opened #87 "Issue with pomp pfilter [new]"
Hi all. I have been struggling for the following error for a few days.

Code as follows:

[code]

I want to use the Pfilter function， and i follow most of the steps in https://kingaa.github.io/pomp/vignettes/getting_started.html#the_particle_filter.

My error message is saying :
[code]

I think it is because i never specify the value of pop? I have checked 4.2 in http://kingaa.github.io/pomp/FAQ.h

[2019-02-27 02:00] #87 closed, assigned to kingaa

[2019-02-27 02:00] natelee1019 commented on #87
Also, I am able to get the result following steps in https://kingaa.github.io/pomp/vignettes/getting_started.html#the_particle_filter

[2019-02-27 03:36] kingaa commented on #87
When you create the simulated data (in your call to `simulate`) the data are called `Y`.  In the particle filter calculation, the data are called `pop`, but there is no `pop` variable defined.  Just pick one name for the data, either `pop ` or `Y`.  For example:

[code]

[2019-02-27 03:37] natelee1019 commented on #87
Thank you very much!

[2019-03-14 11:46] minjuner opened #88 "Error in is.nloptr(ret) : objective in x0 returns NA"
When estimating the SIR model parameters, I first set a parameter range, then use the trajectory matching to select some of the desirable parameters, but there is an error in running traj.match: Error in is.nloptr(ret) : objective in x0 returns NA.

Here is my code and data
[file.zip](https://github.com/kingaa/pomp/files/2966373/file.zip)

[code]

[code]

[2019-03-14 13:10] kingaa commented on #88
The problem is that your deterministic skeleton is a vectorfield, not a map.  That is, your deterministic model evolves in continuous time.  See the following, which updates your code to **pomp2**.

[code]

This shows that the trajectory calculations are free of `NaN` and `NA`.  From here, to do trajectory matching, you construct an objective function using `traj_objfun` (adding parameter transfor

[2019-03-15 08:17] minjuner commented on #88
Thank you, I will try it according to what you said.

[2019-03-15 10:53] kingaa commented on #88
I'll close this issue now, but feel free to reopen it if appropriate.

[2019-03-15 10:53] #88 closed, assigned to kingaa

[2019-04-25 15:12] luccoffeng opened #89 "Event-based annual aging in an age-structured ODE"
Hi, I'm using pomp2 and am interested in implementing an age-structured version of a stochastic SIR model. I have checked out an earlier question about this [here](https://github.com/kingaa/pomp/issues/11) and the [pomp FAQ](https://kingaa.github.io/pomp/FAQ.html#vector-in-csnippet) that it refers to (which covers state vectorisation and matricisation - if that's a word). Still figuring out that F

[2019-04-25 17:00] kingaa commented on #89
Have you tried accomplishing this via a time-dependent rprocess function?   Since you're not in control of at what times such a function would be evaluated, you'd have to be a little clever in making sure that it is valid for all times, but I can think of several ways of accomplishing this.

With respect to the 'events' functionality, I'm curious as to the purpose you envision for it.  Also, have

[2019-04-25 18:52] luccoffeng commented on #89
Thanks for the prompt response!

Nope, but I'm using rprocess = euler(step.fun = Csnippet("..."), delta.t = 1/365) to simulate fixed steps of one day, so I guess it should be possible to build in some sort of IF statement in the Csnippet to check whether current time t is an integer, and then if it is age everybody by one year by moving the bins up and adding newborns. Given my limited experience

[2019-04-25 20:20] kingaa commented on #89
That's right.  And you're also right to be worrying about how to make sure that the 'if' statement triggers only at the right times.  C arithmetic is just the native arithmetic on the computer, so roundoff error is a potential problem.  One thing I've done in this situation is to create an additional state variable that tracks whether the aging has been done recently, to make sure that you don't a

[2019-04-25 20:28] luccoffeng commented on #89
Will do. And another motivation for having event functionality: when modelling real-life events (e.g. vaccination or a mass drug administration), the event should instantaneously change the state of the system by moving (parts of) the population to other states.

[2019-04-25 20:37] luccoffeng commented on #89
In that case, if delta.t is available within the rprocess (don't know whether it is, would have to check), an IF statement of the sort "if(floor(t) - floor(t - delta.t) > 0)" should do the trick, as long as delta.t is set to be equal to or smaller than 1.

[2019-04-26 11:30] kingaa commented on #89
Yes, delta.t will be available.  In the C snippet, it's 'dt'.

To be extra safe, you might do
`if (floor(t) - floor(t-dt) > 0.5)`

[2019-05-01 14:40] kingaa commented on #89
Going to close this now.  Feel free to reopen if more discussion is warranted.

[2019-05-01 14:40] #89 closed, assigned to kingaa

[2019-05-06 14:45] 17nak1 opened #90 "ode_control in traj.match"
I see in traj.match there is a ode_control optional list that the elements of this list will be passed to deSolve.
How can I change the ode solver method in traj.match?
Right now  I have  `skeleton=vectorfield(modelSnippet_ode)`. Is the default method "lsoda"?

[2019-05-06 15:03] kingaa commented on #90
I strongly recommend you switch to using **pomp2**.  Under **pomp2**, the `traj.match` method is replaced by `traj.match.objfun`, which constructs an objective function suitable for use with many different optimizers.  Importantly, this is a *stateful* objective function.  In particular, it remembers the arguments with which it was last called.

Now, to your question.  The elements of the list `od

[2019-05-06 15:39] 17nak1 commented on #90
Thanks for the answer.
I am going to switch using *pomp2* as you recommended. Thank you for your help!

[2019-05-06 15:39] #90 closed, assigned to kingaa

[2019-06-01 04:36] aakhmetz opened #91 "Assignment of model parameters to a pomp model"
I observe a bit odd behavior with assigning model parameters to pomp-model. Precisely, when I change the model parameters directly by coef(pomp_model) = prmvalues, so that I have:
[code]
However, the values of model parameters from "fromEst" directory remains unchanged:
[code]
In my opinion the latter should be updated and show the same values as the first command. Or is my understanding somehow w

[2019-06-01 12:28] kingaa commented on #91
In your example, what is the relationship between the parameter vector `prmvalues` and `allpars`?  Also, what are the transformations you are using?  Without knowing these things, it's impossible to say whether this behavior is correct.  Can you provide the code for the transformations and the definitions of `prmvalues` and `allpars`?

[2019-06-05 02:58] aakhmetz commented on #91
Dear Prof. King, It was my mistake in the coding which I found after some more investigation. Sorry for taking your time

[2019-06-05 02:58] #91 closed, assigned to kingaa

[2019-06-12 19:37] gmferra opened #92 "Using partrans and parameter_trans"
I'm trying to update my code for version 2 of pomp, and I'm having trouble incorporating constraints on my parameters.

<img width="263" alt="Screen Shot 2019-06-12 at 3 28 37 PM" src="https://user-images.githubusercontent.com/51380053/59380423-14941200-8d27-11e9-9394-c9b2632861ef.png">
<img width="419" alt="Screen Shot 2019-06-12 at 3 28 53 PM" src="https://user-images.githubusercontent.com/51380

[2019-06-13 18:51] kingaa commented on #92
You don't mention it explicitly, but I gather from the first error message that you're performing the call to mif2 inside a `foreach` loop.  If the `foreach` backend is running independent slave **R** sessions, then there is the possibility that `foreach` has not worked out that it needs to export `fromEst` and `toEst` to the slave sessions.  You can force it to do so by naming those objects in th

[2019-06-14 17:58] caseyzipfel opened #93 "Fitting an age-structured model to a single time series"
Hello!
I was wondering if pomp is able to infer parameters for a multi-layered model (like an age-structured SIR model, for example), with just one set of data. I have seen examples where people use pomp for an age-structured model where they have different sets of infection data for each age group. However, I only have one time series of infection data for the total population that is composed of

[2019-06-18 01:50] kingaa commented on #93
@caseyzipfel:

There are two issues here.  The first is purely technical: can you implement an age structured model (i.e., one for which the state vector encodes age-structure information), despite the fact that you only have one, aggregated, data variable?  The answer is an unequivocal "Yes".  Nothing stops you in fact from writing an arbitrarily complex unobserved Markov process, regardless of t

[2019-06-21 14:47] fintzij opened #94 "Extracting traces from pmcmc object"
Hello,

I am having difficulty extracting the posterior samples in a pmcmc object using the traces function. The error I am getting reads:

Error: ‘traces’ is undefined for ‘object’ of class ‘pmcmc’.

I've tried redefining the class of the pomp object to be of class 'pmcmcd_pomp', but get the same error that traces is undefined for an object of that class as well. I'm not sure how to extract sampl

[2019-06-21 15:01] fintzij commented on #94
Quick followup: the model was fit using pomp version 1.18.Perhaps may have something to do with the problems I'm running into? I'd like to avoid refitting the model if possible.

Thanks,
Jon

[2019-06-21 15:08] fintzij commented on #94
Solution: installed pomp version 1.16 and was able to use the now-deprecated 'conv.rec' function to get at the posterior samples. Closing the issue.

[2019-06-21 15:08] #94 closed, assigned to kingaa

[2019-06-21 15:38] kingaa commented on #94
Your solution is really a postponement of the problem.  Obviously, it would be better from a number of perspectives to install the latest version and use the `traces` function.

[2019-06-21 15:39] kingaa commented on #93
@caseyzipfel

I am going to close this issue for now.  If you would like to continue the discussion, feel free to reopen it.

[2019-06-21 15:39] #93 closed, assigned to kingaa

[2019-06-21 15:41] kingaa commented on #92
@gmferra: on the assumption that this has resolved your difficulties, I am going to close this issue now.  Feel free to reopen it if has not in fact been resolved, or if you want to continue the discussion.

[2019-06-21 15:41] #92 closed, assigned to kingaa

[2019-06-21 15:52] gmferra commented on #92
Hi,

Yes, I was able to resolve this issue. I apologize for not responding sooner. Thank you for your help!

Best,
Gabby

[2019-06-21 16:03] fintzij commented on #94
Agreed!

[2019-07-12 11:32] luccoffeng commented on #89
Hi Aaron, a little later than intended: end of April you asked me to remind you in a few weeks about the following question I had.

Could the "events" functionality that dsolve has be implemented in pomp2? It would allow the user to specificy times at which user-defined events abruptly change the states in the system. Examples of applications in epidemiological models are annual aging of the popul

[2019-07-19 18:12] LinyiGuo96 commented on #80
Hi Aaron,
I have one problem here:
my code is
[code]

then i got ** Error: in ‘simulate’: argument "params" is missing, with no default**
why did this happen?

[2019-07-19 18:16] LinyiGuo96 commented on #80
@kingaa

[2019-07-19 20:51] kingaa commented on #80
The basic model components (rprocess, rmeasure) that you've supplied are inappropriate for **pomp** versions >=2.  See the [upgrade guide](http://kingaa.github.io/pomp/vignettes/upgrade_guide.html) for information on how to modify your old codes to work with the new version of **pomp**.

[2019-07-23 07:30] belialhou opened #95 "how to put a periodic cubic b-spline basis in a c snippet"
Hello, I need your help!
When I write a code for a SIR model which has to use a periodic cubic b-spline basis to represent beta, I don't know how to put it in the step function. This step function is coded in C snippet. Every time I use function  `periodic_bspline_basis_eval_t` to code it, R always says `error: unexpected type name 'periodic_bspline_basis_eval_t': expected expression Beta = exp(p`

[2019-07-23 11:26] kingaa commented on #95
@belialhou:

The function call for evaluation of a periodic b-spline basis is `periodic_bspline_basis_eval`.  The following evaluates the 6 basis functions (of degree 3 and period 2) at time `t`:
[code]
Note that `t`, the current time, is automatically available in the C snippet.  Note also that C does not support named arguments.  If you are intending to evaluate the above at a random phase `Phi`

[2019-07-23 12:36] #72 closed, assigned to kingaa

[2019-07-23 12:36] #74 closed, assigned to kingaa

[2019-07-24 01:08] belialhou commented on #95
@kingaa
Dear Prof. King,
Thank you for helping me. It's a pleasure to receive your answer. I still have a question for the second part that you mentioned. Should I delete one of those two equations?
` reulermultinom(2, I, &rate[5], dt, &dN[2]);`
`reulermultinom(1, I, &rate[3], dt, &dN[11]);`
I try to actualise the results of your paper, named Inference for nonlinear dynamical systems. N[2] means t

[2019-07-24 11:12] kingaa commented on #95
If you are trying to recreate the results from the cholera models, you would do better to look at the [2008 Nature paper](https://doi.org/10.1038/nature07084).  The code for those models is included in the package.  See `?dacca`.  You can of course study the underlying pomp construction by looking at the source code.

More generally, when constructing a POMP for a compartmental model using the Eul

[2019-07-24 12:56] kingaa commented on #95
See also the new [FAQ 3.6](https://kingaa.github.io/pomp/FAQ.html#eulermultinomial-approximation).

[2019-07-24 13:00] belialhou commented on #95
@kingaa Thank you, Prof. King. I will read all of those.

[2019-08-02 13:38] beansrowning opened #96 "Parallelized trajectory matching in Pomp2?"
I've been working with parameter estimation and can't seem to get parallelized code working that used to work pre-version 2

I'm using Win 10 with doParallel and tried on two different machines and different R versions (3.5.3, 3.6.0), to no avail.

Hard to make a simple reprex, but I'm actually working on retrofitting [your SEIR model](https://doi.org/10.5061/dryad.r5f30) from the West African out

[2019-08-02 15:06] kingaa commented on #96
Not sure just what is happening, but recent versions of Windows have been having trouble building and loading C snippet files in parallel.  I suspect this is due to aggressive Windows security features.

Try setting the `cdir` and/or `cfile` arguments in the call that constructs `models`.  The problem I've seen is consistent with Windows objecting to creating a file in the temporary directory and

[2019-08-02 21:20] beansrowning commented on #96
Looks like setting `cdir` to different temporary folder seemed to fix it.

I'll test it out on a few different machines to make sure that's working universally.

Thanks for the quick response!

[2019-08-03 15:09] kingaa commented on #96
@beansrowning:

It would be great if you could send along any more information you have about the failure.  As I say, a number of windows 10 users have run into what appears to be the same problem, and I'd like to add it to the FAQ.  You can help to make that as useful as possible!

Also, please note that the latest release (2.2.2, available, in source and binary, on github only) fixes a bug that

[2019-08-08 02:42] belialhou commented on #95
Hello, Prof. King. Thank you for reading my question. I still have some problems for the Euler multinomial distribution. It says that when constructing a POMP for a compartmental model using the Euler multinomial approximation, one needs exactly one call to `reulermultinom` for each compartment. How to pack the corresponding n rates into contiguous memory locations? Does it mean I have to choose a

[2019-08-08 11:24] kingaa commented on #95
Since there is a one-to-one correspondence between rates and random variables, I find it easiest to pack the rates into a single vector (as you have) and to extract the corresponding random draws in another vector of exactly the same size.

However, one must ensure that the rates pertaining to a particular compartment are *contiguous*.

To be concrete, I revisit your code:
[code]

Notice that I've

[2019-08-08 11:46] belialhou commented on #95
<img width="139" alt="Screenshot 2019-08-08 at 7 30 30 PM" src="https://user-images.githubusercontent.com/53211249/62699849-0a368180-ba13-11e9-84b5-a0f6b079cf3f.png">

This is the differential equation of transition from states birth to susceptible. So I thought using `dp` and population times `m` to the mean of poisson distribution.  Moreover, `H` represents the number of death caused by cholera,

[2019-08-08 12:27] kingaa commented on #95
OK.  I thought, because of its name, that `dpopdt` might be dP/dt instead of dP.

Since you want to accumulate cholera mortality, you should accumulate the `dN[3]` variable in my version of your code above.

If you want to keep track of this variable, then keep it.  Since it has no effect on the dynamics at all, I don't see why you'd want to do this, but perhaps you have your reasons.

[2019-08-14 12:26] belialhou commented on #95
Prof. King, I still feel I still have some errors which i'm unable to solve based on your previous answers.
This is process diagram.
<img width="428" alt="Screenshot 2019-08-07 at 12 16 08 PM" src="https://user-images.githubusercontent.com/53211249/63018064-8b39c100-beca-11e9-84e6-bdb10bf9eb01.png">
And this is the differential equations.
<img width="227" alt="Screenshot 2019-08-14 at 7 35 45 PM"

[2019-08-14 17:09] kingaa commented on #95
A cursory inspection of your code reveals that it differs in some ways from the model produced by `dacca()`.  In addition, the parameters appear to be different.

Why not compare your code directly with that of `dacca()` (e.g., do `dacca` at the prompt or read the source code)?  You should also compare the parameter values carefully.

[2019-08-15 07:26] kingaa commented on #96
I will close this issue now, but please feel free to reopen if more discussion is warranted.

[2019-08-15 07:26] #96 closed, assigned to kingaa

[2019-08-15 07:26] #95 closed, assigned to kingaa

[2019-08-15 18:43] beansrowning commented on #96
Sounds good.

I've been slammed lately, but when I get some time I'd be happy to help add to the FAQs!

I appreciate all of your help.

[2019-08-24 08:49] belialhou commented on #95
@kingaa Prof. King, thank you for your advice! I got a way to do it.

[2019-11-23 03:39] sdwfrost opened #97 "dprocess examples?"
Hi @kingaa! While I understand that pomp mostly deals with models where the likelihood of the process is unknown, I'd like to use some pseudolikelihood approaches where I specify (or misspecify) dprocess. In going through the old materials on the `ou2` example, there is the following code:

[code]

This calls the following C code:

[code]

I have a few questions:

1. How do I rewrite the `dprocess

[2019-11-23 17:23] kingaa commented on #97
Good to hear from you, @sdwfrost!

Specifying `dprocess` is somewhat more straightforward in versions 2+ than it was before.  The user must write code that evaluates the likelihood of a single transition from arbitrary state `x1` at arbitrary time `t1` to arbitrary state `x2` at arbitrary time `t2`, where of course `t2 >= t1`. It can be assumed that the transition is elementary if this is helpful.

[2019-11-23 17:23] #97 closed, assigned to kingaa

[2019-11-23 17:50] sdwfrost commented on #97
Thanks! I didn't know about `dprocess_spec` - the `_1`/`_2` magic is precisely what I was looking for.

[2020-01-06 07:12] SQ206 opened #98 "cannot compile shared-object library"
Hello,

I got an error while using pomp.and I tried searching for related content and still couldn't solve it

And I am running pomp v2.4 on a Windows machine with R v3.6.2. Here is the code I used and the error that occurred（Garbled characters appear in the process）：

[code]

[2020-01-06 12:08] kingaa commented on #98
There are two problems that you encountered.  The first is due to the fact that there have been substantial changes in **pomp** as of version 2 that break some codes written for earlier versions.  These are all documented in the [pomp version 2 upgrade guide](https://kingaa.github.io/pomp/vignettes/upgrade_guide.html).  In particular, [it is pointed out there](https://kingaa.github.io/pomp/vignett

[2020-01-08 00:59] SQ206 commented on #98
Thank you for your guidance, I will carefully read what you said and learn, thank you again for your help @kingaa

[2020-01-08 02:18] SQ206 commented on #98
I have successfully solved the above problem. In the process, I used your suggestions and referred to (http://www.freesion.com/article/8282235719/), just install the latest pomp in the windows system. Thank you very much! @kingaa

[2020-01-10 15:43] luccoffeng commented on #89
Hi @kingaa
Not sure if the above message with the reminder that you asked for came through. I'm still very much interested in functionality to program events at specific times into pomp models. Recap: by event I mean some event by which the state of the simulation changes instantaneously at a specified moment in time. Example applications would be:

- changing the distribution of the human populat

[2020-01-23 22:17] #98 closed, assigned to kingaa

[2020-02-11 01:48] NafisNr opened #99 "How to fit a Pomp model to a cohort study data?"
I'm trying to fit a deterministic pomp model to a cohort study data, where individuals were kept track of on a monthly scale.

Plot below shows the number of individuals tested on a monthly scale and also number infected with an enteric pathogen.
![image](https://user-images.githubusercontent.com/36863446/74205539-a775ab00-4c2c-11ea-93b7-e418fd48a804.png)

I am wondering if it is possible to fit a

[2020-02-13 21:39] kingaa commented on #99
It is eminently possible to fit a model of the kind you allude to.

However, I'm not sure what you are looking for.  What do you mean by "defining weight for each point"?

Also, I don't understand why you specify both 'rprocess' and 'skeleton'. Since your process model is deterministic, only 'skeleton' is appropriate.

[2020-02-13 22:09] NafisNr commented on #99
Thanks very much Dr. King for the reply.
Sorry for not being clear. By weight, I mean having time varying probability in the dmeasure and rmeasure functions. In this example, I used the proportion of infected cases as the probability of success in dbinom and rbinom.
Since cohort study outcome is not a representative of the population of the study area, I am wondering how I can contribute the covar

[2020-02-13 23:01] kingaa commented on #99
dmeasure and rmeasure can depend on time and on covariates.  Have you tried simply referencing the covariates in these C snippets?

[2020-02-13 23:22] NafisNr commented on #99
Thanks for the hint.
Yes, my covar data, called "pop" here, is the number of individuals tested per time. I used it in the dmeasure and rmeasure.
I have also tried the followings as an alternative option which gives me a good fit. I defined the probability of success as the ratio of number tested per time over the maximum number tested multiplied by reporting probability (eps1):

dmeas3 <- Csnippe

[2020-02-13 23:29] kingaa commented on #99
I don't know what you mean by "correct".  Perhaps it is better to ask to what model these code snippets correspond.  Your `meas3` snippets correspond to a model in which every infected person, independently, has a chance `eps1*pop/max(pop)` of being recorded in the data as infected.  Is that what you want to assume?

More generally, you really just haven't been clear in explaining (1) what your mo

[2020-02-14 00:14] NafisNr commented on #99
My apologies. Hopefully it is clear this time.

I'm trying to fit an SIRS model to Campylobacter to understand the dynamics of this enteric pathogen.

Data is from a cohort study in Mirpur area, Bangladesh were in total, 265 children's stool samples were collected on a monthly scale from when they were 7 days old until they turned 2 years old. This study was conducted from 2010 to 2014. The plot b

[2020-02-14 00:24] kingaa commented on #99
What is your scientific question?  Are you trying to learn about the circulation of the pathogen in the general population?  Are you wanting to know the trajectories of the prevalence or perhaps to infer the relationship between prevalence and force of infection?
Then there are questions about the relationship between the data and the question: What is the relationship between the cohort of childr

[2020-02-14 16:41] NafisNr commented on #99
My scientific question is how malnutrition affects the dynamics of the pathogen?

In this study, the nutrition status of children was also recorded on monthly scale. As the first step, I was trying to fit the model to only the enteric pathogen data without accounting for the nutrition status of children.

The cohort study was conducted in resource-constrained areas (8 countries across 3 continents

[2020-02-14 17:25] kingaa commented on #99
Interesting!  So, I am guessing that you want to understand what the risk of infection was among these children, so that you can, ultimately, see whether nutritional status affected their risk, no?

If this is correct, then it is not clear that it makes sense to think about the force of infection as a dynamic process.  In particular, if transmission is driven by infections within a large populatio

[2020-02-14 17:38] NafisNr commented on #99
Thank you very much for your reply.
Yes, that's exactly what I want to understand.
Campylobacter main mode of transmission is through consuming contaminated food or water, or raw undercooked poultry.
However as you mentioned, since the population of catchment area for this site is about 100,000, data from 200 children may not give me enough information.

Thanks again for your time and your help.

[2020-02-14 18:11] kingaa commented on #99
Yes, so it seems that **pomp** is more than you really want.  Why not attempt to estimate the force of infection (either as a constant, or time-varying), then look at the differential risk of infection with nutrition status.  Perhaps a Cox proportional hazards model would be what you want.  In any case, it seems **pomp** is overkill in this situation.

[2020-02-14 18:11] #99 closed, assigned to kingaa

[2020-03-04 13:46] yijunwang0805 opened #100 "demo error: error in building shared-object library from C snippets"
Hi,

Thank you so much for your wonderful package and beautifully written demo.

I am running the demo [here](https://kingaa.github.io/clim-dis/parest/parest.html#fitting-sir-to-an-epidemic-curve-using-likelihood).

While running the code
[code]
I run into a problem,
[code]

I notice the issue is similar to #83 but it is slightly different. #83's issue is with clang.

Would you please spend a coup

[2020-03-04 18:26] kingaa commented on #100
- [FAQ 1.4](http://kingaa.github.io/pomp/FAQ.html#i-am-running-a-piece-of-pomp-code-i-found-on-the-web-but-i-get-errors.-what-is-going-on).
- [Issue 98](https://github.com/kingaa/pomp/issues/98).
- The materials you are following are dated May 2017.  There can be no guarantee that old materials will remain up to date!

[2020-03-04 18:26] #100 closed, assigned to kingaa

[2020-03-26 23:23] jsilve24 opened #101 "Totally confused - Error in Compilation"
I have been reading through the documentaion, the backwards compatability document for pomp2 and I can't figure out why I am getting this error:

[code]

Gives
[code]

Totally flummoxed.

Any help would be much appreciated. Note I ran through the FAQ test (e.g., Hello World and it worked fine so I don't think its a compilation issue).

Thank you!
Justin

[2020-03-26 23:31] jsilve24 commented on #101
Looks Like I needed to change from clang to gcc

Here is how my makevars file looks now.

[code]

Working now.

[2020-03-26 23:31] #101 closed, assigned to kingaa

[2020-03-26 23:38] kingaa commented on #101
It would be good to get to the bottom of why `clang` isn't compatible, at least on your system....

[2020-03-26 23:41] jsilve24 commented on #101
Happy to. Maybe a little burned out at this very minute. Took f***ing forever to figure out the issue.

[2020-03-26 23:58] jsilve24 commented on #101
Well this is a joy :P

[code]

Gives:

[code]

Any ideas?

[2020-03-27 00:01] jsilve24 commented on #101
pfilter gives the same result...

[code]

I think this is a sign that the compiler did not work as expected... guess I can help tracking down the error :)

[2020-03-27 00:40] jsilve24 commented on #101
This seemed to work:  https://ryanhomer.github.io/posts/build-openmp-macos-catalina-complete

Thanks
Look forward to trying the package out.

[2020-03-27 00:48] kingaa commented on #101
The `__pomp_load_stack_incr` function keeps track of whether the compiled codes need to be dynamically linked.  The fact that that function is not found is, as you surmised, an indication that the compiler did not work as expected.  It can be instructive to have a look at the C code `pomp` generates.  Do this by setting, for example, `cdir=getwd()` and `cfile` to the file name of your choice.  The

[2020-04-01 17:41] noamross opened #102 "Use matrix (compartment x time) of covariates"
Hello,  I am writing a model that simulates a series of `K` patches, each of which has an independent time series of covariates.  Right now am defining these with

[code]

However, as `K` varies between experiments, I'd like to be able to refer to these covariates by _index_ in my `rprocess` Csnippet code.  Is there a way for me for me to refer to coviates as `covar[k]`? I suspect a `#define` macr

[2020-04-01 18:01] kingaa commented on #102
@noamross: Have a look at [FAQ 3.1](https://kingaa.github.io/pomp/FAQ.html#vector-in-csnippet) and let me know if you still have questions.

[2020-04-01 18:18] noamross commented on #102
Thank you.  I'm afraid I'm still not clear on this.  Here's a minimal Csnippet simulator for variables (`X_1`, ..., `X_K`), a single parameter `beta` (as well as `n_patches`) and using the covariate table above.  I am trying to figure out if the covariates can be referred to by an index (`covar(1)` or `covar[1]`) rather than name(`covar_1`).

[code]

[2020-04-01 18:41] noamross commented on #102
Aha, by examining the C code generated by pomp I believed I have answered by own question.  Covariates are stored in a table called `__covars` with indices `__covindex`.  I think that the above can be done by:

[code]

Note that if there are other, non-patch-specific covariates, they will modify the index `K` used for lookup.

[2020-04-01 19:25] kingaa commented on #102
Yes, you are onto it.  Good on you for using the Source.  Will you have problems given that your macro X is defined in terms of itself?

[2020-04-01 20:34] noamross commented on #102
Ah, yes, that's right, it should be
[code]

[2020-04-05 13:32] kingaa commented on #102
@noamross: Is everything working now?  I am closing this issue, but feel free to reopen if there is more to discuss!

[2020-04-05 13:32] #102 closed, assigned to kingaa

[2020-04-08 04:03] braunheim opened #103 "Error: error in building shared-object library from C snippets: in ‘Cbuilder’: compilation error: cannot compile shared-object library"
I can't resolve this error when trying to run pomp:

[code]

[2020-04-08 11:08] kingaa commented on #103
FAQ 4.3.  Also FAQ 1.1.

[2020-04-08 12:50] braunheim commented on #103
Did all that you asked, still errors out
[code]

[2020-04-08 12:53] braunheim opened #104 "Error: error in building shared-object library from C snippets: in ‘Cbuilder’"
Restarting R session...

Installing package into ‘\\c4usc1syn06g003/PHSSHARE/USERS/bbraunhei/My Documents/R/win-library/3.6’
(as ‘lib’ is unspecified)
trying URL 'https://kingaa.github.io/bin/windows/contrib/3.6/pomp_2.7.2.1.zip'
Content type 'application/zip' length 1511381 bytes (1.4 MB)
downloaded 1.4 MB

package ‘pomp’ successfully unpacked and MD5 sums checked

The downloaded binary packages

[2020-04-08 13:02] kingaa commented on #103
Error looks to be in your paths:
[code]

Can you check to see if this file in fact exists in that location?

P.S. Would be good to upgrade to R v 3.6.3 while you're at it, to rule out problems that might be caused by the version mismatch.  Alternatively, you can build **pomp** from source now that you have Rtools installed.

[2020-04-08 21:18] kingaa commented on #104
This is a duplicate of #103.

[2020-04-08 21:18] #104 closed, assigned to kingaa

[2020-04-08 21:19] kingaa commented on #103
Please avoid duplicating issues.  I've reopened this one.  Have you been able to resolve the issue?  If not, I can help further.

[2020-04-09 04:18] Quenton1 opened #105 "Question about the SIR example"
Hi, all. I'm trying to learn the example of "More model complexity: time-dependence, covariates, extra-demographic stochasticity"  of (https://kingaa.github.io/pomp/vignettes/oaxaca.html#more_model_complexity:_time-dependence,_covariates,_extra-demographic_stochasticity)

And I revise the code to fit the new version of pomp. This is my code.
[code]

This is my data for testing.
[code]

And the cod

[2020-04-09 11:02] kingaa commented on #105
@Quenton1: Don't have time to look at your code in great detail right now.  Some observations and suggestions to help you immediately.  We can communicate more later if these don't solve the problem.

1. The codes in that document have already been adapted to version 2 of **pomp**.  Are there revisions needed to bring it up to date with 2.7?
1. I don't understand what is the relationship of the li

[2020-04-09 17:20] andreashandel opened #106 "supply a string to rw.sd?"
Hi Aaron,
I'm finally (after years!) doing some serious pomping, together with John and others working on some COVID forecasting. As I dig through pomp, I stumble often, so far been able to get things figured out. But now I've got something I can't figure out. I want to feed a string to `rw.sd`. Basically instead of this:
[code]
Looking at Issue #33, I tried `x <- do.call(rw.sd,as.list(s1))` but t

[2020-04-09 18:37] kingaa commented on #106
Yes, rw.sd is designed to take a set of expressions, that it then evaluates in a special environment.  It is not a normal function.  That is, it uses non-standard evaluation.

To answer your question literally, you might do something like:
[code]

However, I suspect that you are making things more complicated than they need to be.  What are you trying to accomplish?

[2020-04-09 18:54] andreashandel commented on #106
Thanks that worked! I'm trying to not hard-code a fairly big rw.sd object but instead build it more automatically by combining from a vector of parameters and perturbation values.

[2020-04-09 19:12] kingaa commented on #106
Ah, I see.  I'll close this issue now, but feel free to re-open it if needed.

[2020-04-09 19:12] #106 closed, assigned to kingaa

[2020-04-14 14:34] stefanpetrevski opened #107 "Measles Example"
Hello Dr. King,

I am trying to run the measles example (https://kingaa.github.io/clim-dis/parest/parest.html) and have gone through all the installations and FAQs to ensure that everything is in place.

I have replaced the "initializer" with "rinit" but then obtain an error:
"Error: in ‘trajectory’: in ‘rinit’: variable 'gamma' not found among the parameters."
It appears after the following block

[2020-04-14 15:48] kingaa commented on #107
Have you furnished a value for the parameter "gamma"?

[2020-04-14 15:57] stefanpetrevski commented on #107
Yes. In the definition of pomp, gamma is inputed as a parameter name. Then, when building the function which minimizes the square error for beta, gamma is set to 1. The complete code reads (taken from your website without the approximate R0 estimation at the beginning):

[code]
Thank you very much.

[2020-04-14 16:57] kingaa commented on #107
In `f1`, `gamma` is provided as a parameter.  However, in `niameyA`, is there a parameter named "gamma"?

[code]

[2020-04-14 16:59] stefanpetrevski commented on #107
Yes it seems so:
[code]

[2020-04-14 17:00] kingaa commented on #107
No. `coef(niameyA)`.

[2020-04-14 17:14] stefanpetrevski commented on #107
Running
[code]
gives an output of:
[code]
So "gamma" is indeed the parameter.
Following https://kingaa.github.io/clim-dis/parest/parest.html, if instead I specify:
[code]
then the error is instead "Error in `[.data.frame`(x, by) : undefined columns selected".

[2020-04-14 17:29] kingaa commented on #107
Good.  What are the variable names in `as.data.frame(niameyA)`?  Is there one called "time"?

[2020-04-14 17:33] stefanpetrevski commented on #107
The output of the following is NULL:
[code]
That explains the error, but I must provide the arguments when I use data=join(..). What should I use instead, if no other variables appear?

[2020-04-14 17:39] kingaa commented on #107
No.  You can't apply `coef` to a data frame.  Try:
`names(as.data.frame(niameyA))`.

[2020-04-14 17:43] stefanpetrevski commented on #107
I see, thank you for the correction.
[code]
gives
[code]
But then if I change "time" to "biweek", so that:
[code]
the error becomes "Error: All inputs to rbind.fill must be data.frames".

[2020-04-14 17:45] kingaa commented on #107
Is `x` a data frame?

[2020-04-14 17:49] stefanpetrevski commented on #107
No, `typeof` says it is a `double`. It shouldn't be, however, as it is storing a trajectory which we want to plot alongside the existing data for the Niamey outbreak. What should be corrected?

[2020-04-14 17:50] kingaa commented on #107
With version 2, `trajectory` syntax changed.  To get a data frame result, use `format="data.frame"` instead of `as.data.frame=TRUE`.

[2020-04-14 17:51] kingaa commented on #107
There is [a document](http://kingaa.github.io/pomp/vignettes/upgrade_guide.html) detailing all the changes that came with version 2.

[2020-04-14 18:01] stefanpetrevski commented on #107
I see. I spotted the "initializer" to "rinit" change in the document, but I didn't see the data formatting change, thank you very much. So now I have changed the definition of x to:
[code]
and it follows that x is now a list. To reflect this change, I should also modify the new syntax for:
[code]
So finally, how to join niameyA as a data.frame with this new format command?

[2020-04-14 18:08] kingaa commented on #107
`x` is a list, but is also a data frame (all data frames are lists).  Does the `ggplot` code above not work?

[2020-04-14 18:13] stefanpetrevski commented on #107
Yes, I have just modified the aesthetics from x=time to x=biweek. The new reformatting was sufficient, ggplot does not need to be modified and the code now works. Thank you very much, your comments were extremely helpful!

[2020-04-14 18:20] kingaa commented on #107
Glad to hear it.

[2020-04-14 18:20] #107 closed, assigned to kingaa

[2020-04-14 19:34] NedaJalali-codes commented on #103
Hi,
I tried to run code this but I got an error:
[code]
I also installed the "pomp" from the source but it did not work either.

[2020-04-14 19:51] kingaa commented on #103
[FAQ 1.4](https://kingaa.github.io/pomp/FAQ.html#i-am-running-a-piece-of-pomp-code-i-found-on-the-web-but-i-get-errors.-what-is-going-on)

[2020-04-14 19:51] #103 closed, assigned to kingaa

[2020-04-16 15:32] kingaa commented on #105
@Quenton1, not having heard more from you, I'm closing this issue.  Feel free to re-open if there is more to discuss.

[2020-04-16 17:41] NedaJalali-codes opened #108 "pmcmc example for SIR model in pomp version 2"
Would you please provide an example of the "pmcmc" for a SIR model in the "pmcmc" R documentation?

[2020-04-17 14:26] #105 closed, assigned to kingaa

[2020-04-17 14:27] kingaa commented on #108
@NedaJalali-codes: I will add this to the to-do list.  However, priorities at the moment being what they are, I doubt I will get to this within the next several months.  If you'd like to take a stab at it yourself, we are always accepting contributions!

[2020-04-17 22:32] NedaJalali-codes commented on #108
Thanks for your response. The reason that I was looking for an example is that when I trying to run "pmcmc" I got this error:
```‘dmeasure’ returns illegal value.```
So I wanted to check my codes with an example to see where I made a mistake.

[2020-04-18 13:17] kingaa commented on #108
@NedaJalali-codes: have a look at [FAQ 4.1](http://kingaa.github.io/pomp/FAQ.html#illegal-dmeasure).  If you can't resolve the issue by following that advice, be sure to read [FAQ 1.1](http://kingaa.github.io/pomp/FAQ.html#effective-request) before re-opening this issue, or opening a new one!  Thanks!

[2020-04-18 13:17] #108 closed, assigned to kingaa

[2020-04-20 13:49] NedaJalali-codes opened #109 "Not issue, Need help with pmcmc"
I am running pmcmc on a sir model using the folllowing code:
[code]
First, if I do not use "  lik = (give_log) ? lik : exp(like);" in "dmeasure" component an error comes up that the dmeasure returns illegal values. So I  have to keep it in dmeasure.
Also , when I checked the trace plots, they look unusual. The trace plots of all parameters decreased to large negative numbers.
I did not provide pri

[2020-04-20 14:38] kingaa commented on #109
Your dmeasure snippet is strange.  `dbinom` returns the log likelihood if `give_log=1` and the likelihood if `give_log=0`.  You get an error if you remove the second line, but it does not follow that if you add a line that makes an error go away, that that line of code is correct.  In fact, this line of code introduces an error.  If `give_log=0` (i.e., FALSE), it causes `lik` to become the exponen

[2020-04-20 16:12] NedaJalali-codes commented on #109
Thanks for your response.
I changed` t0 = 0` to `t0 = 1` (the first time) and removed the `lik = (give_log) ? lik : exp(lik);` then the previous problem of `dmeasure` solved but I got the following error. I am not sure it is because of filtering failures or something else is going on:
[code]

[2020-04-20 16:21] kingaa commented on #109
Hmm.  What version of **pomp** are you using?

[2020-04-20 16:22] kingaa commented on #109
So you no longer get the "illegal dmeasure" error?

[2020-04-20 16:29] NedaJalali-codes commented on #109
No, I do not get "illegal dmeasure".
The version of pomp is "version 2.7.1.0".

[2020-04-20 16:47] kingaa commented on #109
Certainly you should upgrade to **pomp** 2.8.

I may have figured out where the problem lies.  The proposal you have specified is so broad that you are putting in parameters that are extreme.  The binomial likelihood will return 0, for example, if the reporting probability is sufficiently close to 1 and the data differ at all from `H`.  Likewise, if the reporting probability is sufficiently close

[2020-04-20 17:22] NedaJalali-codes commented on #109
I still get the same error:
Here is the data and the code that I run:
https://github.com/NedaJalali-codes/pmcmc/blob/master/sir_data.csv
[code]

[2020-04-20 18:00] kingaa commented on #109
Many of the parameters that you are testing using `pmcmc` correspond to likelihoods that are extremely low. so low that the machine represents the likelihood as zero.  As a result, in the Metropolis-Hastings accept/reject step, there is a comparison with a `NaN`, which results in the error you see.

In the next release, I will trap this error.  In the meantime, I suggest you set a value of `tol` t

[2020-04-20 18:07] NedaJalali-codes commented on #109
Thank you so much for your help.

[2020-04-20 18:37] bbolker opened #110 "fragility of reulermultinom?"
I'm working on figuring this out for myself, but in the meanwhile: `reulermultinom` seems to have an issue with very small probabilities and large states.  This seems to work in naive R (so it's not simply a problem of floating-point limits) ...

(Just curious: why is the pomp repository so big?  I'm at 400 MB downloaded and 15% of the way through ... ??)

[code]

[dumpdata.txt](https://github.com

[2020-04-20 18:37] #109 closed, assigned to kingaa

[2020-04-20 18:55] bbolker commented on #110
Oops.  State was non-integer but so big that I didn't notice. Sorry.  (Also, the repo is "only" 768 M or so)

[2020-04-20 19:39] kingaa commented on #110
@bbolker: Was in the process of replying.  Yes, non-integer `size` is the problem.  Wonder why **R** doesn't have the same problem, or rather, why `rbinom` does but `rmultinom` does not:
[code]
It does add a degree of fragility: why is it there?  Thoughts?

768 MB = lots of history and very thorough testing!

[2020-05-05 13:23] munozav opened #111 "Parameters to function in argument events to trajectory function"
Dear Aaron,
Thanks so much for your great package. At this moment I am passing an event function,  that is dependable on the `param`s list, into the argument `events` to `trajectory`.

The `events` function works perfectly if before running the `trajectory` function, `params` list is saved in **R** environment with a name different to "params", let's say "pardef" and it is called by this name in t

[2020-05-05 21:35] kingaa commented on #111
@munozav: I'm afraid **pomp** doesn't really support the full range of dynamical systems that **deSolve** does.  In particular, **pomp** only allows for deterministic skeletons that are either vectorfields or maps.   It is possible, using **deSolve**, to handle a broader class of systems, including those for which state variables undergo finite jumps at specified "events".  Why not use **deSolve**

[2020-05-05 21:40] #110 closed, assigned to kingaa

[2020-05-07 19:30] munozav commented on #111
Many thanks for your prompt reply, unfortunately, I require to use pomp, because of its great functionality :).
Let me see if I understood you well.  The parameter set that I want to pass into the event function is the same as the one introduced into the argument params in the trajectory function.
[code]
Do you know where I should introduce `pardef.v` in the trajectory function?  Many thanks for a

[2020-05-08 11:58] kingaa commented on #111
I was imagining you would define a matrix of parameters `pardef`, such that each column is a distinct parameter vector.  Then, you would expand the state vector to include a new state variable, say `index`, and the parameter vector to contain a new parameter, say `Index`.  You would define the derivative of `index` to be identically zero when specifying the deterministic skeleton.  In `rinit`, `in

[2020-05-08 12:01] kingaa commented on #111
@munozav: could you provide a very simple example?  I'm now curious as to why **deSolve** should not be able to handle this situation.

[2020-05-08 19:59] kingaa commented on #111
@munozav: Consider the following:
[code]

[2020-05-08 20:57] munozav commented on #111
Aaron you are awesome!!, Thanks a lot for this example!!!.
Many many thanks for your great package and for your kind support!!!!
Have a wonderful weekend.

[2020-05-30 13:28] jdlee opened #112 "Introducing a time lag in dmeasure or rmeasure functions"
I would like to model the observations of the process as a noisy and delayed estimate of the state. It seems like it might be possible to create a measurement model that links the data to a lagged unobserved state, but I could not find any examples of how this might be done.

Here is code that I would like to use to set "obs" equal to a lagged instance of `Y`, something like `Y[t-1]`.  Any suggest

[2020-06-03 16:59] kingaa commented on #112
@jdlee: your request is a bit problematic.  In particular, for **pomp**'s inference algorithms to be mathematically valid, they must respect the structure of a POMP model.  In particular, there are certain relationships of conditional independence among the model variables that are assumed to hold.  These are diagrammed [here](https://kingaa.github.io/sbied/intro/intro.html#another-pomp-model-sche

[2020-06-22 08:14] MathGIS opened #113 "The simulations of my POMP are reasonable, but the pfilter warned filtering failures occurred."
Recently, I build a POMP object to model the spread of diseases. The simulations seem reasonable with assumed parameters.
![DF_sim01](https://user-images.githubusercontent.com/67260616/85263534-e1d83a00-b4a1-11ea-8ba5-d93745d3b4bc.png)
![DF_sim02](https://user-images.githubusercontent.com/67260616/85263540-e3a1fd80-b4a1-11ea-8f97-e775f6d38f42.png)
However, when I computed the loglik of the assumed

[2020-06-22 12:55] kingaa commented on #113
@MathGIS: Thanks for doing such a nice job of presenting your issue.  Having all the code and the plots was really useful to help me see the issue right away.  I'm aware that it's a nontrivial amount of work to do so.  You didn't provide the data (simulated data would've worked), so I wasn't able to reproduce the issue.  I modified your codes to try and simulate the data myself, but you didn't pro

[2020-06-22 13:04] kingaa commented on #112
@jdlee: Not sure what is happening with your issue.  I am closing it for now, but feel free to reopen if more discussion is needed.

[2020-06-22 13:04] #112 closed, assigned to kingaa

[2020-06-24 15:42] MathGIS commented on #113
Thank you very much for your reply and suggestions, in fact I'm surprised to receive your reply so quickly. Please allow me to continue our discussion. I produced the codes using R version 3.6.3 and pomp version 2.8.

First, I substituted the dmeasure component according with your suggestion. But the same issue still remained.

Second, your point that the Poisson measurement error has a very small

[2020-07-01 14:46] gokhale616 opened #114 "Discrepancy in objective functions defined using trajectory and simulate"
Dear Dr. King,

I have recently hit a curious problem pertaining to what I suspect may be an issue with the solutions generated by the differential equation solvers available in the `trajectory` workhorse. A single line definition of this issue:

**Log-likelihood values for the matched trajectory generated using the function that uses workhorse `trajectory` (here, the method of integration is “ode

[2020-07-01 16:47] kingaa commented on #114
@gokhale616: Thanks for providing such a detailed example.  There are at least two levels of issues here.  One is conceptual, the other technical.

Conceptually, writing a deterministic rprocess component is strange.  The entire purpose of the rprocess component is to simulate a stochastic process.  If you have a deterministic model for the latent state process, you can use the skeleton component

[2020-07-01 17:30] gokhale616 commented on #114
@kingaa - The explanation you provide makes proper sense both conceptually and technically!

Things fell in their right place when you pointed out the mistake in my vseir_dstep. By that logic, since my skeleton which does not have the error that you mention in your comment, as it conforms to the "pomp" requirements of specifying temporary "D variables", will always fit poorly to the simulated traj

[2020-07-01 18:33] kingaa commented on #114
@gokhale616: Glad this helped.

One minor point:

In writing a skeleton snippet, the "D variables" are not really temporary variables.  They are, however, distinct from the state variables.  You seem to be a decent C programmer.  Have a look at what `spy` shows you so you can understand just what the "D variables", the state variables, parameters, and covariates are at the C level!

I sympathize w

[2020-07-01 18:56] kingaa commented on #113
I am not sure these are the correct diagnoses either, but they seem to be consistent with what we observe so far.  I suggest you try replacing the Poisson measurement model with one that has some overdispersion.  For example, a negative binomial measurement model, as for example was done [here](https://kingaa.github.io/sbied/ebola/model.html#Measurement_model:_overdispersed_count_data).

[2020-07-02 15:26] MathGIS commented on #113
@kingaa Thank  you very much! I'll try it.

[2020-07-02 17:35] kingaa commented on #113
I'll close this issue now, but feel free to re-open it if more discussion is warranted.

[2020-07-02 17:35] #113 closed, assigned to kingaa

[2020-07-07 01:19] bogaotory commented on #11
In regards to the solution given in [FAQ 3.1](https://kingaa.github.io/pomp/FAQ.html#vector-in-csnippet), I wonder what the recommended solution / workaround is if the `rprocess` function is defined in R rather than in a C snippet?

Say we want to keep track of two state variables, `A` and `B`. `A` is a single numeric value, so it is fine. But `B` is a vector of length 10.

If I were to "copy & pa

[2020-07-07 02:37] kingaa commented on #11
The basic principle is that **pomp** expects every real-valued parameter to have a name.  So you would name your `B` parameters `B1` through `B10`.  You would then have to manually reconstruct `B`.  I think this is what you mean.  It is not very elegant.

I suppose you could also rely on the fact that *all* the state variables are passed to each of the basic model components, whether they are need

[2020-07-07 11:27] bogaotory commented on #11
Thanks very much for the reply and insight, (and also for authoring this package in the first place and the many documentations / tutorials that come with it.)

You touched on many good points such as code elegance, efficiency, safety in your comment, and indeed the issue on hand as it seems is not about whether a solution exist, but about what kind of solution one wish to have. Code elegance is q

[2020-07-07 11:44] kingaa commented on #11
Yes, I think this is a sensible solution.  I suppose one could even take it to extremes: using the **pomp** state vector (which as you know is constrained to be a named double-precision vector) merely to hold pointers to arbitrary memory defined elsewhere in the code.  The chief inelegance is using a double-precision number to hold a pointer, but one can get over this, I suppose.

Your understandi

[2020-07-07 12:35] bogaotory commented on #11
(I wouldn't worry about it too much because like I said my instinct is that the reduction of the state space take place in the `rmeasure` function. And as a user, I was always going to try to break the package before accepting any assumption that does not work in my favour as a fact.) But here goes what I think would probably help:

The first documentation I read about `pomp` is [Getting started w

[2020-07-07 13:16] kingaa commented on #11
Good idea!

Not at all.  Generically, I find pessimism to be a good default setting.  Then, when you are surprised, it tends to be pleasantly so.

Thanks for your input @bogaotory!

[2020-07-07 14:29] bogaotory commented on #11
No problem. Glad to have helped!

[2020-07-07 15:54] #11 closed, assigned to kingaa

[2020-07-09 06:32] navarromia2 opened #115 "Error: error in building shared-object library from C snippets: in ‘Cbuilder’: compilation error"
Hello Aaron,

After going through your FAQ and trying the two installation methods, as well as installing XCode, I keep getting the compilation error. I followed your script linked below using the negative binomial distribution. Let me know what you may think the error is. I also looked at forum posts and reviewed your advice there (ex. installing gfortran) and still no luck.

Best,
Mia

(I also a

[2020-07-09 11:29] kingaa commented on #115
@navarromia2: the compiler seems to be complaining
[code]
Is there a file or directory at that location on your machine?

[2020-07-09 11:37] kingaa commented on #115
Look at the line invoking the compiler:
[code]
It seems you have perhaps a directory named `/Users/mianavarro 1`?  Command-line tools handle file and directory names with spaces in them properly only if you take care to quote them appropriately.  That's always something of a difficulty, as different kinds of quotes are needed in different contexts.  The easiest solution is probably just to remove

[2020-07-09 23:09] navarromia2 commented on #115
Yes, there is a folder in the Documents directory called GADL_Model, which holds the R script and the csv.

[2020-07-09 23:39] navarromia2 commented on #115
After fixing the space and turning the periods into underscores in variable names, I now have this error:

[code]

[2020-07-10 12:23] bogaotory commented on #114
Can I just piggyback on this thread to dig a bit further on the difference in implementation for `simulation` and `trajectory` in pomp please. You pointed out the difference in deterministic and stochastic models in your comment which makes a lot of sense, and thus the distinction between `simulate` and `trajectory`. What I found a little difficult to understand whilst reading [Getting started wit

[2020-07-10 12:55] kingaa commented on #115
I see you understood to fix the path to the `GADL_Model` folder.

On to your latest message.  The error message says
[code]

Have you declared `dSK_dt`?  It seems you have not, at least in the last code that you have shown.

The compiler messages are generally somewhat informative, but one must read them for them to be useful.  If these messages are not sufficiently meaningful, one can often googl

[2020-07-10 12:55] #115 closed, assigned to kingaa

[2020-07-10 13:26] kingaa commented on #114
You are indeed digging deeper!  You will not be surprised, then, if things become a bit more complex.

Your first question is "Why should we be tracing derivatives when it comes to deterministic models?"  Well, when one has a continuous-time, finite-order, Markovian, deterministic system, and its trajectories are smooth in the time direction, it is quite natural, and traditional, to encode the sys

[2020-07-10 18:33] bogaotory commented on #114
This is exactly what I have done in my code. I was going to mention it as a third question, but then I thought I know it works anyway and did not include it in my previous comment. It is good to know that I'm not overly "abusing" the system. Thank you!

My use case is that we have an ODE system (vectorfield) that we use with `deSolve` already, and we also have an Rcpp version of it to run faster.

[2020-07-11 13:42] kingaa commented on #114
I'll close the issue now.  Feel free to reopen if more discussion is warranted.

[2020-07-11 13:42] #114 closed, assigned to kingaa

[2020-07-21 14:07] fomotis opened #116 "Error: in ‘subplex’: in ‘trajectory’: in ‘flow’: error in ODE integrator: illegal input detected before taking any integration steps"
I am trying to fit a chanied binomial model for SEI(Ip, Ia, Im)ICR to COVID-19 data from Nigeria using the pomp approach. I divided the I compartments into 3 (Ip = presymptomatic, Im = mild infection and Ia = asymptomatic). I also included an IC compartment for Isolation centres. I successfully get simulations from this model
**PROBLEM**
whenever I try to estimate parameters using the subplex() fu

[2020-07-21 14:45] kingaa commented on #116
@fomotis, let me see if I can help you.  Thank you for providing so much detail.  I tried to run the codes but got the following error:
[code]
which is just because you did not provide the data.  Could you please do so?  If you don't want to share the actual data, perhaps you could provide files of the same shape and size and broad characteristics of the data, just so that I can run the code and s

[2020-07-21 15:18] fomotis commented on #116
I have attached the dataset below. I used the following codes to pre-process the dataset

[nigeria_covid-19_subnational.zip](https://github.com/kingaa/pomp/files/4954403/nigeria_covid-19_subnational.zip)
[code]

[2020-07-21 16:28] kingaa commented on #116
Thanks, @fomotis.  I found three errors in your code.  First, you had improper specification for the dmeasure components.  The following are appropriate.  If you do not understand why the codes you sent are fixed by these, let me know.

[code]

Second, you were inserting untransformed values of the three parameters you want to estimate into `subplex`.  Since you have specified parameter transforma

[2020-07-21 18:35] fomotis commented on #116
Thank you so much for your prompt help. I would never have seen these. I must have forgotten about DN_ICD and the lik part. I certainly don't want to set DN_ICD to 0 :). I have always thought the parameter transformations happen internally. I must have misunderstood the process then because I always supplied untransformed starting values.

[2020-07-21 19:19] kingaa commented on #116
Yes, they do happen internally, but the optimizer (e.g. `subplex`) doesn't know anything about them.

Glad to have helped!

[2020-07-21 19:25] kingaa commented on #116
@fomotis, you actually did me a good favor with this report.  I will think about whether `flow` should be changed to set the vectorfield to zero prior to the user's C snippet being evaluated.  On the other hand, while this would eliminate this error, it might have made it more difficult for you to find out that you had forgotten to give an equation for the 19th variable.  Perhaps an entry in the F

[2020-07-21 22:44] fomotis commented on #116
I think setting the vector field to zero apriori isn't a bad idea, but it could lead to more errors and questions. I think it is better to set up a variable that counts the state variables in both the deterministic skeleton and rmeasure. You could print a warning on compilation notifying the user of the imbalance in the number of state variables and that the unspecified ones are set to zero. I thi

[2020-07-22 13:27] kingaa commented on #116
Interesting idea.  I don't quite see how to implement it, though.  The user's C snippet is monolithic, so nothing can be done inside that.  I could set the variables. before executing the C snippet, to NA, for example, and then check how many are still NA afterward.  This would incur a run-time cost and make the code more complex, so I think we should contemplate it a bit further before deciding i

[2020-07-22 13:35] kingaa commented on #116
What we really need are tools that can analyze the C snippets.  For example, if we could parse the C snippets, their structure could be validated prior to compilation, including checks like the one you propose.  One could go farther, actually cross-checking rmeasure and dmeasure and rprocess and skeleton components, for example.  It would also potentially eliminate the need for `statenames` and `p

[2020-07-22 13:46] fomotis commented on #116
Ah! I see. An FAQ sounds appropriate then to avoid the additional computational cost. In terms of the deterministic skeleton, I am of the school of thought that even if interest lies in the stochastic version of a model, probably efforts should start from the deterministic version of that model. Possibly, an old school way of thinking. For example in my case, interest is actually in the stochastic

[2020-07-22 14:20] kingaa commented on #116
I agree that there is a great deal of interest in the deterministic aspects of a model, even if it is the stochastic model that is advanced as an explanation.

I think it does make sense to fit a deterministic model as a way of narrowing down the space to be searched.  It can be misleading, of course, but if it is misleading, it's likely to be so for interesting reasons!

[2020-07-24 11:25] fomotis commented on #116
Hello @kingaa,
Thank you for your help on the deterministic model once again, but it appears I still need help concerning my model.
I am trying to do particle filtering on the model below. I made some changes to include Euler multinomial distribution instead of the chained Binomial model after going through your work on Measles. The conditional likelihood goes to 0 very fast, and I am unable to ge

[2020-07-24 13:31] DimitarTerziev opened #117 "Error in profiles.R file"
I am trying to reproduce your codes from https://royalsocietypublishing.org/action/downloadSupplement?doi=10.1098%2Frspb.2015.0347&file=rspb20150347supp1.pdf, and I realized that the **profiles.R** file does not work properly with that version of ebola.R, because there are some updates of the package "pomp", particularly for some of the arguments in pomp().

I have updated the file ebola.R as sugg

[2020-07-25 08:49] fomotis opened #118 "Conditional likelihood goes to 0"
Thank you for your help on the deterministic model once again, but it appears I still need help concerning my model.
I am trying to do particle filtering on the model below. I made some changes to include Euler multinomial distribution instead of the chained Binomial model after going through your work on Measles. The conditional likelihood goes to 0 very fast, and I am unable to get the standard

[2020-07-26 22:23] bogaotory opened #119 "On the `give_log` flag in the `dmeasure` component"
https://github.com/kingaa/pomp/blob/467720ba63418590a5a96751cf51acf312f58d47/vignettes/getting_started.Rmd#L731-L737

My (A newbie's) understanding of the `give_log` (`log` in the case of R-defined `dmeasure` function) parameter is that essentially the `dmeasure` function needs to have a structure that looks something like this:

[code]
Is this correct? Could you also point me to the right directi

[2020-07-27 12:52] kingaa commented on #116
The error

signifies that all particles have zero likelihood.  This may be due to the improper specification of the dmeasure in both your snippets above.  When `give_log = 0`, the snippet must fill `lik`' with the likelihood, and when `give_log=1`, it must fill it with the log likelihood.  You are passing `give_log` to the low-level `dnbinom_mu` function, and then taking the log again (or not).  T

[2020-07-27 13:12] kingaa commented on #117
Lots of things have changed in **pomp** since that paper was written.  Have a look at [FAQ 1.4](https://kingaa.github.io/pomp/FAQ.html#i-am-running-a-piece-of-pomp-code-i-found-on-the-web-but-i-get-errors.-what-is-going-on).  If you want a short-cut to updated versions of those codes, they are available as part of the [short course](https://kingaa.github.io/sbied/) (Lesson 7 in particular).

The e

[2020-07-27 13:18] kingaa commented on #118
See comments on [Issue #116](https://github.com/kingaa/pomp/issues/116#issuecomment-664377234).

[2020-07-27 13:18] #118 closed, assigned to kingaa

[2020-07-27 13:30] kingaa commented on #119
You have the right idea.  Of course, you would not bother to evaluate both likelihood and log likelihood first if you only wanted one of these.  Also, the dmeasure function does not return a value, so the code would look more like:
[code]

With respect to your second request, I'm not sure exactly what you want to know, but here are a couple of reflections.

1. Some algorithms may want the likeliho

[2020-07-27 13:33] kingaa commented on #117
Am closing this issue: feel free to re-open if more discussion is needed.

[2020-07-27 13:35] fomotis commented on #116
Thank you for your earlier response. I changed my dmeasure to the following code and I still have the same error with the standard error. I noticed that the likelihood is close to 0 for the 100 particles I ran. However, the conditional likelihood plot isn't 0 as before. I believe I am still missing something here.
[code]

[2020-07-27 14:09] kingaa commented on #116
I don't see anything wrong with the code.  You might try including the parameters as well in your `Rprintf` statement, to verify that, e.g., neither `tetha` nor `rho` are taking invalid or nonsense values.  I have glanced over the simulator code as well, and see nothing that occurs to me as an obvious mistake.  You may need to dig deeper into the parameters and states that are actually being explo

[2020-07-27 15:03] bogaotory commented on #119
Thanks for the prompt reply.

I guess my question is when do pomp's algorithms such as `mif2` decide to calculate the *log likelihood* instead of *likelihood* and vice versa? The user implement `dmeasure` such that it may return *log likelihood* when `give_log` is TRUE, and return *likelihood* when `give_log` is FALSE. But the `dmeasure` function is called by algorithms such as `mif2`, not by the

[2020-07-27 15:16] fomotis commented on #116
Hello @kingaa ,
the following code gave me the standard error. I realised that there must be replications after studying the logmeanexp source code.

replicate(n = 5, logLik(pfilter(Lagos_covid_model, Np = 2000, params = params))) %>% logmeanexp(se = TRUE)

[2020-07-27 15:26] kingaa commented on #119
Yes, **pomp** makes that decision.  The decision depends on the algorithm.  The user must provide for both cases.  To figure out when it is called with what value, you can always refer to the source (e.g., [here](https://github.com/kingaa/pomp/blob/master/R/mif2.R#L447)).  But the point is that the user doesn't need to worry about that.  **pomp** is designed to be more than a set of data analysis

[2020-07-27 15:42] kingaa commented on #116
Where is the error coming from?  `replicate`, `logmeanexp`, `logLik`, or `pfilter`?

[2020-07-27 16:08] fomotis commented on #116
The error was coming from `logmeanexp`. The line  `max(x)` is responsible for the warning (In max(x) : no non-missing arguments to max; returning -Inf) I was getting regarding the standard error so I figured x had to be a vector, hence the reason why the other code worked. This might be wrong anyway.

[2020-07-27 16:22] kingaa commented on #116
OK, that is good.  Yes, evidently `logmeanexp` is getting no input.  What is the output of `replicate` alone?

[2020-07-27 16:43] fomotis commented on #116
`replicate(n = 5, logLik(pfilter(Lagos_covid_model, Np = 2000, params = params))) ` gave me 5 estimates of the loglikelihood.

[2020-07-27 16:45] kingaa commented on #116
And all were finite?  What happens when you run `logmeanexp` on the output?

[2020-07-27 16:56] fomotis commented on #116
Yes, all were finite and I did get the estimate of the loglikelihood and standard error. However, I am currently running mif2() and some of the likelihood values printed to screen are infinite.

[2020-07-27 17:09] bogaotory commented on #119
Thanks for pointing me to the right place in the source code. I was looking at `dmeasure.c` for the answer because I thought there might be a function in there to control the decision at runtime.

Of course, happy to share my thoughts. Principally, it is of interest because I wanted to know exactly how everything works, and to make sure that there is no misunderstandings at the interface between m

[2020-07-27 18:19] kingaa commented on #116
This is normal in the early stages of a search: some regions of parameter space may have likelihoods that are so small that they are effectively zero on a finite-precision machine.  On the other hand, if this were happening for a model/data/parameter combination that I was thinking of publishing on, it would give me deep concern.

[2020-07-27 18:19] #116 closed, assigned to kingaa

[2020-07-27 18:36] kingaa commented on #119
Thanks for your suggestions, @bogaotory.  I will spend some time with the relevant paragraph in the "Getting Started" document.  More generally, figuring out how to communicate the demands that are placed on the user without burdening him or her with extraneous information has been a challenge.  Clearly, there's room for improvement.

Yes, it's unfortunate, but `log` is defined in the standard C m

[2020-07-27 18:36] #119 closed, assigned to kingaa

[2020-07-27 23:13] kingaa commented on #117
@DimitarTerziev: In retrospect, I don't believe the above fully resolves the issues you have encountered.  Consider the following codes, which are updated versions of portions of the archived code you have been working with.  Do you see how to move forward from here?

[code]

[2020-07-30 07:45] alexandrasouly opened #120 "rm: cannot remove 'tmp.def': Permission denied"
Hi Aaron,

I am occasionally getting an error message that is very mysterious to me. I tried to run the following code as a local job, I closed everything else before it and left it alone for the night:
("full_pomp_model.R" creates my pomp object)
[code]

After successfully sourcing the file and loading the packages, it gave the following error message after 1h45min of runtime:
[code]

Then, to se

[2020-07-30 13:59] kingaa commented on #120
@szantamano:  This appears to be a problem with the settings on your  Windows operating system, or possibly with your installation of **Rtools**.  The issue is that a temporary file created during the compilation of C snippets has incorrect permissions.  As such, I do not think it is an issue with **pomp** per se, since it should arise when you use `R CMD SHLIB` to compile code.  The fact that it

[2020-07-31 08:31] alexandrasouly commented on #120
It did work like magic, thanks a lot!
Alexandra

[2020-07-31 13:44] kingaa commented on #120
That's great @szantamano!  By the way, although this is, I think, the first time I've seen the issue with the `tmp.def` file specifically, other Windows users have reported similar issues fixed in this same way, as I mentioned.  I've wondered how to deal with this in a more efficient way.  The problem with writing an FAQ is that the error messages vary.  Maybe I just need to have a whole set of FA

[2020-07-31 13:44] #120 closed, assigned to kingaa

[2020-07-31 13:45] kingaa commented on #117
@DimitarTerziev: I am closing this issue on the assumption that you have resolved the problem.  If that is not the case, or you wish to discuss more, feel free to reopen the issue.

[2020-07-31 13:45] #117 closed, assigned to kingaa

[2020-07-31 13:58] alexandrasouly commented on #120
I think the first page I checked was the POMP FAQ page (https://kingaa.github.io/pomp/FAQ.html), so I think adding the "Note to Windows users" section there would be helpful!

[2020-08-04 12:56] bogaotory opened #121 "manual on rw.sd schedule"
https://github.com/kingaa/pomp/blob/344ecc2230eff9722cb6fe905a6ed77a9045ec05/manual/mif2.html#L207-L211

I wonder if there are a couple of typos here for `b` and `d` the correct versions should be:
[code]

Also, I wonder if there is a way to extract the parameter value over time in the last iteration? Similar to the way `eff.sample size` and `cond.logLik` can be applied to `mif2` to get trace of t

[2020-08-04 13:25] kingaa commented on #121
Not sure why you think there's a typo.  The code matches the text description, no?

You get the parameter value at the last `mif2` iteration using `coef`.

[2020-08-04 14:19] bogaotory commented on #121
For `b`, firstly I'm not quite sure if `b=ifelse(0.2, time==time[1], 0)` is a correct `ifelse` expression? Secondly, in the text `b` and `c` are equivalent as in "parameter b and c both get perturbations of s.d. 0.2 only before the first observation". Therefore I think the correct expression is `b=ifelse(time<=time[1], 0.2, 0)` (small correction from my first message)

For `d`, I actually think th